<div ng-hide="editingWebhook || loadingWebhooks">
    <div class="setting-bank-accounts panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Webhooks</span>
            <a ng-click="openCreateWebhookModal('app/pages/webhooks/webhooksList/addWebhookModal/addWebhookModal.html','md')"
               class="user-details-panel-link pull-right pointer">Add webhook</a>
        </div>
        <div class="panel-body">
            <table ng-show="webhookList.length > 0" class="table custom-table">
                <tr class="divider">
                    <th class="no-left-padding">Event</th>
                    <th>URL</th>
                    <th>Secret</th>
                    <th>Condition</th>
                    <th></th>
                </tr>
                <tr ng-repeat="webhook in webhookList">
                    <td class="table-row-center transactions-list-element no-left-padding" title="{{webhook.event}}" ng-bind="webhook.event | capitalizeDottedSentence | capitalizeUnderscoredSentence"></td>
                    <td class="table-row-center transactions-list-element" title="{{webhook.url}}" ng-bind="webhook.url"></td>
                    <td class="table-row-center transactions-list-element" title="{{webhook.secret}}" ng-bind="webhook.secret"></td>
                    <td class="table-row-center transactions-list-element" title="{{webhook.condition}}" ng-bind="webhook.condition"></td>
                    <td width="30%" class="rehive-table-row-last-child">
                        <a ng-click="openWebhooksModal('app/pages/webhooks/webhooksList/webhooksModal/webhooksModal.html','md',webhook)"
                           class="pull-right pointer ">Delete</a>
                        <a ng-click="openEditWebhookModal('app/pages/webhooks/webhooksList/editWebhookModal/editWebhookModal.html','md',webhook)"
                           class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                    </td>
                </tr>
            </table>
            <div ng-hide="webhookList.length > 0">
                <i>No webhooks added yet.</i>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingWebhooks">
    <loading-image></loading-image>
</div>
