<div ng-show="!addingToken">
    <tokens-list></tokens-list>
</div>
<div ng-show="addingToken">
    <add-token-view></add-token-view>
</div>
<div class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Change password</span>
        <a ng-click="changePassword()" class="user-details-panel-link pull-right pointer">Next</a>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Set up multi-factor authentication</span>
        <a ng-click="enableMultiFactorAuth()" class="user-details-panel-link pull-right pointer">Next</a>
    </div>
    <div class="panel-body">
        <p class="no-margin"><span class="text-subtle">Enabled multi-factor authentication:</span> {{activatedMfa | capitalizeWord}}</p>
    </div>
</div>
