<div ng-hide="loadingUserAccounts" ng-repeat="account in accounts | orderBy: '-primary'">
    <div ng-hide="loadingUserAccounts" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Account: {{account.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-show="account.primary" class="user-primary-account user-address-status">PRIMARY</span></span>
            <a ng-click="openAddAccountCurrenciesModal('app/pages/users/user/userDetails/userAccounts/addAccountCurrenciesModal/addAccountCurrenciesModal.html','md',account.reference)" class="user-details-panel-link pull-right pointer">Add currency</a>
        </div>
        <div class="panel-body">
            <table ng-show="account.currencies.length > 0" class="table">
                <tr class="user-switches-table-header">
                    <th>Currency</th>
                    <th>Available balance</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
                <tr  ng-repeat="acc in account.currencies">
                    <td width="15%" ng-bind="acc.currency.code"></td>
                    <td width="20%" title="{{acc.available_balance  | currencyModifiersFilter: acc.currency.divisibility}}">
                        {{acc.currency.symbol}} {{acc.available_balance  | currencyModifiersFilter: acc.currency.divisibility}}
                    </td>
                    <td width="30%" title="{{acc.balance  | currencyModifiersFilter: acc.currency.divisibility}}">
                        {{acc.currency.symbol}} {{acc.balance  | currencyModifiersFilter: acc.currency.divisibility}}
                    </td>
                    <td class="rehive-table-row-last-child" width="55%">
                        <a ng-click="goToSettings(acc.currency.code,account.reference)" class="pull-right pointer user-bank-edit">Settings</a>
                        <a ng-click="goToView('transactions.credit',account.user.email,account.reference)"
                           class="pull-right pointer user-bank-edit margin-right-30">Credit</a>
                        <a ng-click="goToView('transactions.debit',account.user.email,account.reference)"
                           class="pull-right pointer user-bank-edit margin-right-30">Debit</a>
                        </td>
                </tr>
            </table>
            <div ng-if="account.currencies.length == 0" ng-hide="loadingUserAccounts">
                <i style="margin-top: 10px">No currencies associated with this account yet.</i>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingUserAccounts">
    <loading-image></loading-image>
</div>
