<div ng-hide="loadingTierSwitches && (tierLevelsForSwitches.length > 0)" class="tier-limits">
    <uib-tabset active="activeTabIndex">
        <uib-tab ng-repeat="tierLevel in tierLevelsForSwitches" select="selectTier(tierLevel)" heading="Tier {{tierLevel}}">
            <div ng-hide="editingTierSwitches">
                <div ng-show="tiersSwitchesList.length > 0" class="panel">
                    <div class="panel-heading">
                        <span class="user-details-panel-title">Tier switches</span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr class="user-switches-table-header divider">
                                <th class="rehive-table-row-first-child">Tx type</th>
                                <th>Subtype</th>
                                <th>Enabled</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="tierSwitch in tiersSwitchesList">
                                <td class="transactions-list-element rehive-table-row-first-child"
                                    title="{{tierSwitch.tx_type | capitalizeWord}}" ng-bind="tierSwitch.tx_type | capitalizeWord | limitTo: '35'"></td>
                                <td title="{{tierSwitch.subtype ? tierSwitch.subtype : 'None'}}"
                                    ng-bind="tierSwitch.subtype ? tierSwitch.subtype : 'None'| limitTo: '35'"></td>
                                <td title="{{tierSwitch.enabled}}"
                                    ng-bind="tierSwitch.enabled | capitalizeWord | limitTo: '35'"></td>
                                <td class="rehive-table-row-last-child pull-right">
                                    <a ng-click="openTierSwitchesModal('app/pages/currency/settings/tierSwitches/tierSwitchesModal/tierSwitchesModal.html','md',tierSwitch)"
                                       class="pull-right pointer ">Delete</a>
                                    <a ng-click="toggleTierSwitchEditView(tierSwitch)"
                                       class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div ba-panel ng-show="tiersSwitchesList.length == 0">
                    <i>No switches are available for this tier.</i>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <span class="user-details-panel-title">Add tier switch</span>
                    </div>
                    <div class="panel-body">
                        <form name="tierSwitchForm" class="custom-form">
                            <div class="form-group">
                                <label>Transaction type <span class="required-icon">*</span></label>
                                <br>
                                <select class="form-control pointer" ng-change="getSubtypesArray(tierSwitchesParams)" ng-model="tierSwitchesParams.tx_type" ng-options="option for option in txTypeOptions" required>
                                </select>
                            </div>
                            <div ng-hide="loadingSubtypes" class="form-group">
                                <label>Subtype</label>
                                <select class="form-control pointer" ng-model="tierSwitchesParams.subtype"
                                        ng-options="subtypeOption for subtypeOption in subtypeOptions">
                                </select>
                            </div>
                            <div ng-show="loadingSubtypes">
                                <loading-image class="custom-subtype-loading"></loading-image>
                            </div>
                            <div class="form-group">
                                <label>Enabled</label>
                                <br>
                                <select class="form-control pointer" ng-model="tierSwitchesParams.enabled" ng-options="bool for bool in boolOptions" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <button ng-click="addTierSwitch(tierSwitchesParams)" ng-disabled="!tierSwitchForm.$valid" class="btn btn-primary dashboard-btn pull-right">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-show="editingTierSwitches">
                <edit-tier-switches></edit-tier-switches>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div ba-panel ng-show="!loadingTierSwitches && tierLevelsForSwitches.length == 0">
    <i>No tiers are available for this currency.</i>
</div>
<div ba-panel ng-show="loadingTierSwitches">
    <loading-image></loading-image>
</div>