<div ng-hide="addingTierLimit" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add tier limit</h4>
    </div>
    <div class="modal-body">
        <form name="addTierLimitForm" class="custom-form">
            <div class="form-group divider-20">
                <label>Transaction type <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-change="getSubtypesArray(tierLimitsParams)" ng-model="tierLimitsParams.tx_type" ng-options="option for option in txTypeOptions" required>
                </select>
            </div>
            <div class="form-group divider-20">
                <label>Currency <span class="required-icon">*</span></label>
                <select class="form-control pointer" ng-model="tierLimitsParams.currency"
                        ng-options="currency.code for currency in currenciesList track by currency.code" required>
                </select>
            </div>
            <div class="form-group divider-20">
                <label>Amount</label>
                <input type="text" class="form-control" ng-model="tierLimitsParams.value" placeholder="Enter value" />
            </div>
            <div class="form-group divider-20">
                <label>Type <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="tierLimitsParams.type" ng-options="typeOption for typeOption in typeOptions" required>
                </select>
            </div>
            <div ng-hide="loadingSubtypes" class="form-group">
                <label>Subtype</label>
                <select class="form-control pointer" ng-model="tierLimitsParams.subtype" ng-options="subtypeOption for subtypeOption in subtypeOptions">
                </select>
            </div>
            <div ng-show="loadingSubtypes">
                <loading-image class="custom-subtype-loading"></loading-image>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="addTierLimit(tierLimitsParams)" ng-disabled="!addTierLimitForm.$valid"
                class="btn btn-primary dashboard-btn pull-right">Add</button>
    </div>
</div>
<div ng-show="addingTierLimit">
    <loading-image></loading-image>
</div>
