<div ng-hide="loadingGroup" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Add user to group</span>
        <a ng-click="$dismiss()" class="panel-modal-close-icon pull-right pointer">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </a>
    </div>
    <div class="panel-body">
        <form name="userToGroupForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Input type</label>
                <br>
                <select class="form-control pointer" ng-model="userGroupParams.inputType"
                        ng-options="inputType for inputType in userOptions">
                </select>
            </div>
            <div class="form-group">
                <label>Search user</label>
                <input type="text" ng-model="userGroupParams.user"
                       placeholder="Enter user id, mobile number or email address"
                       auto-focus class="form-control">
            </div>
            <div class="form-group">
                <button ng-click="getUser(userGroupParams)" ng-disabled="!userToGroupForm.$valid"
                        class="btn btn-primary user-accounts-btn pull-right">Add</button>
                <button ng-click="$dismiss()" class="btn btn-default pull-left user-accounts-btn">Close</button>
            </div>
        </form>
    </div>
</div>
<div ba-panel ng-show="loadingGroup">
    <loading-image></loading-image>
</div>