<div ng-hide="loadingGroupAccountConfigurations || editingGroupAccountConfiguration" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Account configurations</span>
    </div>
    <div class="panel-body">
        <table ng-show="groupAccountConfigurationsList.length > 0" class="table">
            <tr class="user-switches-table-header divider">
                <th class="rehive-table-row-first-child">Name</th>
                <th>Label</th>
                <th>Default</th>
                <th>Primary</th>
                <th></th>
            </tr>
            <tr ng-repeat="groupAccountConfiguration in groupAccountConfigurationsList">
                <td class="transactions-list-element rehive-table-row-first-child"
                    title="{{groupAccountConfiguration.name | capitalizeWord}}" ng-bind="groupAccountConfiguration.name"></td>
                <td title="{{groupAccountConfiguration.label}}"
                    ng-bind="groupAccountConfiguration.label"></td>
                <td class="transactions-list-element">
                    <input class="custom-rehive-checkbox" ng-model="groupAccountConfiguration.default" type="checkbox" disabled>
                </td>
                <td class="transactions-list-element">
                    <input class="custom-rehive-checkbox" ng-model="groupAccountConfiguration.primary" type="checkbox" disabled>
                </td>
                <td class="rehive-table-row-last-child pull-right">
                    <a ng-click="openGroupAccountConfigurationsModal('app/pages/settings/groupsManagement/group/groupAccountConfigurations/groupAccountConfigurationsModal/groupAccountConfigurationsModal.html','md',groupAccountConfiguration)"
                       class="pull-right pointer ">Delete</a>
                    <a ng-click="toggleGroupAccountConfigurationEditView(groupAccountConfiguration)"
                       class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                </td>
            </tr>
        </table>
        <div ng-show="groupAccountConfigurationsList.length > 0">
            <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="groupAccountConfigurationsData.count" ng-model="pagination.pageNo"
               max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getGroupAccountConfigurations()"
               previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
        </div>
        <div ng-show="!loadingGroupAccountConfigurations && groupAccountConfigurationsList.length == 0">
            <i>No account configurations are available for this group.</i>
        </div>
    </div>
</div>
<div ng-hide="loadingGroupAccountConfigurations || editingGroupAccountConfiguration" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Add account configuration</span>
    </div>
    <div class="panel-body">
        <form name="accountConfigurationForm" class="custom-form">
            <div class="form-group">
                <label>Name <span class="required-icon">*</span></label>
                <br>
                <input type="text" class="form-control" ng-model="groupAccountConfigurationParams.name" placeholder="Enter name" required/>
            </div>
            <div class="form-group">
                <label>Label <span class="required-icon">*</span></label>
                <br>
                <input type="text" class="form-control" ng-model="groupAccountConfigurationParams.label" placeholder="Enter label" required/>
            </div>
            <div class="form-group">
                <label>Default</label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="groupAccountConfigurationParams.default" type="checkbox">
            </div>
            <div class="form-group">
                <label>Primary</span></label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="groupAccountConfigurationParams.primary" type="checkbox">
            </div>
            <div class="form-group">
                <button ng-click="AddGroupAccountConfigurations(groupAccountConfigurationParams)" ng-disabled="!accountConfigurationForm.$valid" class="btn btn-primary dashboard-btn pull-right">Add</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="editingGroupAccountConfiguration">
    <edit-group-account-configuration></edit-group-account-configuration>
</div>
<div ba-panel ng-show="loadingGroupAccountConfigurations">
    <loading-image></loading-image>
</div>