<div ng-hide="loadingGroupAccountConfigurations" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Edit account configuration</span>
    </div>
    <div class="panel-body">
        <form name="editAccountConfigurationForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Name <span class="required-icon">*</span></label>
                <br>
                <input type="text" class="form-control" ng-model="editGroupAccountConfigurationObj.name"
                       ng-change="editGroupAccountConfigurationObj.name = editGroupAccountConfigurationObj.name.toLowerCase()"
                       placeholder="Enter name" required/>
            </div>
            <div class="form-group">
                <label>Label</label>
                <br>
                <input type="text" class="form-control" ng-model="editGroupAccountConfigurationObj.label" placeholder="Enter label"/>
            </div>
            <div class="form-group">
                <label>Default</label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="editGroupAccountConfigurationObj.default" type="checkbox">
            </div>
            <div class="form-group">
                <label>Primary</span></label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="editGroupAccountConfigurationObj.primary" type="checkbox">
            </div>
            <div class="form-group">
                <button ng-click="updateAccountConfiguration(editGroupAccountConfigurationObj)" ng-disabled="!editAccountConfigurationForm.$valid" class="btn btn-primary dashboard-btn pull-right">Save</button>
                <button ng-click="goBackToAccountConfigurations()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>

<div ng-hide="loadingGroupAccountConfigurations" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Currency configurations for {{accountConfigName}} account</span>
    </div>
    <div class="panel-body">
        <table ng-show="groupAccountConfigurationCurrenciesList.length > 0" class="table">
            <tr class="user-switches-table-header divider">
                <th class="rehive-table-row-first-child">Code</th>
                <th>Symbol</th>
                <th>Description</th>
                <th>Divisibility</th>
                <th>Unit</th>
            </tr>
            <tr ng-repeat="groupAccountConfigurationCurrency in groupAccountConfigurationCurrenciesList">
                <td class="transactions-list-element rehive-table-row-first-child"
                    title="{{groupAccountConfigurationCurrency.code}}" ng-bind="groupAccountConfigurationCurrency.code"></td>
                <td class="transactions-list-element rehive-table-row-first-child"
                    title="{{groupAccountConfigurationCurrency.symbol}}" ng-bind="groupAccountConfigurationCurrency.symbol"></td>
                <td class="transactions-list-element rehive-table-row-first-child"
                    title="{{groupAccountConfigurationCurrency.description}}" ng-bind="groupAccountConfigurationCurrency.description"></td>
                <td class="transactions-list-element rehive-table-row-first-child"
                    title="{{groupAccountConfigurationCurrency.divisibility}}" ng-bind="groupAccountConfigurationCurrency.divisibility"></td>
                <td class="transactions-list-element rehive-table-row-first-child"
                    title="{{groupAccountConfigurationCurrency.unit}}" ng-bind="groupAccountConfigurationCurrency.unit"></td>
                <td class="rehive-table-row-last-child pull-right">
                    <a ng-click="deleteAccountConfigurationCurrencyPrompt(groupAccountConfigurationCurrency)"
                       class="pull-right pointer ">Delete</a>
                </td>
            </tr>
        </table>
        <div ng-show="groupAccountConfigurationCurrenciesList.length > 0">
            <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="groupAccountConfigurationCurrenciesData.count" ng-model="pagination.pageNo"
               max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getAccountConfigurationCurrencies()"
               previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
        </div>
        <div ng-show="!loadingGroupAccountConfigurations && groupAccountConfigurationCurrenciesList.length == 0">
            <i>No currencies have been added for this account configuration.</i>
        </div>
    </div>
</div>
<div ng-hide="loadingGroupAccountConfigurations" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Add currencies to {{accountConfigName}} account</span>
    </div>
    <div class="panel-body">
        <form name="groupAccountConfigurationCurrencyForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Currency <span class="required-icon">*</span> <small class="text-muted">(Hold CTRL to select multiple currencies)</small></label>
                <br>
                <select class="form-control pointer divider" ng-model="newAccountConfigurationCurrencies.list" multiple
                        ng-options="currency.code for currency in currenciesList | orderBy: 'code' track by currency.code" required>
                </select>
                <p>Currencies selected:
                    <span ng-repeat="currency in newAccountConfigurationCurrencies.list | orderBy: 'code'">
                    {{$last ? ' ' + currency.code : currency.code + ',' }}
                </span>
                </p>
            </div>
            <div class="form-group">
                <button ng-click="addGroupAccountConfigurationCurrency(newAccountConfigurationCurrencies)"
                        ng-disabled="!groupAccountConfigurationCurrencyForm.$valid" class="btn btn-primary dashboard-btn pull-right">Add</button>
            </div>
        </form>
    </div>
</div>
<div ba-panel ng-show="loadingGroupAccountConfigurations">
    <loading-image></loading-image>
</div>