.modal-title-link-1{
  margin: 2px 25px 0 0!important;
}

.column-filters-dropdown{
  display: inline-flex!important;
  width: 100%;
  & .accounts-column-multi-select{
    padding-left: 6px;
    & .chosen-container{
      width: 250px!important;
      & > .chosen-choices{
        line-height: 22px!important;
        & li.search-choice{
          margin: 6px 5px 3px 0!important;
          padding: 1px 20px 0 5px!important;
          & .search-choice-close{
            top: 2px!important;
          }
        }
        & .search-field{
          height: 22px!important;
          & input.chosen-search-input.default{
            height: 22px!important;
            margin: 0!important;
            width: 298px!important;
            &::placeholder{
            }
          }
        }
      }
    }
  }
}