.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url("../../assets/img/chosen-sprite.png") -42px 1px no-repeat!important;
}

.chosen-container-single .chosen-single div b {
  background: url("../../assets/img/chosen-sprite.png") no-repeat 0px 2px!important;
}

.chosen-container-single .chosen-single abbr {
  background: url("../../assets/img/chosen-sprite.png") -42px 1px no-repeat!important;
}

.chosen-container-single .chosen-search input[type="text"] {
  background: url("../../assets/img/chosen-sprite.png") no-repeat 100% -20px!important;
}

.chosen-rtl .chosen-search input[type="text"] {
  background: url("../../assets/img/chosen-sprite.png") no-repeat -30px -20px!important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../../assets/img/chosen-sprite@2x.png") !important;
  }
}

.reward-tag-users-input{
  & .autocomplete .suggestion-item,& .autocomplete .suggestion-item em{
    font-size: 14px!important;
  }
}

.reward-list-radio-groups{
  position: relative;
  & .reward-radio-type1 {
    position: absolute;
    top: -3px;
    left: 21px;
  }
  & .reward-radio-type2 {
    position: absolute;
    top: -3px;
    left: 87px;
  }
}

.reward-type-radio-groups{
  position: relative;
  & .reward-radio-type1 {
    position: absolute;
    top: 2px;
    left: 21px;
  }
  & .reward-radio-type2 {
    position: absolute;
    top: 2px;
    left: 87px;
  }
  & .reward-radio-type3 {
    position: absolute;
    top: 2px;
    left: 163px;
  }
}

.reward-type-radio-groups-status{
  position: relative;
  & .reward-radio-type1 {
    position: absolute;
    top: 2px;
    left: 21px;
  }
  & .reward-radio-type2 {
    position: absolute;
    top: 2px;
    left: 87px;
  }
  & .reward-radio-type3 {
    position: absolute;
    top: 2px;
    left: 168px;
  }
}

.rewards-date{
  width: 250px;
  display: inline-flex;
}

.reward-multi-select{
  & .chosen-container{
    width: 100%!important;
  }
  & .chosen-container-multi .chosen-choices{
    padding: 2.5px 12px!important;
  }
  & .chosen-container-single .chosen-single{
    height: 34px;
    padding: 5px 12px 6px 12px;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    background: none;
    & div b{
      background-position: 0 7px;
    }
    & abbr{
      top: 11px!important;
    }
  }
  & .chosen-disabled .chosen-single{
    cursor: not-allowed!important;
  }
  & tags-input .tags{
    box-shadow: none!important;
    font: 14px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  & tags-input input::placeholder{
    font: 14px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $default-text;
    opacity: 0.4;
  }
}