.panel {
  & > .panel-heading > .company-setup-title{
      font-size: 18px;
      font-weight: bold;
      color: #222D32;
  }
}
.company-setup-container{
  padding:64px;
}

ul.numbered-list {
  counter-reset: li;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;

  li {
    position: relative;
    padding: 5px 0 5px 30px;

    &:before {
      content: counter(li);
      counter-increment: li;
      height: 20px;
      width: 20px;
      border: 1px solid #222D32;
      border-radius: 50%;
      color: #222D32;
      text-align: center;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}

.list-group-item {
  border: 0px;
}

.add-new {
  margin-top: 10px;
  width: 200px!important;
}

.setup-back-btn {
  margin-right: 10px;
  border-color: lightgray!important;
  color: black!important;
  background-color: white!important;
}

.currency-setup-ul{
  padding-left: 16px!important;
  & > li{
    color: #F8CF51;
    font-size: 16px;
    & > span{
      font-size: 16px;
      color: #222D32
    }
  }
}
