.panel {
  & > .panel-heading > .company-setup-title{
      font-size: 18px;
      font-weight: bold;
      color: #222D32;
  }
}
.company-setup-container{
  padding:64px;
}
.currency-setup-ul{
  padding-left: 16px!important;
  & > li{
    color: #F8CF51;
    font-size: 16px;
    & > span{
      font-size: 16px;
      color: #222D32
    }
  }
}
