.untouched-task{
  background-color: #dcfffa;
  padding: 10px 0 10px 0!important;
}

.incomplete-touched-task{
  background-color: #edfffc;
  padding: 10px 0 10px 0!important;
}

.complete-touched-task{
  background-color: transparent;
  padding: 0 0 10px 0;
  transition: background-color 0.5s linear;
  transition: padding 0.5s linear;
  &:active{
    background-color: #dcfffa;
    padding: 10px 0 10px 0!important;
  }
}

.dashboard-task-row{
  padding: 0 0 10px 0;
}

.file-link{
  margin-top: 10px;
  display: block;
}

.dashboard-tasks-icon{
  position: relative;
  top: -12px;
}

.dashboard-task-bar{
  & > i{
    font-size: 20px;
    margin-left: 10px;
  }
}

.export-filter-list{
  padding: 0 0 0 17px;
  margin-top: 15px;
}


.dashboard-tasks-div{
  position: absolute;
  top: 48px;
  left: -559px;
}

.dashboard-tasks-box{
  z-index: 100;
  width: 600px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 2px 6px #A8A8A8;

}

@media (max-width: 1200px) {
  .show-below-1200{
    display: block;
    & .dashboard-tasks-icon-below-1200{
      & .task-icon{
        float: right;
        margin: 18px 17px 0 0;
        font-size: 22px;
        color: #B8B7C6;
      }
      & .task-icon-circle-1{
        position: absolute;
        font-size: 10px;
        display: inline-block;
        color: #03DBBB;
        top: 38px;
        margin-left: 17px;
      }
      & .task-icon-circle-2{
        color: #ed675A;
        position: absolute;
        font-size: 10px;
        display: inline-block;
        top: 38px;
        margin-left: 17px;
      }
      & .dashboard-tasks-div-below-1200{
        position: absolute;
        top: 58px;
        right: 70px;
      }
    }
  }
}