a.al-dashboard-version{
  color: $sidebar-text;
  display: block;
  font-size: 14px;
  font-weight: $font-normal;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 72px;
  cursor: default;
  margin-left: 17px;
  &:hover{
    color:$sidebar-text;
  }
}

.alternatePhoto-page-top{
  display: block;
  width:35px;
  height: 35px;
  margin: 11px 0 0 0;
  border: 2px solid #A8A8A8;
  background-color: #A8A8A8;
  border-radius: 80px;
  color: white;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
}

.profile-navbar-icon{
  position: relative;
  top: 1px;
}

.user-company-overview{
  margin: 17px 10px 0 0;
  color: white;
  text-align: right;
  & span{
    margin: 0;
    line-height: 16px;
    font-size: 16px;
    font-weight: 500;
  }
  & p{
    margin: 0;
    line-height: 20px;
    font-weight: 300;
  }
};

.page-top-search{
  width: 50vw;
  height: 40px;
  border-radius: 5px;
  background-color: #5299C3;
  color: white;
  border: none;
  padding: 15px;
  &::placeholder{
    color: white;
    font-weight: 100;
  }
  &:focus{
    border: none;
    outline: none;
  }
  &:active{
    border: none;
  }
}

.user-currency-item-list .user-currency-item {
  font-size: 16px;
  padding: 8px 20px;
}

.user-currency-dropdown-label{
  font-size: 20px;
  text-align: center;
  margin: 7px 0 13px 0;

}

.user-currency-dropdown-last-item:hover{
  background-color: #f5f5f5;
}

.no-margin{
  margin: 0 !important;
}

.user-currency-dropdown{
  width: 300px;
  top: 40px;
  max-height: 300px;
  overflow-y: scroll;
}

.user-currency{
  float: right;
  min-width: 50px;
  margin-top: 16px;
}

.al-user-currency {
  float: right;
  margin-right: 20px;
  a{
    font-size: 16px;
    span{
      color: $primary;
    }
    i{
      font-size: 17px;
      color: white;
    }
  }
}

@media screen and (max-width: $resS) {

  .al-user-currency {
    margin-right: 10px;
  }

}

@media screen and (max-width: $resXS) {

  .al-user-currency {
    margin-right: 10px;
  }

}

@media (max-width: $resXXS) {
  .user-currency-dropdown-items {
    font-size: 15px;
  }

  .user-currency-dropdown {
    width: 200px;
    top: 40px;
  }

  .al-user-currency {
    margin-right: 20px;
    a {
      font-size: 20px;
      i {
        font-size: 11px;
        color: white;
      }
    }
  }
}
