.table-actions{
  z-index: 100;
  position: absolute;
  box-shadow: 0 2px 6px #A8A8A8;
  top: 10px;
  left: 96px;
  width: 450px;
  & > .panel-heading{
    padding: 8px 8px 8px 17px !important;
    & .table-filter-heading button{
      padding: 6px 12px;
    }
  }
  & > .panel-body {
    padding: 17px 8px 14px 17px !important;
    max-height: 300px !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  & .select-actions-dropdown{
    height: 22px;
    padding: 0 4px!important;
  }
}

.stellar-testnet-hotwallet-funding-spinner img{
  display: inline-block!important;
  width: 34px;
  height: 34px;
  margin-left: 4px!important;
}

.short-dropdown{
  width: 200px!important;
}

.short-input-text{
  width: 220px!important;
}

.stellar-hotwallet-qr-code{
  display: block;
  margin: auto;
  position: relative;
  top: -20px;
  width: 225px;
  height: 225px;
}

.disable-btn{
  background-color: #A8A8A8;
  border-color: #A8A8A8;
}

.stellar-public-key-help-message{
  color: #03DBBB;
}

.stellar-hotwallet-address{
  word-wrap: break-word;
}

.ul-no-dot{
  padding-left: 0;
  list-style: none;
  & > li {
    margin-bottom: 10px;
    line-height: 20px;
  }
}

.stellar-setup-ul{
  padding-left: 18px!important;
};

.stellar-assets-table > tbody > tr > td{
  line-height: 14px!important;
  padding: 12px 6px 0 6px!important;
}

.notification-select-all-checkbox{
  position: absolute;
  top: -3px;
  right: -175px;
  width: 200px;
  & label{
    position: absolute;
    top: 3px;
    left: -61px;
    font-weight: normal;
  }
}

.notification-select-all-bulk-checkbox{
  top: 2px;
  & label{
    position: absolute;
    right: 28px;
    font-weight: normal;
  }
  & input{
    top: -4px;
  }
}

.exchange-pagination li a {
  padding: 7px 10px !important;
}

.services-panels > .panel > .panel-body{
  padding: 19px 25px;
}

.accordian-buttons{
  &> a > button{
    margin-bottom: 20px;
    width: 100%;
  }
  &> a > button:first-child{
    padding-left: 0;
  }
  &> a > button:last-child{
    padding-right: 0;
  }
}

.services-navigation{
  position: relative;
  top: -12px;
}

.service-list-navigation-ul{
  padding: 0;
}

.service-list-navigation{
  display: inline-block;
  margin-right: 50px;
  & h1{
    margin: 4px 0 4px 0 !important;
  }
  & h5{
    font-size: 16px;
    color: #A8A8A8;
  }
  & h5:hover{
    color: #F8CF51;
  }
}

.service-header .panel{
  border-top-color: #F8CF51 !important;
}

.active-notification-nav{
  color: #F8CF51 !important ;
}

.notification-webhooks-buttons{
  width: 100% !important;
}

.rehive-webhook-div-left{
  padding: 0 15px 0 0;
}

.rehive-webhook-div-right{
  padding: 0 0 0 15px;
}