.transaction-form{
  position: relative;
  & .transaction-user-details{
    display: none;
    position: absolute;
    top: -8px;
    left: 75px;
    width: 300px;
    background-color: #4d4d4d!important;
    padding: 4px 6px;
    border-radius: 0;
    text-align: left;
    line-height: 20px;
    color: white;
  }
  & .transaction-user-icon:hover ~ .transaction-user-details{
    display: block;
  }
  & .transaction-user-details::after{
    content: " ";
    position: absolute;
    top: 10%;
    z-index: 1000;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color:transparent  black transparent transparent;
  }
  & .transaction-account-details{
    display: none;
    position: absolute;
    top: 214px;
    left: 97px;
    width: 465px;
    background-color: #4d4d4d!important;
    padding: 4px 6px;
    border-radius: 0;
    text-align: left;
    line-height: 20px;
    color: white;
  }
  & .transaction-account-icon:hover ~ .transaction-account-details{
    display: block;
  }
  & .transaction-account-details::after{
    content: " ";
    position: absolute;
    top: 10%;
    z-index: 1000;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color:transparent  black transparent transparent;
  }
  & p.transaction-tooltip-title{
    padding: 0 6px;
  }
}

.transaction-account-icon{
  color: $primary!important;
  cursor: pointer;
}

.transaction-user-icon{
  color: $primary!important;
  cursor: pointer;
}

.transaction-radio-inputs{
  display: inline-block;
  & label{
    display: block;
  }
  & .transaction-radio-input-block{
    display: inline-flex;
    position: relative;
    & .transaction-radio-labels1{
      position: absolute;
      top: 2px;
      left: 21px;
    }
    & .transaction-radio-labels2{
      position: absolute;
      top: 2px;
      left: 94px;
    }
    & .transaction-radio-labels3{
      position: absolute;
      top: 2px;
      left: 167px;
    }
  }
}

.panel-header-transaction-export{
  position: absolute;
  top: 25px;
  right: 213px;
}

.panel-transaction-newTx-button{
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 6px 8px;
}

.metadata-copy-icon{
  font-size: 18px;
  position: absolute;
  top: 6px;
  right: 10px;
}

.filter-group-checkbox{
  position: absolute;
  top: -2px;
  margin-left: 12px!important;
}

.transaction-location{
  color: $primary !important;
}

.filter-count{
  color: $primary;
  margin-right: 8px;
}

.margin-left-12{
  margin-left: 12px !important;
}

.transactions-filter-btn{
  width: 76px;
}

.transactions-btn{
  width: 70px;
}

.custom-table{
  position: relative;
  top: -4px;
}

.wider-table-filters{
  width: 590px!important;
}

.table-filters{
  z-index: 100;
  position: absolute;
  box-shadow: 0 2px 6px #A8A8A8;
  top: 10px;
  width: 450px;
  & > .panel-heading{
    padding: 8px 8px 8px 17px !important;
    & .table-filter-heading button{
        padding: 6px 12px;
    }
  }
  & > .panel-body{
    padding: 8px 8px 14px 17px !important;
    max-height: 300px!important;
    overflow-y: scroll;
    overflow-x: hidden;
    & .date-filter-view{
      display: inline-flex;
    }
    & select{
      height: 22px;
      width: 120px;
      &.form-control{
        padding: 0 4px !important;
      }
    }
    & input{
      border: 1px solid #cbcbcb;
      font-size: 14px;
      box-shadow: none;
    }
    & input::placeholder{
      font-size: 14px;
    }
    & input.transaction-amount-input{
      height: 22px;
      width: 120px;
      margin-left: 12px;
      padding: 0;
      text-align: center;
    }
    & input.transaction-date-interval-input{
      height: 22px;
      width: 120px;
      margin-left: 12px;
      padding: 0;
      text-align: center;
    }
    & input.transaction-date-filter-input{
      height: 22px;
      width: 100px;
      margin-left: 12px;
      padding: 0;
      text-align: center;
    }
    & input.transaction-id-input{
      height: 22px;
      width: 310px;
      padding: 0 0 0 6px;
    }
    & input.transaction-page-size-input{
      height: 22px;
      width: 120px;
      padding: 0 0 0 6px;
    }
    & .date-filter-in-between-view{
      display: inline-flex;
      line-height: 0;
      & .glyphicon{
        font-size: 12px;
      }
    }
    & .amount-filter-in-between-view{
      display: inline-flex;
      height: 22px;
    }
    & .calender-button{
      padding: 0 6px;
    }
    & span.filter-text{
      font-size: 14px;
      color: #A8A8A8;
    }
  }
}

.table-filter-heading{
  line-height: 34px;
  height: 34px;
}

.panel-header-filter-icon-hide{
  position: absolute;
  top: 7px;
  right: 10px;
  color: #A8A8A8;
  &:hover{
    color: $primary;
  }
}

.panel-header-filter-icon-show{
  position: absolute;
  top: 7px;
  right: 10px;
  color: $primary;
}

a.panel-header-filter-clear{
  position: absolute;
  top: 6px;
  right: 34px;
  color: #A8A8A8;
  &.panel-header-filter-clear:hover{
    color: #c53321;
  }
}

.refresh-icon{
  color: $primary;
  font-size: 1.2em;
}

.image-center{
  display: block;
  margin: 0 auto 15px auto;
}

.image-overview{
  display: block;
  margin-bottom: 21px;
}

.margin-right-10{
  margin-right: 10px !important;
}

.margin-right-15{
  margin-right: 15px !important;
}

.margin-right-25{
  margin-right: 25px!important;
}

.margin-right-30{
  margin-right: 30px!important;
}

.menu-box  .menu-box-options{
  padding: 5px 0;
  box-sizing: border-box;
}

.menu-box .menu-box-options:hover{
  background-color: #f5f5f5;
}

.custom-form .required-icon{
  color: #ed675A !important;
}

.menu-box > .panel > .panel-body{
  padding: 15px 10px;
}

.menu-box > .panel > .panel-heading{
  padding: 15px 10px;
}

.menu-box .menu-box-options > h5 {
  font-size: 14px;
  font-weight: 400;
  padding: 0 4px 0 4px;
}

.apply-button{
  button{
    width: 100%;
  }
}

.metadata pre{
  margin: 0 0 20px 0;
  border-radius: 0;
  padding: 5px 34px 5px 5px;
  width: 100%;
  white-space: pre-wrap;
}

.metadata-input-textarea{
  padding: 5px 34px 5px 5px!important;
}

.transaction-details-button{
  margin: 0 15px;
  width: auto !important;
  padding: 6px !important;
}

.subscript{
  margin-top: 3px;
  font-size: small;
}

.tier-limits .tab-content{
  padding: 0;
}

.tier-form .panel-body h2{
 margin: 0 0 10px 0;
}

.upper-pagination{
  height: 30px;
  margin-bottom: 20px;
}

.transaction-history-pagination{
  margin-bottom: 0;
}

.confirm-transaction > p {
  margin-bottom: 20px;
}

.transaction-edit-btn{
  font-size: 20px;
  color: $primary;
}

@media screen and (max-width: 2000px) {
  .transactions-list-element{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1700px) {
  .transactions-list-element{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


@media screen and (max-width: 1400px) {
  .transactions-list-element{
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1305px) {
  .transactions-list-element{
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
