.user-profile-picture{
  border-radius: 100px;
  margin: 0 30px 30px 0;
}

.user-details-first-row{
  display: inline-flex;
}

.user-details-name{
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #222D32;
  margin-bottom: 8px;
}

.user-details-info{
  color: #A8A8A8;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
}

.user-details-nav-bar{
  margin: 0;
  color: #A8A8A8;
  font-weight: bold;
  list-style: none;
  padding: 0;
  li{
    font-size: 16px;
    display: inline-block;
    margin:0 25px 20px 0;
    cursor: pointer;
  }
  li:hover{
    color: $primary;
  }
}

.user-btn-export{
  position: relative;
  top: -34px;
}

.copy-clipboard a{
  margin-right: 6px;
}

.panel-header-user-icon{
  position: absolute;
  top: 10px;
  right: 120px;
}

.user-account-primary-icon{
  color: $primary;
  position: absolute;
  top: 10px;
  left: 116px;
  font-size: 16px;
}

.user-details-view{
  margin-bottom: 60px;
}

.document-info-header{
  margin-top: 0 !important;
}

.user-details-table > tbody > tr > th {
  font-size: 14px;
  padding: 2px;
  vertical-align: middle;
  line-height: 12px;
}

.user-details-table > tbody > tr > th:first-child {
  color: #979797;
}

.user-details-table > tbody > tr > .custom-table-th {
  padding: 6px 4px 6px 6px;
}

.user-details-table > tbody > tr > th:last-child{
  padding: 6px 0 6px 6px;
}

.user-accounts-btn{
  width: 80px;
}

.account-settings-table > tbody > tr> td {
  line-height: 22px;
}

.documentImage{
  background-image: url('../../assets/img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.document-modal-window .modal-dialog{
  width: 90vw;
}

@media screen and (max-width: 1300px) {
  .user-accounts-list-element{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}