.invisible-element{
  visibility: hidden;
}

.custom-rehive-checkbox{
  width: 19px;
  height: 19px;
  -webkit-appearance: none;
  background-color: #d7dcde;
  border: 1px solid #d7dcde;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-rehive-checkbox:active, .custom-rehive-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.custom-rehive-checkbox:checked {
  background-color: #5EC980;;
  border: 1px solid #5EC980;;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.custom-rehive-checkbox:checked:after {
  content: '';
  height: 7px;
  width: 11px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  left: 3px;
  color: #fff;
}

.verified-icon{
  position: relative;
  top: 2px;
  color: $success;
  background-color: white;
  font-size: 20px;
}

.verified-icon-empty{
  position: relative;
  top: 2px;
  color: #d7dcde;
  font-size: 21px;
}

.user-primary-account{
  color: $primary;
  border-color: $primary;
}

.user-document-update-form{
  padding: 8px;
}

.user-details-table-hover:hover{
  background-color: rgba(0,0,0,0.1);
}

.user-bank-table-th-title{
  text-align: right;
  color: #979797;
}

.user-bank-table-th{
  text-align: left;
}

.user-bank-icons{
  font-size: 10px;
  margin-right: 16px;
}

.user-switch-active, .user-switch-inactive {font-size:40px;cursor:pointer;}
.user-switch-active, .user-switch-inactive {font-size:40px;cursor:pointer;}
.user-switch-active { color: #5EC980;}
.user-switch-inactive {color: #979797;}

.user-switches-table-header > th{
  color: #979797;
}

.user-address-status{
  border: 1px solid;
  padding: 0 8px;
  border-radius: 25px;
  font-weight: 400;
}

.status-pending{
  color: #979797;
  border-color: #979797;
}

.status-verified{
  color: #5EC980;
  border-color: #5EC980;
}

.status-incomplete-declined{
  color: #dd4b39;
  border-color: #dd4b39;
}

.user-address{
  line-height: 17px;
  height: 40px;
}

.user-address-edit{
  display: block;
}

.user-profile-picture{
  border-radius: 100px;
  margin: 0 30px 30px 0;
}

.user-details-first-row{
  display: inline-flex;
}

.user-details-name{
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #222D32;
  margin-bottom: 8px;
}

.user-details-info{
  color: #A8A8A8;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
}

.user-details-nav-bar {
  margin: 0;
  list-style: none;
  padding: 0;
  position: relative;
  top: -7px;
  li {
    font-size: 16px;
    display: inline-block;
    margin: 0 50px 20px 0;
    cursor: pointer;
    & a {
      color: #A8A8A8;
    }
    & a:hover {
      color: $primary;
    }
  }
}

.user-deactivated{
  background-color: $danger;
  height: 40px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}

.user-btn-export{
  position: relative;
  top: -34px;
  right: 15px;
}

.user-btn-active{
  padding: 6px;
  position: relative;
  top: -34px;
}

.user-btn-deactive{
  padding: 6px;
  position: relative;
  top: -34px;
}

.copy-clipboard a{
  margin-right: 6px;
}

.panel-header-user-icon{
  position: absolute;
  top: 25px;
  right: 120px;
}

.user-account-primary-icon{
  color: $primary;
  position: absolute;
  top: 10px;
  left: 116px;
  font-size: 16px;
}

.user-details-view{
  margin-bottom: 60px;
}

.document-info-header{
  margin-top: 0 !important;
}

.user-details-table > tbody > tr > th {
  font-size: 14px;
  padding: 2px 0;
  vertical-align: middle;
  line-height: 17px;
}

.user-details-table > tbody > tr > th:first-child {
  color: #979797;
}

.user-accounts-btn{
  width: 80px;
}

.account-settings-table > tbody > tr> td {
  line-height: 22px;
}

.documentImage{
  background-image: url('../../assets/img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.document-modal-window .modal-dialog{
  width: 90vw;
}

.no-left-padding{
  padding-left: 0 !important;
}

.no-right-padding{
  padding-right: 0 !important;
}

.no-margin-top{
  margin-top: 0 !important;
}

@media screen and (max-width: 1300px) {
  .user-accounts-list-element{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}