.verification-text{
  box-sizing: border-box;
 & > p{
   color:#666;
   font-size: 14px;
   line-height: 17px;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 25px;
  }
  & > h2{
    text-align: left;
    font-size: 18px;
    color:#222D32;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px
  }
}

.verification-link{
  cursor: pointer;
  font-weight: bold;
}

.verification-button{
  display: block;
  margin: auto;
}

.register-note{
  margin-bottom: 18px;
  text-align: left;
  display: block;
}

.reset-note{
  margin-bottom: 18px;
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.verification-btn-box{
  margin-bottom: 24px !important;
}

.terms-and-agreement-link{
  font-size: 15px !important;
}

.register-password-icon{
  margin-right: 11px;
  position: relative;
  top: -29px;
  color: #979797;
  &:hover{
    color: $primary;
  }
}

.register-password-icon-show{
  margin-right: 11px;
  position: relative;
  top: -29px;
  color: #979797;
  &:hover{
    color: $primary;
  }
}