.verification-text{
  box-sizing: border-box;
  position: relative;
 & > p{
   color:#666;
   font-size: 14px;
   line-height: 17px;
   margin: 25px 5px 0 5px;
  }
  & > h2{
    text-align: left;
    font-size: 18px;
    color:#022b36;
    font-weight: bold;
    margin: 25px 5px;
  }
  & > .verification-log-out{
    font-size: 14px;
    margin-right: 5px;
    color: $primary;
    position: absolute;
    right: 0;
    top: 3px;
  }
}

.verification-link{
  cursor: pointer;
  font-weight: bold;
}

.verification-button{
  display: block;
  margin: auto;
}

.register-note{
  margin-bottom: 18px;
  text-align: left;
  display: block;
}

.reset-note{
  margin-bottom: 18px;
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.verification-btn-box{
  margin-bottom: 24px !important;
}

.terms-and-agreement-link{
  font-size: 15px !important;
}

.register-password-icon{
  margin-right: 11px;
  position: relative;
  top: -29px;
  color: #A8A8A8;
  &:hover{
    color: $primary;
  }
}

.register-password-icon-show{
  margin-right: 11px;
  position: relative;
  top: -29px;
  color: #A8A8A8;
  &:hover{
    color: $primary;
  }
}