<h1 class="group-details-page-title">{{groupName}}</h1>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 groups-breadcrumb">
        <span ng-click="goToGroupView('groups/overview')" class="pointer">Groups</span>
        <span><strong>&nbsp;/&nbsp; Group permissions</strong></span>
    </div>
</div>
<div ng-class="{'user-details-view': !loadingGroup}">
    <!--<div class="row">-->
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 user-details-first-row divider-30">-->
            <!--<div class="group-hexagon"></div>-->
            <!--<div class="group-overview-details">-->
                <!--<span class="group-details-name">{{groupName}}</span>-->
                <!--<p class="user-details-info"><strong>{{totalUsersCount}}</strong> Total users</p>-->
                <!--<p class="user-details-info"><strong>{{totalUsersCount - deactiveUsersCount}}</strong> Active users</p>-->
                <!--<p class="user-details-info"><strong>{{deactiveUsersCount}}</strong> Deactivated users</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="user-details-nav-bar">
                <li><a href="/#/groups/{{groupName}}/details" ng-class="{'transaction-location': locationIndicator == 'details'}">Details</a></li>
                <li><a href="/#/groups/{{groupName}}/users" ng-class="{'transaction-location': locationIndicator == 'users'}">Users</a></li>
                <li><a href="/#/groups/{{groupName}}/permissions" ng-class="{'transaction-location': locationIndicator == 'permissions'}">Permissions</a></li>
                <li><a href="/#/groups/{{groupName}}/tiers" ng-class="{'transaction-location': locationIndicator == 'tiers'}">Tiers</a></li>
                <li><a href="/#/groups/{{groupName}}/account-configurations" ng-class="{'transaction-location': locationIndicator == 'account-configurations'}">Account configurations</a></li>
                <li><a href="/#/groups/{{groupName}}/transaction-settings" ng-class="{'transaction-location': locationIndicator == 'transaction-settings'}">Transaction settings</a></li>
                <li><a href="/#/groups/{{groupName}}/stats" ng-class="{'transaction-location': locationIndicator == 'stats'}">Stats</a></li>
            </ul>
        </div>
    </div>
    <div ng-hide="loadingPermissions" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel" ng-repeat="(key,value) in totalPermissionsObj">
                <div>
                    <div class="group-permissions-table">
                        <table class="table">
                            <tr>
                                <th width="50%">
                                    {{totalPermissionsObj[key].permissionsName}}
                                    <input type="checkbox" ng-disabled="editGroupObj.name == 'admin' || editGroupObj.name == 'service'"
                                           ng-class="{'permissions-select-all-disabled': (editGroupObj.name == 'admin'  || editGroupObj.name == 'service')}"
                                           ng-checked="editGroupObj.name == 'admin'"
                                           class="custom-rehive-checkbox" ng-model="totalPermissionsObj[key].enableAll" ng-click="toggleAllPermissions(key,totalPermissionsObj[key].enableAll)">
                                </th>
                                <th width="10%" class="text-center">View</th>
                                <th width="10%" class="text-center">Add</th>
                                <th width="10%" class="text-center">Change</th>
                                <th width="10%" class="text-center">Delete</th>
                                <th width="10%" class="text-center">All</th>
                            </tr>
                            <tr ng-repeat="permission in totalPermissionsObj[key].permissions">
                                <td>
                                    <p class="no-margin" ng-bind="permission.type"></p>
                                </td>
                                <td class="text-center group-permission-td" ng-repeat="level in permission.levels">
                                    <label class="checkbox-inline custom-checkbox nowrap"
                                           ng-class="{'checkbox-disabled': (editGroupObj.name == 'admin'  || editGroupObj.name == 'service')}">
                                        <input type="checkbox" ng-change="trackPermissions(permission,level,key)"
                                               ng-disabled="editGroupObj.name == 'admin' || editGroupObj.name == 'service'"
                                               ng-model="level.enabled" ng-checked="level.enabled || editGroupObj.name == 'admin'">
                                            <span class="account-settings-span"></span>
                                    </label>
                                    <div ng-show="editGroupObj.name == 'admin' || editGroupObj.name == 'service'" class="group-permission-tooltip">
                                        Rehive system group permissions can not be edited.
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button ng-hide="loadingPermissions" ng-click="savePermissionsProcess()"
            ng-disabled="editGroupObj.name == 'admin' || editGroupObj.name == 'service'"
            ng-class="{'btn-gray': (editGroupObj.name == 'admin'  || editGroupObj.name == 'service'),
            'btn-primary': (editGroupObj.name != 'admin'  || editGroupObj.name != 'service')}"
            class="pull-right btn dashboard-btn">Save</button>
</div>
<div ba-panel ng-show="loadingPermissions">
    <loading-image></loading-image>
</div>
