<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 company-setup-col-8">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Add transaction subtypes</span>
        </div>
        <div class="panel-body">
            <div class="row divider-25">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="divider-20">Transaction subtypes are a way of marking certain transactions in order to
                        categorize and sort specific kinds of transaction.</p>
                    <!--<ul class="currency-setup-ul">
                        <li class="divider-20"><span>Choose whether this subtype applies to a credits or a debit transaction type</span>
                        </li>
                        <li class="divider-20"><span>Give your subtype a label</span></li>
                        <li class="divider-20"><span>Add as many subtypes as you want</span></li>
                        <li class="divider-20"><span>You can add more subtypes later</span></li>
                        <li class="divider-20"><span>You can edit added subtypes later</span></li>
                    </ul>-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                    <div class="form-group">
                        <label>Select transactiont type <span class="required-icon"></span></label>
                        <div class="divider-20">
                            <input class="margin-right-10" type="radio" ng-model="subtype.tx_type" name="gender" value="credit"> Credit
                            <input class="horizontal-divider-40 margin-right-10" type="radio" ng-model="subtype.tx_type"
                                   name="gender" value="debit"> Debit
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Subtype name <span class="required-icon"></span></label>
                        <input type="text" class="form-control" ng-model="subtype.name"
                               placeholder="Subtype name eg. purchase, withdraw, deposit"
                               auto-focus="!havePersonalDetails" required ng-change="subtype.name? subtype.name = subtype.name.toLowerCase():null;">
                    </div>
                    <div class="form-group">
                        <label>Subtype label <span class="required-icon"></span></label>
                        <input type="text" class="form-control" ng-model="subtype.label"
                               placeholder="Subtype label">
                    </div>
                    <div class="form-group">
                        <button ng-click="addSubtype(subtype)"
                                class="btn btn-primary pull-right dashboard-btn"
                                ng-disabled="!subtype.tx_type || !subtype.name">Add
                        </button>
                    </div>
                </div>
            </div>
            <hr class="no-margin-horizontal divider-25">
            <div class="form-group">
                <button ng-click="goToNextView()" ng-disabled="setupSubtypes==1"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn">Skip
                </button>
                <button ng-click="skipAllView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn margin-left-10">Skip all
                </button>
                <button ng-click="goToNextView()" ng-disabled="setupSubtypes==0"
                        class="btn btn-primary setup-next-btn pull-right dashboard-btn">Next
                </button>
                <button ng-click="goToPrevView()"
                        class="btn btn-default pull-right dashboard-btn margin-right-10">Back
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 company-setup-col-2">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Added transaction subtypes</span>
        </div>
        <div class="panel-body">
            <div class="divider-20" ng-repeat="subtype in subtypes" ng-hide="subtypes.length==0"
                 ng-class="{'no-margin-bottom': $last}">
                <span>{{subtype.name}}</span>
                <span class="pull-right pointer" ng-click="deleteSelectedItem(subtype.id)">&#10006;</span>
            </div>
            <span ng-show="subtypes.length==0">No subtypes added yet.</span>
        </div>
    </div>
</div>