<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 company-setup-col-8">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Transaction subtypes</span>
        </div>
        <div class="panel-body">
            <div class="row divider-25">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="group-setup-ul">
                        <li>Subtypes are a way to mark specific transactions in order to categorize and sort them.</li>
                        <li>Select whether the subtype should be applied to a credit or debit transaction type.</li>
                        <li>Subtypes can be used to define business logic for marked transactions in the dashboard.
                            E.g. A debit subtype named <i><b>withdrawal</b></i> can apply fees to only debit transactions marked with subtype withdrawal.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 custom-form">
                    <div class="form-group">
                        <label>Select transaction type <span class="required-icon">*</span></label>
                        <div class="divider-20">
                            <input class="margin-right-10 pointer" type="radio" ng-model="subtype.tx_type" value="credit">
                            <span class="company-setup-tx-type-credit">Credit</span>
                            <input class="horizontal-divider-40 margin-right-10 pointer" type="radio" ng-model="subtype.tx_type"
                                    value="debit"> <span class="company-setup-tx-type-debit">Debit</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Subtype name <span class="required-icon">*</span></label>
                        <input type="text" class="form-control" ng-model="subtype.name"
                               placeholder="Subtype name e.g. purchase, withdraw, deposit"
                               auto-focus="!havePersonalDetails" required
                               ng-change="setupSubtypesNameChanged(subtype)">
                    </div>
                    <div class="form-group">
                        <label>Subtype label </label>
                        <input type="text" class="form-control" ng-model="subtype.label"
                               placeholder="Subtype label e.g. Purchase, Withdraw, Deposit">
                    </div>
                    <div class="form-group">
                        <button ng-click="addSubtype(subtype)"
                                ng-hide="editingSubtypes"
                                class="btn btn-primary pull-right dashboard-btn"
                                ng-disabled="!subtype.tx_type || !subtype.name">Add
                        </button>
                        <button ng-click="updateSubtype(subtype)"
                            ng-show="editingSubtypes"
                            class="btn btn-primary pull-right dashboard-btn"
                            ng-disabled="!subtype.tx_type || !subtype.name">Save
                    </button>
                    </div>
                </div>
            </div>
            <hr class="no-margin-horizontal divider-25">
            <div class="form-group">
                <button ng-click="goToNextView()" ng-disabled="setupSubtypes==1"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn">Skip
                </button>
                <button ng-click="skipAllView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn margin-left-10">Skip all
                </button>
                <button ng-click="goToNextView()" ng-disabled="setupSubtypes==0"
                        class="btn btn-primary pull-right dashboard-btn">Next
                </button>
                <button ng-click="goToPrevView()"
                        class="btn btn-default pull-right dashboard-btn margin-right-10">Back
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 company-setup-col-2">
    <div ng-hide="loadingSetupSubtypes" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Added transaction subtypes</span>
        </div>
        <div class="panel-body">
            <div class="divider-20" ng-repeat="subtype in subtypes" ng-hide="subtypes.length == 0"
                 ng-class="{'no-margin-bottom': $last}">
                <span>{{subtype.name}}</span>
                <span class="pull-right pointer" ng-click="deleteSubtypeConfirm(subtype.id)">x</span>
                <span style="font-size: 10px;line-height: 20px;font-weight: 500; padding: 0 5px 5px 5px;"
                      ng-click="editSubtypeObj(subtype)"
                      class="pull-right margin-right-10 pointer">
                    <i class="fa fa-pencil"></i>
                </span>
            </div>
            <span ng-show="subtypes.length==0">No subtypes added yet.</span>
        </div>
    </div>
    <div ba-panel ng-show="loadingSetupSubtypes">
        <loading-image></loading-image>
    </div>
</div>