<rewards-service-navigation></rewards-service-navigation>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="rewards-service-breadcrumb"><span>Rewards</span>&nbsp; /&nbsp;
                <span ng-show="(trackedLocation == 'campaigns')" ng-click="goToRewardsBreadCrumbsView('/services/rewards/campaigns')"
                      ng-class="{'text-bold':(trackedLocation == 'campaigns' && secondaryTrackedLocation == ''),
                      'pointer':(trackedLocation == 'campaigns' && secondaryTrackedLocation != '')}">
                    Campaigns
                </span>
                <!--<span ng-show="(trackedLocation == 'requests')" ng-class="{'text-bold': trackedLocation == 'requests','pointer': trackedLocation == 'account'}"-->
                      <!--ng-click="goToRewardsBreadCrumbsView('/services/rewards/requests')">&nbsp;/&nbsp; Requests</span>-->
                <!--<span ng-show="(trackedLocation == 'permissions')" ng-class="{'text-bold': trackedLocation == 'permissions'}"-->
                      <!--ng-click="goToBreadCrumbsView('/user/' + user.identifier + '/permissions')">&nbsp;/&nbsp; Permissions</span>-->
                <!--<span ng-show="trackedLocation == 'transactions'" ng-class="{'text-bold': trackedLocation == 'transactions'}">&nbsp;/&nbsp; Transactions</span>-->
                <span ng-show="secondaryTrackedLocation == 'create'" ng-class="{'text-bold': secondaryTrackedLocation == 'create'}">&nbsp;/&nbsp; Create</span>
                <!--<span ng-show="secondaryTrackedLocation == 'fees'" ng-class="{'text-bold': secondaryTrackedLocation == 'fees'}">&nbsp;/&nbsp; {{accountBreadCrumbTitle}} fees</span>-->
                <!--<span ng-show="secondaryTrackedLocation == 'settings'" ng-class="{'text-bold': secondaryTrackedLocation == 'settings'}">&nbsp;/&nbsp; {{accountBreadCrumbTitle}} settings</span>-->
            </span>
    </div>
</div>
<div ui-view="rewardsServiceViews"></div>