<div ng-hide="loadingWebhooks">
    <div ba-panel class="setting-bank-accounts" ba-panel-title="Webhook log" ba-panel-class="light-text with-scroll">
        <div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Event: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="webhookTask.data.event | capitalizeDottedSentence"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Url: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="webhookTask.webhook.url"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Secret: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="webhookTask.webhook.secret"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Condition: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="webhookTask.webhook.condition"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Tries: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="webhookTask.tries"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Failed: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>
                        {{webhookTask.failed | date:'mediumDate'}} {{webhookTask.failed | date:'shortTime'}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Completed: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>
                        {{webhookTask.completed | date:'mediumDate'}} {{webhookTask.completed | date:'shortTime'}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Updated: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>
                        {{webhookTask.updated | date:'mediumDate'}} {{webhookTask.updated | date:'shortTime'}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>Created: </strong></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>
                        {{webhookTask.created | date:'mediumDate'}} {{webhookTask.created | date:'shortTime'}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p><strong>More details: </strong></p>
                </div>
                <div class="mainData col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>
                        <pre ng-bind-html="mainData"></pre>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingWebhooks">
    <loading-image></loading-image>
</div>
<div ng-hide="loadingRequests">
    <div ng-show="webhookRequests.length > 0" ba-panel class="setting-bank-accounts" ba-panel-title="Webhook requests" ba-panel-class="light-text with-scroll">
        <table class="table fees-table table-striped setting-bank-accounts-table">
            <tr class="black-muted-bg divider">
                <th><strong>Created</strong></th>
                <th><strong>Error</strong></th>
                <th><strong>Response code</strong></th>
            </tr>
            <tr ng-repeat="request in webhookRequests | orderBy: '-created'">
                <td class="table-row-center transactions-list-element" title="{{request.created | date:'mediumDate'}} {{request.created | date:'shortTime'}}">
                    {{request.created | date:'mediumDate'}} {{request.created | date:'shortTime'}}</td>
                <td class="table-row-center transactions-list-element" title="{{request.error}}" ng-bind="request.error"></td>
                <td class="table-row-center transactions-list-element" title="{{request.response_code}}" ng-bind="request.response_code"></td>
            </tr>
        </table>
        <div>
            <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="webhookRequestsData.count" ng-model="pagination.pageNo"
               max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getWebhookRequests()"
               previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingRequests">
    <loading-image></loading-image>
</div>
