<div ng-hide="loadingUserBankAccount || addingUserBankAccount || editingUserBankAccount" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Bank accounts</span>
        <a ng-click="toggleAddUserBankAccountView()" class="user-details-panel-link pull-right pointer">Add bank account</a>
    </div>
    <div class="panel-body">
        <div  ng-repeat="bank in userBanks | orderBy: '-created'">
            <div class="row user-address">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <a ng-click="showCollapsedBankDetails(bank)" class="pointer">
                        <i ng-hide="bank.id == uncollapsedBank.id" class="fa fa-chevron-right user-bank-icons"></i><i ng-show="bank.id == uncollapsedBank.id" class="fa fa-chevron-down user-bank-icons"></i> {{bank.name}}</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span ng-class="{'status-pending': bank.status == 'pending','status-verified': bank.status == 'verified',
                    'status-incomplete-declined': bank.status == 'incomplete' || bank.status == 'declined'}"
                          class="user-address-status">{{bank.status | uppercase}}</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a ng-click="openUserBankAccountModal('app/pages/users/userDetails/userBankAccounts/userBankAccountModal/userBankAccountModal.html','md',bank)"
                       class="pull-right pointer">Delete</a>
                    <a ng-click="toggleEditUserBankAccountView(bank)" class="pull-right pointer user-bank-edit margin-right-30">Edit</a>
                    <a ng-show="bank.status == 'pending'" ng-click="verifyBankAccountConfirm(bank)" class="pull-right pointer user-bank-edit margin-right-30">Verify</a>
                </div>
            </div>
            <div ng-show="bank.id == uncollapsedBank.id" uib-collapse="isBankDetailsCollapsed" class="row divider">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table user-details-table">
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account name/holder</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.name || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account number</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.number || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account type</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.type || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Bank name</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.bank_name || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Bank code</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.bank_code || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Branch code</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.branch_code || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Bank bank</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.bank || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Swift</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.swift || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">IBAN</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.iban || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">BIC</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.bic || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<div ba-panel ng-show="loadingUserBankAccount">
    <loading-image></loading-image>
</div>
<div ng-show="addingUserBankAccount">
    <add-user-bank-account-view></add-user-bank-account-view>
</div>
<div ng-show="editingUserBankAccount">
    <edit-user-bank-account-view></edit-user-bank-account-view>
</div>