<div ng-hide="loadingCurrencies" class="panel panel-default">
    <div class="panel-heading">
        <span class="user-details-panel-title">Select currency</span>
        <a ng-click="toggleCustomCurrencyView()" class="user-details-panel-link pull-right pointer">Add custom</a>
    </div>
    <div class="panel-body">
        <select class="form-control pointer divider-20" ng-model="addCurrency.currencyChoice"
                ng-options="currency.code + ' - ' + currency.description for currency in currencyOptions | orderBy: 'code'">
        </select>
        <button class="btn btn-primary dashboard-btn pull-right" ng-click="next()">Next</button>
    </div>
</div>
<div ba-panel ng-show="loadingCurrencies">
    <loading-image></loading-image>
</div>