<div class="menu-box panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Configuring Stellar Testnet Extension</span>
    </div>
    <div class="panel-body">
        <div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('user defaults')">
            <div class="company-setup-menu-navigation-div">
                <div ng-hide="currentConfigView == 'user defaults'" class="menu-number">
                    <span class="menu-number-text">1</span>
                </div>
                <div ng-show="currentConfigView == 'user defaults'" class="menu-number setup-menu-active">
                    <span class="menu-number-text">1</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">User defaults</div>
        </div>

        <div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('hotwallet warmstorage')">
            <div class="company-setup-menu-navigation-div">
                <div ng-hide="currentConfigView == 'hotwallet warmstorage'" class="menu-number">
                    <span class="menu-number-text">2</span>
                </div>
                <div ng-show="currentConfigView == 'hotwallet warmstorage'" class="menu-number setup-menu-active">
                    <span class="menu-number-text">2</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">Hotwallet & Warmstorage</div>
        </div>

        <div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('custom asset')">
            <div class="company-setup-menu-navigation-div">
                <div ng-hide="currentConfigView == 'custom asset'" class="menu-number">
                    <span class="menu-number-text">3</span>
                </div>
                <div ng-show="currentConfigView == 'custom asset'" class="menu-number setup-menu-active">
                    <span class="menu-number-text">3</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">Custom asset (optional)</div>
        </div>
    </div>
</div>

