<div class="panel">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <div>
                <button ng-click="showFilters()" ng-class="{'transactions-filter-btn': (filtersCount > 0), 'transactions-btn': (filtersCount == 0)}"
                        class="btn btn-default">Filters
                    <span ng-show="filtersCount > 0">|</span> <span ng-show="filtersCount > 0" class="filter-count">{{filtersCount}}</span>
                </button>
                <span  click-outside="closeColumnFiltersBox()">
                    <button ng-click="showColumnFilters()" class="btn dynamic-columns btn-default">Columns</button>
                    <div ng-show="showingColumnFilters">
                        <history-columns-filter></history-columns-filter>
                    </div>
                </span>
                <div ng-show="showingFilters">
                    <history-filters></history-filters>
                </div>
            </div>
            <button ng-csv="getCSVArray" csv-header="getHeader()" filename="{{getFileName}}"
                    class="btn btn-default transactions-btn panel-header-transaction-export">Export</button>
            <button ng-click="getLatestTransactions('applyFilter')" class="btn btn-default transactions-btn panel-header-user-icon">Refresh</button>
            <button ng-click="openMakeTransactionModal('app/pages/transactions/history/makeTransactionModal/makeTransactionModal.html', 'md')"
                    class="btn btn-success transactions-btn panel-transaction-newTx-button">New</button>
        </div>
    </div>
    <div class="panel-body">
        <div ng-show="transactions.length > 0" class="upper-pagination">
            <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="transactionsData.count" ng-model="pagination.pageNo"
               max-size="pagination.maxSize" class="pagination-sm pull-right no-margin" force-ellipses="true" ng-change="getLatestTransactions()"
               previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
        </div>
        <div ng-show="transactions.length > 0" class="divider">
            <div class="draggable-table">
                <!--draggable on-drag-end="tableColDrag($start, $target)"-->
                <table class="table custom-table table-striped">
                    <thead>
                    <tr>
                        <!--class="pointer"-->
                        <th ng-repeat="header in headerColumns" ng-if="header.visible"  ng-bind="header.colName"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="transaction in transactions | orderBy: orderByFunction" data-toggle="modal"
                        class="editable-row center pointer user-details-table-hover" ng-click="openModal('app/pages/transactions/history/historyModal/historyModal.html', 'md',transaction)">
                        <td class="transactions-list-element" ng-repeat="header in headerColumns"
                            ng-if="header.visible" ng-bind="transaction[header.fieldName]"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="transactions.length > 0">
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="transactionsData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getLatestTransactions()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
        <div ng-show="transactions.length == 0">
            <i ng-hide="transactionsStateMessage == ''" ng-bind="transactionsStateMessage"></i>
            <loading-image ng-show="transactionsStateMessage == ''"></loading-image>
        </div>
    </div>
</div>


