<div ng-hide="editingProduct">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Edit product</span>
        </div>
        <div class="panel-body">
            <form name="addProductForm" class="custom-form" novalidate>
                <div class="form-group">
                    <label>Product name <span class="required-icon">*</span></label>
                    <input type="text" ng-model="editProductObj.name" class="form-control"
                           placeholder="Enter product name" required>
                </div>
                <div class="form-group">
                    <label>Product description </label>
                    <textarea rows="4" type="text" ng-model="editProductObj.description"
                              class="form-control"  placeholder='Enter product description' required></textarea>
                </div>
                <div class="form-group setup-groups-tooltip-div">
                    <label>Quantity
                        &nbsp;<i uib-tooltip-html="'The amount of stock held for this product /item.'"
                                 class="ion-information-circled setup-groups-tooltip"></i></label>
                    <input type="text" ng-model="editProductObj.quantity" class="form-control"  placeholder="Enter quantity" required>
                </div>
                <div class="form-group setup-groups-tooltip-div">
                    <label>Product type
                        &nbsp;<i uib-tooltip-html="'A categorical tag to label products / items of the same type.'"
                                 class="ion-information-circled setup-groups-tooltip"></i></label>
                    <input type="text" ng-model="editProductObj.type" class="form-control"  placeholder="Enter product type" required>
                </div>
                <div class="form-group setup-groups-tooltip-div">
                    <label>Code (barcode)
                        &nbsp;<i uib-tooltip-html="'A barcode or unique code so that the product / item can be referenced from systems outside the Rehive environment.'"
                                 class="ion-information-circled setup-groups-tooltip"></i></label>
                    <input type="text" ng-model="editProductObj.code" class="form-control"  placeholder="Enter code" required>
                </div>
                <div class="form-group setup-groups-tooltip-div">
                    <label>Prices <i class="fa fa-plus-square-o pull-right product-prices-add-icon" ng-click="addPriceRow()"></i></label>
                    <div class="row divider" ng-repeat="price in editProductObj.prices">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="reward-multi-select">
                                <select chosen
                                        data-placeholder-text-single="'Choose a currency'"
                                        width="40"
                                        ng-model="price.currency"
                                        ng-options="currency.code for currency in currencyOptions | orderBy: 'code'">
                                    <option value=""></option>
                                </select>
                                <!--allow-single-deselect="true"-->
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                            <input type="text" ng-model="price.amount" class="form-control"  placeholder="Enter amount">
                        </div>
                    </div>
                </div>
                <div class="form-group divider-20 setup-groups-tooltip-div">
                    <label>Enabled</label>
                    <br>
                    <input class="custom-rehive-checkbox" ng-model="editProductObj.enabled" type="checkbox">
                </div>
                <div class="form-group">
                    <button  ng-click="editProduct(editProductObj)"
                             class="btn btn-primary dashboard-btn pull-right">Add</button>
                    <button ng-click="backToProductList()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-show="editingProduct" class="row">
    <div ba-panel class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <loading-image></loading-image>
    </div>
</div>
