<div ng-hide="loadingColdstorage" class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="dashboard-currencies-code">
                    XBT
                </div>
            </div>
            <div class="currencies-page-row">
                <div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div>
                            <span><strong>{{coldstorageObj.rehive_account_reference}}</strong></span>
                            <br>
                            <span class="currencies-details-heading">Account reference</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div>
                            <span><strong>{{bitcoinCurrency.symbol}} {{coldstorageObj.balance | currencyModifiersFilter: bitcoinCurrency.divisibility}}</strong></span>
                            <br>
                            <span class="currencies-details-heading">Total</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="toggleCurrenciesOptions(); $event.stopPropagation()" click-outside="closeOptionsBox()">
                        <div>
                            <span class="fa fa-ellipsis-h pull-right pointer currencies-options"></span>
                            <ul ng-show="showOptionsAccountRef" class="currencies-options-box">
                                <li ng-click="toggleCurrenciesOptions()"><i class="dropdown-arr"></i></li>
                                <li ng-click="goToDebit()">Create debit</li>
                                <li ng-click="goToCredit()">Create credit</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<coldstorage-transactions-table ng-hide="loadingColdstorage"></coldstorage-transactions-table>
<div ba-panel ng-show="loadingColdstorage">
    <loading-image></loading-image>
</div>