<div ng-hide="loadingRewardsRequests" class="panel">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <div>
                <button ng-click="showRewardsRequestsFilters()" ng-class="{'transactions-filter-btn': (filtersCount > 0), 'transactions-btn': (filtersCount == 0)}"
                        class="btn btn-default">Filters
                    <span ng-show="filtersCount > 0">|</span> <span ng-show="filtersCount > 0" class="filter-count">{{filtersCount}}</span>
                </button>
                <div ng-show="showingRewardsRequestsFilters">
                    <rewards-service-requests-filters></rewards-service-requests-filters>
                </div>
            </div>
            <button ng-click="getRewardsRequests('applyFilter')" ng-disabled="loadingRewardsRequests"
                    class="btn btn-default transactions-btn panel-header-button">Refresh</button>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <div class="upper-pagination">
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="rewardsRequestData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right no-margin" force-ellipses="true" ng-change="getRewardsRequests()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
            <table class="table custom-table table-striped">
                <thead>
                    <tr>
                        <th class="rehive-table-row-first-child">User</th>
                        <th>Campaign</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in rewardsRequestsList" class="editable-row user-details-table-hover pointer"
                        ng-click="openRewardRequestModal('app/pages/services/rewardsService/rewardsServiceRequests/rewardsServiceRequestsModal/rewardsServiceRequestsModal.html','md',request)">
                        <td class="transactions-list-element" title="{{userEmailObj.email}}" ng-bind="request.user" ng-mouseover="getUserObjEmail(request.user)"></td>
                        <td class="transactions-list-element" title="{{request.campaign_name || 'Unnamed'}}" ng-bind="request.campaign_name || 'Unnamed'"></td>
                        <td class="transactions-list-element" title="{{request.status | capitalizeWord}}" ng-bind="request.status | capitalizeWord"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="rewardsRequestData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getRewardsRequests()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingRewardsRequests">
    <loading-image></loading-image>
</div>