<div ng-hide="loadingUserCryptoAccounts || addingUserCryptoAccounts || editingUserCryptoAccounts"
     class="panel">
    <div class="panel-heading">
            <span class="user-details-panel-title">Crypto accounts</span>
        <a ng-click="toggleAddUserCryptoAccountsView()" class="user-details-panel-link pull-right pointer">Add crypto account</a>
    </div>
    <div class="panel-body">
        <table ng-show="userCryptoAccountsList.length > 0" class="table">
            <tr class="user-switches-table-header divider">
                <th>Address</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="cryptoAccount in userCryptoAccountsList | orderBy: '-created'">
                <td class="table-row-center transactions-list-element" title="{{cryptoAccount.address}}" ng-bind="cryptoAccount.address"></td>
                <td class="table-row-center transactions-list-element" title="{{cryptoAccount.crypto_type}}" ng-bind="cryptoAccount.crypto_type"></td>
                <td class="table-row-center transactions-list-element">
                    <span ng-class="{'status-pending': cryptoAccount.status == 'pending','status-verified': cryptoAccount.status == 'verified',
                    'status-incomplete-declined': cryptoAccount.status == 'incomplete' || cryptoAccount.status == 'declined'}"
                          class="user-address-status">{{cryptoAccount.status | uppercase}}</span>
                </td>
                <td class="rehive-table-row-last-child">
                    <a ng-click="openUserCryptoAccountsModal('app/pages/users/userDetails/userCryptoAccounts/userCryptoAccountsModal/userCryptoAccountsModal.html','md',cryptoAccount)"
                       class="pull-right pointer ">Delete</a>
                    <a ng-click="toggleUserCryptoAccountsEditView(cryptoAccount)" class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                </td>
            </tr>
        </table>
        <div ng-show="userCryptoAccountsList.length == 0 && !loadingUserCryptoAccounts">
            <i>No user crypto accounts are available</i>
        </div>
    </div>
</div>
<div ng-show="addingUserCryptoAccounts">
    <add-user-crypto-accounts></add-user-crypto-accounts>
</div>
<div ng-show="editingUserCryptoAccounts">
    <edit-user-crypto-accounts></edit-user-crypto-accounts>
</div>
<div ba-panel ng-show="loadingUserCryptoAccounts">
    <loading-image></loading-image>
</div>