<div ba-panel class="menu-box" ba-panel-class="light-text">
    <div class="menu-hex-container pointer">
        <h4 style="padding-left:10px;padding-bottom:10px;font-weight:bold">Create fintech app</h4>
    </div>


    <ul class="numbered-list">
        <li class="pointer" ng-click="goToView('/company/setup/users')"><p class="menu-number">1</p>Users</li>
        <li class="pointer" ng-click="goToView('/company/setup/currencysetup')">Currencies</li>
        <li class="pointer" ng-click="goToView('/company/setup/accounts')">Accounts</li>
        <li class="pointer" ng-click="goToView('/company/setup/subtypes')">Transaction subtypes</li>
    </ul>
</div>