<div ng-hide="loadingCompanyInfo" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Company info</span>
    </div>
    <div class="panel-body">
        <div>
            <div class="form-group">
                <label>Company name</label>
                <input type="text" ng-change="companyInfoChanged('name')" ng-model="company.name" class="form-control" placeholder="Company">
            </div>
            <div class="form-group">
                <label>Company description</label>
                <textarea rows="4" ng-change="companyInfoChanged('description')" ng-model="company.description" class="form-control" placeholder="e.g. Currency Corp is a registered financial services provider."></textarea>
            </div>
            <div class="form-group">
                <label>Website url</label>
                <input type="text" ng-change="companyInfoChanged('website')" ng-model="company.website" class="form-control" placeholder="e.g. http://www.zapgo.co">
            </div>
            <div class="form-group">
                <label>Password reset url</label>
                <input type="text" ng-change="companyInfoChanged('password_reset_url')" ng-model="company.password_reset_url" class="form-control" placeholder="e.g. http://www.rehive.com/reset/password/">
            </div>
            <div class="form-group">
                <label>Email confirmation url</label>
                <input type="text" ng-change="companyInfoChanged('email_confirmation_url')" ng-model="company.email_confirmation_url" class="form-control" placeholder="e.g. http://www.rehive.com/verify/email/">
            </div>
            <div class="form-group">
                <label>Default currency</label>
                <br>
                <select class="form-control pointer" ng-change="companyInfoChanged('default_currency')"  ng-model="company.default_currency" ng-options="code for code in currencies">
                </select>
            </div>
            <div class="form-group">
                <button ng-click="updateCompanyInfo()" class="btn btn-primary dashboard-btn pull-right">Save</button>
            </div>
        </div>
    </div>
</div>

<!--<div ng-hide="loadingCompanyInfo" ba-panel ba-panel-title="Company Address">-->
    <!--<div>-->
        <!--<div class="form-group">-->
            <!--<label>Address Line 1</label>-->
            <!--<input type="text"  ng-model="company.address1" class="form-control" placeholder="Address Line 1">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Address Line 2</label>-->
            <!--<input type="text" ng-model="company.address2" class="form-control" placeholder="Address Line 2">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>City</label>-->
            <!--<input type="text" ng-model="company.city" class="form-control" placeholder="City">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Country</label>-->
            <!--<country-select class="form-control pointer" data-ng-model="company.country"></country-select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Code/Zipcode</label>-->
            <!--<input type="text" ng-model="company.zipcode" class="form-control" placeholder="Code/Zipcode">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<button ng-click="goToView('confirmDeposit')" class="btn btn-primary pull-right">Save</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div ba-panel ng-show="loadingCompanyInfo">
    <loading-image></loading-image>
</div>
