<div ng-hide="updatingCampaign" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Edit campaign</span>
    </div>
    <div class="panel-body">
        <form name="campaignForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Campaign name <span class="required-icon">*</span></label>
                <input type="text" ng-model="editCampaignParams.name" ng-change="campaignChanged('name')"
                       class="form-control" placeholder="Enter campaign name" required>
            </div>
            <div class="form-group">
                <label>Campaign description  <span class="required-icon">*</span></label>
                <textarea rows="4" type="text" ng-model="editCampaignParams.description" ng-change="campaignChanged('description')"
                          class="form-control"  placeholder='Enter campaign description' required></textarea>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Currency <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'Reward currency that will be credited to the user account.'"
                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="reward-multi-select">
                    <select chosen
                            data-placeholder-text-single="'Choose a currency'"
                            width="100"
                            ng-model="editCampaignParams.currency"
                            ng-change="campaignChanged('currency')"
                            ng-options="currency.code + ' - ' + currency.description for currency in currencyOptions | orderBy: 'code'">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Start date <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'The starting date of the campaign.'"
                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="rewards-date">
                    <input type="text" class="form-control rewards-date-input custom-datepicker"
                           uib-datepicker-popup="{{dateObj.format}}" popup-placement="bottom-left"
                           ng-model="editCampaignParams.start_date"
                           ng-change="campaignChanged('start_date')"
                           show-button-bar="false" datepicker-options="{showWeeks: false}"
                           placeholder="{{companyDateFormatString | lowercase}}" is-open="popup1.opened" close-text="Close" required/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>End date <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'The ending date of the campaign.'"
                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="rewards-date">
                    <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                           uib-datepicker-popup="{{dateObj.format}}" popup-placement="bottom-left"
                           ng-model="editCampaignParams.end_date"
                           ng-change="campaignChanged('end_date')"
                           show-button-bar="false" datepicker-options="{showWeeks: false}"
                           placeholder="{{companyDateFormatString | lowercase}}" is-open="popup2.opened" close-text="Close" required/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Reward total <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'The total amount of funds available in the campaign that can be issued to users.'"
                                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <br>
                <input class="form-control" ng-change="campaignChanged('reward_total')" ng-model="editCampaignParams.reward_total" type="text" required>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Amount type <span class="required-icon">*</span>
                    &nbsp;<i ng-show="editCampaignParams.amount_type == 'Fixed'"
                             uib-tooltip-html="'When amount type is `Fixed` rewards are issued based on this reward amount.'"
                             class="ion-information-circled setup-groups-tooltip"></i>
                    <i ng-show="editCampaignParams.amount_type == 'Percentage'"
                       uib-tooltip-html="'When amount type is `Percentage` the rewards are issued based on this percentage and of an amount specified when a reward is created/requested.'"
                       class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="form-inline">
                    <select class="form-control pointer short-dropdown"
                            ng-model="editCampaignParams.amount_type"
                            ng-options="amountTypeOption for amountTypeOption in amountTypeOptions"
                            ng-change="campaignChanged('amount_type')">
                    </select>
                    <input class="form-control short-input-text margin-left-12" ng-show="(editCampaignParams.amount_type == 'Fixed') || (editCampaignParams.amount_type == 'Both')"
                           placeholder="Please enter a reward amount"
                           ng-change="campaignChanged('reward_amount')"
                           ng-model="editCampaignParams.reward_amount" type="text" ng-required="editCampaignParams.amount_type == 'Fixed'">

                    <input ng-show="(editCampaignParams.amount_type == 'Percentage') || (editCampaignParams.amount_type == 'Both')"
                           class="form-control short-input-text margin-left-12"
                           placeholder="Please enter a reward percentage"
                           ng-change="campaignChanged('reward_percentage')"
                           ng-model="editCampaignParams.reward_percentage" type="text" ng-required="editCampaignParams.amount_type == 'Percentage'">
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Account
                    <!--&nbsp;<i uib-tooltip-html="'Reward currency that will be credited to the user account.'"-->
                    <!--class="ion-information-circled setup-groups-tooltip"></i>-->
                </label>
                <div class="reward-multi-select">
                    <select chosen
                            data-placeholder-text-single="'Choose an account'"
                            width="100"
                            ng-model="editCampaignParams.account"
                            ng-change="campaignChanged('account')"
                            ng-options="account.name + ' - ' + account.reference for account in accountOptions | orderBy: 'name'">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="divider-20 setup-groups-tooltip-div">
                <label>Campaign status &nbsp;<i uib-tooltip-html="'The status of a campaign. This will automatically change to expired after the end date or when the reward total balance has been depleted.'"
                                                class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="divider-20">
                    <div class="custom-radio-groups-btn">
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="editCampaignParams.status"
                                   ng-change="campaignChanged('status')" value="active">
                            <span class="custom-radio-btn">Active</span>
                        </label>
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="editCampaignParams.status"
                                   ng-change="campaignChanged('status')" value="disabled">
                            <span class="custom-radio-btn">Disabled</span>
                        </label>
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="editCampaignParams.status"
                                   ng-change="campaignChanged('status')" value="expired">
                            <span class="custom-radio-btn">Expired</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Max per user
                    &nbsp;<i uib-tooltip-html="'The maximum times a user can receive a reward in this campaign.'"
                                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <br>
                <input class="form-control" ng-change="campaignChanged('max_per_user')" ng-model="editCampaignParams.max_per_user" type="number">
            </div>
            <div class="form-group">
                <label>Event</label>
                <br>
                <select class="form-control pointer" ng-change="campaignChanged('event')" ng-model="editCampaignParams.event"
                        ng-options="event for event in eventOptions">
                </select>
            </div>
            <div class="form-group divider-20 setup-groups-tooltip-div">
                <label>Visible &nbsp;<i uib-tooltip-html="'This will make the campaign visible to users.'"
                                        class="ion-information-circled setup-groups-tooltip"></i></label>
                <br>
                <input class="custom-rehive-checkbox" ng-change="campaignChanged('visible')" ng-model="editCampaignParams.visible" type="checkbox">
            </div>
            <div class="form-group divider-20 setup-groups-tooltip-div">
                <label>Request &nbsp;<i uib-tooltip-html="'This will make the campaign available for users to request a reward from.'"
                                        class="ion-information-circled setup-groups-tooltip"></i></label>
                <br>
                <input class="custom-rehive-checkbox" ng-change="campaignChanged('request')" ng-model="editCampaignParams.request" type="checkbox">
            </div>
            <div class="form-group">
                <label>Users</label>
                <div class="reward-multi-select">
                    <tags-input ng-model="editCampaignParams.users" on-tag-added="campaignChanged('users')"
                                on-tag-removed="campaignChanged('users')"
                                placeholder="Enter one or more user IDs.">
                        <auto-complete class="reward-tag-users-input" source="getUsersEmailTypeahead($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <label>Groups</label>
                <div class="reward-multi-select">
                    <tags-input ng-model="editCampaignParams.groups" on-tag-added="campaignChanged('groups')"
                                placeholder="Enter one or more group name" on-tag-removed="campaignChanged('groups')">
                        <auto-complete class="reward-tag-users-input" source="getGroupsTypeahead($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <button ng-disabled="(!campaignForm.$valid || !editCampaignParams.currency.code)" ng-click="updateCampaign(editCampaignParams)" class="btn btn-primary dashboard-btn pull-right">Save</button>
                <button ng-click="goToCampaignListView()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="updatingCampaign" class="service-header" ba-panel>
    <loading-image></loading-image>
</div>