<h1 class="currencies-title">Group details</h1>
<div class="user-details-view" ng-hide="loadingUser">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 user-details-first-row">
            <div class="group-hexagon"></div>
            <div>
                <span class="user-details-name">{{user.first_name}} {{user.last_name}}</span>
                <p ngclipboard ngclipboard-success="copiedSuccessfully()" data-clipboard-text="{{user.identifier}}"
                   class="user-details-info pointer">identifier: {{user.identifier}}</p>
                <p class="user-details-info">user for {{beenAUser}}</p>
                <p class="user-details-info">kyc status: {{user.kyc.status}}</p>
                <p ng-show="user.active" ng-click="toggleActivateUser(false)"  class="user-details-info"><a class="pointer">Deactivate</a></p>
                <p ng-hide="user.active" ng-click="toggleActivateUser(true)" class="user-details-info"><a class="pointer">Activate</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="user-details-nav-bar">
                <li><a href="/#/user/{{user.identifier}}/details" ng-class="{'transaction-location': locationIndicator == 'details'}">Details</a></li>
                <!--<li><a href="/#/user/{{user.identifier}}/currencies" ng-class="{'transaction-location': locationIndicator == 'currencies'}">Currencies</a></li>-->
                <li><a href="/#/user/{{user.identifier}}/accounts" ng-class="{'transaction-location': locationIndicator == 'accounts'}">Accounts</a></li>
                <li><a href="/#/user/{{user.identifier}}/transactions" ng-class="{'transaction-location': locationIndicator == 'transactions'}">Transactions</a></li>
            </ul>
        </div>
    </div>
    <div ui-view="userDetailsView"></div>
</div>
<div ba-panel ng-show="loadingUser">
    <loading-image></loading-image>
</div>