<div ng-hide="loadingUserSwitches" class="setting-bank-accounts panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Switches</span>
        <a ng-click="openAddUserSwitchesModal('app/pages/users/user/userDetails/userSwitches/createUserSwitchModal/createUserSwitchModal.html','md')" class="user-details-panel-link pull-right pointer">Add switch</a>
    </div>
    <div class="panel-body">
        <table ng-show="userSwitchesList.length > 0" class="table">
            <tr class="user-switches-table-header divider">
                <th>Tx Type</th>
                <th>Subtype</th>
                <th></th>
            </tr>
            <tr ng-repeat="switches in userSwitchesList | orderBy: '-created'">
                <td class="table-row-center transactions-list-element" title="{{switches.tx_type}}" ng-bind="switches.tx_type | capitalizeWord | limitTo: '35'"></td>
                <td class="table-row-center transactions-list-element" title="{{switches.enabled}}" ng-bind="switches.subtype ? switches.subtype: 'None' | limitTo: '35'"></td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="switches.enabled">
                        <i class="fa fa-toggle-on user-switch-active pull-right"  ng-click="enableSwitch(switches)"></i>
                    </div>
                    <div ng-hide="switches.enabled">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right"  ng-click="enableSwitch(switches)"></i>
                    </div>
                    <a ng-click="openUserSwitchesModal('app/pages/users/user/userDetails/userSwitches/userSwitchesModal/userSwitchesModal.html','md',switches)"
                       class="pull-right pointer margin-right-30">Delete</a>
                    <a ng-click="openEditUserSwitchesModal('app/pages/users/user/userDetails/userSwitches/editUserSwitchModal/editUserSwitchModal.html','md',switches)" class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                </td>
            </tr>
        </table>
        <div ng-show="userSwitchesList.length == 0">
            <i>No user switches have been added</i>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingUserSwitches">
    <loading-image></loading-image>
</div>