<form name="transactionForm" class="custom-form">
    <div class="transaction-form" id="transferForm">
        <div class="form-group">
            <label>Sender <span class="required-icon">*</span>&nbsp;
                <i ng-show="retrievedSenderUserObj.identifier" class="fa fa-user transaction-transfer-sender-user-icon" aria-hidden="true"></i>
                <div class="row transaction-transfer-sender-user-details">
                    <table>
                        <tr>
                            <th style="text-align: right" width="45%">Name:</th>
                            <td style="padding-left: 15px">{{retrievedSenderUserObj.first_name}} {{retrievedSenderUserObj.last_name}}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">Created date:</th>
                            <td style="padding-left: 15px" ng-show="retrievedSenderUserObj.created">{{retrievedSenderUserObj.created | date:'mediumDate'}}, {{retrievedSenderUserObj.created | date:'shortTime'}}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">Group:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedSenderUserObj.groups[0].name"></td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">KYC status:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedSenderUserObj.kyc.status | capitalizeWord"></td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">User metadata:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedSenderUserObj.metadata"></td>
                        </tr>
                    </table>
                </div>
            </label>
            <input type="text" ng-model="transferTransactionData.user" placeholder="e.g. email@domain.com"
                   uib-typeahead="email for email in getUsersEmailTypeahead($viewValue)" ng-model-options='{ debounce: 800 }'
                   class="form-control" size="12">
        </div>
        <div class="form-group">
            <label>Recipient <span class="required-icon">*</span>&nbsp;
                <i ng-show="retrievedRecipientObj.identifier" class="fa fa-user transaction-transfer-recipient-user-icon" aria-hidden="true"></i>
                <div class="row transaction-transfer-recipient-user-details">
                    <table>
                        <tr>
                            <th style="text-align: right" width="45%">Name:</th>
                            <td style="padding-left: 15px">{{retrievedRecipientObj.first_name}} {{retrievedRecipientObj.last_name}}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">Created date:</th>
                            <td style="padding-left: 15px" ng-show="retrievedRecipientObj.created">{{retrievedRecipientObj.created | date:'mediumDate'}}, {{retrievedRecipientObj.created | date:'shortTime'}}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">Group:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedRecipientObj.groups[0].name"></td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">KYC status:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedRecipientObj.kyc.status | capitalizeWord"></td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="45%">User metadata:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedRecipientObj.metadata"></td>
                        </tr>
                    </table>
                </div>
            </label>
            <input type="text" ng-model="transferTransactionData.recipient" placeholder="e.g. email@domain.com"
                   uib-typeahead="email for email in getUsersEmailTypeahead($viewValue)" ng-model-options='{ debounce: 800 }'
                   class="form-control" size="12">
        </div>
        <div class="form-group">
            <label>Amount <span class="required-icon">*</span></label>
            <input type="text" ng-model="transferTransactionData.amount" class="form-control"  placeholder="e.g. 100000000">
        </div>
        <div class="form-group">
            <label>Currency <span class="required-icon">*</span>
                <span ng-hide="(retrievedSenderUserObj.identifier)">(Please choose sender first)</span>
            </label>
            <br>
            <select class="form-control pointer" ng-model="transferTransactionData.currency" ng-change="currencySelected(transferTransactionData,'recipient')" ng-disabled="(!retrievedSenderUserObj.identifier)"
                    ng-options="currency.code for currency in transferCurrencyOptions | orderBy: 'code' track by currency.code">
            </select>
        </div>
        <div class="form-group">
            <label>Sender account &nbsp;
                <i ng-show="transferTransactionData.account && transferTransactionData.account.name" class="fa fa-list-alt transaction-sender-account-icon" aria-hidden="true"></i>
                <div ng-show="retrievedSenderAccountTransactions.length > 0" class="row transaction-sender-account-details">
                    <p class="transaction-tooltip-title">Recent transactions:</p>
                    <table class="table custom-table">
                        <tr>
                            <th>Type</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                        <tr ng-repeat="transaction in retrievedSenderAccountTransactions | orderBy: '-created'">
                            <td>{{transaction.tx_type}}</td>
                            <td>{{transaction.currency.code}}</td>
                            <td>{{transaction.amount | currencyModifiersFilter: transaction.currency.divisibility}}</td>
                            <td>{{transaction.status | capitalizeWord}}</td>
                            <td>{{transaction.created | date:'mediumDate'}}, {{transaction.created | date:'shortTime'}}</td>
                        </tr>
                    </table>
                </div>
                <div ng-show="retrievedSenderAccountTransactions.length == 0"
                     ng-class="{'no-account-transactions': retrievedSenderAccountTransactions.length == 0}"
                     class="row transaction-sender-account-details">
                    <i>No transactions exist for this account.</i>
                </div>
                <span ng-hide="transferTransactionData.currency.code">(Please choose currency first)</span>
                <span ng-show="transferTransactionData.currency.code && senderCurrencyAccountsAvailable
                && senderUserAccountsAvailable && !transferTransactionData.account.name">(Please choose an account)</span>
                <span class="no-accounts-available" ng-click="goToTransferUserAccountCreate(retrievedSenderUserObj.identifier)"
                      ng-hide="senderUserAccountsAvailable">(Add an account here.)
                </span>
                <span class="no-accounts-currency-available" ng-hide="senderCurrencyAccountsAvailable">
                    (User has no accounts with selected currency.)
                </span>
            </label>
            <select class="form-control pointer" ng-model="transferTransactionData.account" ng-change="accountSelected(transferTransactionData)" ng-disabled="(!transferTransactionData.currency.code || !retrievedSenderUserObj.identifier)"
                    ng-options="account.name + ' - ' + account.reference disable when account.disable for account in retrievedSenderUserAccountsArray | orderBy: 'name' track by account.name">
            </select>
        </div>
        <div class="form-group">
            <label>Recipient account&nbsp;
                <i ng-show="transferTransactionData.credit_account && transferTransactionData.credit_account.name" class="fa fa-list-alt transaction-recipient-account-icon" aria-hidden="true"></i>
                <div ng-show="retrievedRecipientAccountTransactions.length > 0" class="row transaction-recipient-account-details">
                    <p class="transaction-tooltip-title">Recent transactions:</p>
                    <table class="table custom-table">
                        <tr>
                            <th>Type</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                        <tr ng-repeat="transaction in retrievedRecipientAccountTransactions | orderBy: '-created'">
                            <td>{{transaction.tx_type}}</td>
                            <td>{{transaction.currency.code}}</td>
                            <td>{{transaction.amount | currencyModifiersFilter: transaction.currency.divisibility}}</td>
                            <td>{{transaction.status | capitalizeWord}}</td>
                            <td>{{transaction.created | date:'mediumDate'}}, {{transaction.created | date:'shortTime'}}</td>
                        </tr>
                    </table>
                </div>
                <div ng-show="retrievedRecipientAccountTransactions.length == 0"
                     ng-class="{'no-account-transactions': retrievedRecipientAccountTransactions.length == 0}"
                     class="row transaction-recipient-account-details">
                    <i>No transactions exist for this account.</i>
                </div>
                <span ng-hide="transferTransactionData.currency.code">(Please choose currency first)</span>
                <span ng-show="transferTransactionData.currency.code && recipientCurrencyAccountsAvailable
                 && recipientUserAccountsAvailable && !transferTransactionData.credit_account.name">(Please choose an account)</span>
                <span class="no-accounts-available" ng-click="goToTransferUserAccountCreate(retrievedRecipientObj.identifier)"
                      ng-hide="recipientUserAccountsAvailable">(Add an account here.)
                </span>
                <span class="no-accounts-currency-available" ng-hide="recipientCurrencyAccountsAvailable">
                    (User has no accounts with selected currency.)
                </span>
            </label>
            <select class="form-control pointer" ng-model="transferTransactionData.credit_account" ng-change="accountSelected(transferTransactionData,'recipient')" ng-disabled="!transferTransactionData.currency.code || !retrievedRecipientObj.identifier"
                    ng-options="account.name + ' - ' + account.reference disable when account.disable for account in retrievedRecipientAccountsArray | orderBy: 'name' track by account.name">
            </select>
        </div>
        <div class="form-group">
            <label>Sender reference</label>
            <input type="text" ng-model="transferTransactionData.debit_reference" class="form-control"  placeholder="e.g. # 1234">
        </div>
        <div class="form-group">
            <label>Recipient reference</label>
            <input type="text" ng-model="transferTransactionData.credit_reference" class="form-control"  placeholder="e.g. # 1234">
        </div>
    </div>
    <div class="form-group">
        <button ng-click="toggleConfirmTransaction()" class="btn dashboard-btn btn-primary pull-right">Next</button>
    </div>
</form>