<div ng-hide="addingUserAccount" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Add account</span>
        <a ng-click="$dismiss()" class="panel-modal-close-icon pull-right pointer">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </a>
    </div>
    <div class="panel-body">
        <form name="userAccountForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Name  <span class="required-icon">*</span></label>
                <input type="text" class="form-control" ng-model="newUserAccountParams.name"
                       ng-change="newUserAccountParams.name = newUserAccountParams.name.toLowerCase()"
                       placeholder="Enter account name" required/>
            </div>
            <div class="form-group">
                <label>Reference</label>
                <input type="text" class="form-control" ng-model="newUserAccountParams.reference" placeholder="Enter account reference"/>
            </div>
            <div class="form-group">
                <label>Primary</label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="newUserAccountParams.primary" type="checkbox">
            </div>
            <div class="form-group">
                <label>Currency <small class="text-muted">(Hold CTRL to select multiple currencies)</small></label>
                <br>
                <select class="form-control pointer divider" ng-model="currenciesForNewAccount.list" multiple
                        ng-options="currency.code for currency in currenciesList | orderBy: 'code' track by currency.code">
                </select>
                <p>Currencies selected:
                    <span ng-repeat="currency in currenciesForNewAccount.list | orderBy: 'code'">
                    {{$last ? ' ' + currency.code : currency.code + ',' }}
                </span>
                </p>
            </div>
            <div class="form-group">
                <button ng-click="addNewUserAccount(newUserAccountParams)" ng-disabled="!userAccountForm.$valid" class="btn btn-primary user-accounts-btn pull-right">Add</button>
                <button ng-click="$dismiss()" class="btn btn-default pull-left user-accounts-btn">Close</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="addingUserAccount" ba-panel>
    <loading-image></loading-image>
</div>