<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <div ng-hide="inWalletOptions">
            <h1 class="currencies-title get-started-title">Get started</i></h1>
            <div class="panel">
                <div class="panel-body">
                    <div class="get-started-panel">
                        <div class="flex-columns get-started-icons-container"><i class='fas fa-2x fa-wallet'></i></div>
                        <div class="flex-columns">
                            <label>Try the web wallet</label>
                            <div>See how your-end users experience your business and interact with your company via the web wallet.</div>
                        </div>
                        <div class="flex-columns">
                            <button class="btn btn-primary get-started-buttons" ng-click="goToWalletOptions()">Try wallet</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="get-started-panel">
                        <div class="flex-columns get-started-icons-container"><i class="fas fa-2x fa-cogs"></i></div>
                        <div class="flex-columns">
                            <label>Management</label>
                            <div>Learn how to manage your users and business. Rehive offers training and support to help you manage users, operations and accounts.</div>
                        </div>
                        <div class="flex-columns">
                            <button class="btn btn-primary get-started-buttons" ng-click="openIntercomm()">Chat to us</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="get-started-panel">
                        <div class="flex-columns get-started-icons-container"><i class="fa fa-2x fa-briefcase"></i></div>
                        <div class="flex-columns">
                            <label>Business cases</label>
                            <div>Learn how you can use Rehive's white label solutions and fintech templates.</div>
                        </div>
                        <div class="flex-columns">
                            <button class="btn btn-primary get-started-buttons" ng-click="openBusinessCases()">Learn more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="get-started-panel">
                        <div class="flex-columns get-started-icons-container get-started-icon"><i class="fa fa-2x fa-envelope"></i></div>
                        <div class="flex-columns">
                            <label>Contact sales</label>
                            <div>Get in touch with us to schedule a demo or get a quote.</div>
                        </div>
                        <div class="flex-columns">
                            <button class="btn btn-primary get-started-buttons" ng-click="openRehiveContactForm()">Contact</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="inWalletOptions">
            <h1 class="currencies-title get-started-title">
                <button ng-click="goBackToGetStarted()" class="btn btn-default back-button-rounded" style="margin: -2px 8px 0 -50px;">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <strong>Try the wallet</strong>
            </h1>
            <get-started-wallet-options></get-started-wallet-options>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
</div>