<div class="panel table-filters"
     ng-class="{'wider-table-filters': (filtersColdstorageObj.dateFilter && applyFiltersColdstorageObj.dateFilter.selectedDateOption == 'In between')}">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <span class="user-details-panel-title pull-left">Create filter</span>
            <button ng-click="getLatestColdstorageTransactions('applyFilter')" class="btn btn-primary pull-right">Done</button>
            <button ng-click="clearColdstorageFilters()" class="btn btn-default pull-right clear-filter-btn">Clear</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="filterDate">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersColdstorageObj.dateFilter">
                    <span>Date</span>
                </label>
            </div>
            <div ng-if="filtersColdstorageObj.dateFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer" ng-model="applyFiltersColdstorageObj.dateFilter.selectedDateOption"
                            ng-options="option for option in dateFilterColdstorageOptions">
                    </select>
                    <div ng-show="applyFiltersColdstorageObj.dateFilter.selectedDateOption == 'Is in the last'" class="date-filter-view">
                        <input type="text" ng-model="applyFiltersColdstorageObj.dateFilter.dayInterval" ng-change="dayIntervalChangedColdstorage()"
                               auto-focus="applyFiltersColdstorageObj.dateFilter.selectedDateOption == 'Is in the last'" class="transaction-date-interval-input">
                        <select class="form-control pointer margin-left-12" ng-model="applyFiltersColdstorageObj.dateFilter.selectedDayIntervalOption"
                                ng-options="option for option in dateFilterIntervalColdstorageOptions">
                        </select>
                    </div>
                    <div ng-show="applyFiltersColdstorageObj.dateFilter.selectedDateOption == 'In between'" class="date-filter-view">
                        <div class="date-filter-in-between-view">
                            <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                                   uib-datepicker-popup="{{dateObjColdstorage.format}}" popup-placement="bottom-left"
                                   ng-model="applyFiltersColdstorageObj.dateFilter.dateFrom"
                                   show-button-bar="false" datepicker-options="{showWeeks: false}"
                                   placeholder="mm/dd/yyyy" is-open="popup1Coldstorage.opened" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open1Coldstorage()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <span class="filter-text margin-left-12">and</span>
                        <div class="date-filter-in-between-view">
                            <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                                   uib-datepicker-popup="{{dateObjColdstorage.format}}" popup-placement="bottom-left"
                                   ng-model="applyFiltersColdstorageObj.dateFilter.dateTo"
                                   show-button-bar="false" datepicker-options="{showWeeks: false}"
                                   placeholder="mm/dd/yyyy" is-open="popup2Coldstorage.opened" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open2Coldstorage()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div ng-show="applyFiltersColdstorageObj.dateFilter.selectedDateOption == 'Is equal to'" class="date-filter-view">
                        <div class="date-filter-in-between-view">
                            <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                                   uib-datepicker-popup="{{dateObjColdstorage.format}}" popup-placement="bottom-left"
                                   ng-model="applyFiltersColdstorageObj.dateFilter.dateEqualTo" show-button-bar="false" datepicker-options="{showWeeks: false}"
                                   placeholder="mm/dd/yyyy" is-open="popup1Coldstorage.opened" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open1Coldstorage()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div ng-show="applyFiltersColdstorageObj.dateFilter.selectedDateOption == 'Is after'" class="date-filter-view">
                        <div class="date-filter-in-between-view">
                            <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                                   uib-datepicker-popup="{{dateObjColdstorage.format}}" popup-placement="bottom-left"
                                   ng-model="applyFiltersColdstorageObj.dateFilter.dateFrom" show-button-bar="false" datepicker-options="{showWeeks: false}"
                                   placeholder="mm/dd/yyyy" is-open="popup1Coldstorage.opened" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open1Coldstorage()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div ng-show="applyFiltersColdstorageObj.dateFilter.selectedDateOption == 'Is before'" class="date-filter-view">
                        <div class="date-filter-in-between-view">
                            <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                                   uib-datepicker-popup="{{dateObjColdstorage.format}}" popup-placement="bottom-left"
                                   ng-model="applyFiltersColdstorageObj.dateFilter.dateTo" show-button-bar="false" datepicker-options="{showWeeks: false}"
                                   placeholder="mm/dd/yyyy" is-open="popup2Coldstorage.opened" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open2Coldstorage()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="filterAmount">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersColdstorageObj.amountFilter">
                    <span>Amount</span>
                </label>
            </div>
            <div ng-if="filtersColdstorageObj.amountFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer" ng-model="applyFiltersColdstorageObj.amountFilter.selectedAmountOption"
                            ng-options="option for option in amountFilterColdstorageOptions">
                    </select>
                    <div ng-show="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is equal to'" class="date-filter-in-between-view">
                        <input type="text" ng-model="applyFiltersColdstorageObj.amountFilter.amount"
                               auto-focus="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is equal to'"
                               class="transaction-amount-input">
                    </div>
                    <div ng-show="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is between'" class="amount-filter-in-between-view">
                        <input type="text" ng-model="applyFiltersColdstorageObj.amountFilter.amount__gt"
                               auto-focus="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is between'"
                               class="transaction-amount-input">
                        <span class="filter-text margin-left-12">and</span>
                        <input type="text" ng-model="applyFiltersColdstorageObj.amountFilter.amount__lt" class="transaction-amount-input">
                    </div>
                    <div ng-show="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is greater than'" class="date-filter-in-between-view">
                        <input type="text" ng-model="applyFiltersColdstorageObj.amountFilter.amount__gt"
                               auto-focus="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is greater than'"
                               class="transaction-amount-input">
                    </div>
                    <div ng-show="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is less than'" class="date-filter-in-between-view">
                        <input type="text" ng-model="applyFiltersColdstorageObj.amountFilter.amount__lt"
                               auto-focus="applyFiltersColdstorageObj.amountFilter.selectedAmountOption == 'Is less than'"
                               class="transaction-amount-input">
                    </div>
                </div>
            </div>
        </div>
        <div id="filterStatus">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersColdstorageObj.statusFilter">
                    <span>Status</span>
                </label>
            </div>
            <div ng-if="filtersColdstorageObj.statusFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer" ng-model="applyFiltersColdstorageObj.statusFilter.selectedStatusOption"
                            ng-options="option for option in statusOptionsColdstorage">
                    </select>
                </div>
            </div>
        </div>
        <div id="filterTransactionType">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersColdstorageObj.transactionTypeFilter">
                    <span>Transaction type</span>
                </label>
            </div>
            <div ng-if="filtersColdstorageObj.transactionTypeFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer" ng-model="applyFiltersColdstorageObj.transactionTypeFilter.selectedTransactionTypeOption"
                            ng-options="option for option in typeOptionsColdstorage">
                    </select>
                    <span class="filter-text margin-left-12">subtype </span>
                    <select class="form-control pointer margin-left-12" ng-model="applyFiltersColdstorageObj.transactionSubtypeFilter.selectedTransactionSubtypeOption"
                            ng-options="subtypeOption for subtypeOption in subtypeOptionsColdstorage">
                    </select>
                </div>
            </div>
        </div>
        <div id="filterTransactionID">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersColdstorageObj.transactionIdFilter">
                    <span>Transaction id</span>
                </label>
            </div>
            <div ng-if="filtersColdstorageObj.transactionIdFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <input type="text" ng-model="applyFiltersColdstorageObj.transactionIdFilter.selectedTransactionIdOption"
                           auto-focus="filtersColdstorageObj.transactionIdFilter"
                           placeholder="Transaction id" class="transaction-id-input">
                </div>
            </div>
        </div>
        <div id="filterPageSize">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersColdstorageObj.pageSizeFilter">
                    <span>Page size</span>
                </label>
            </div>
            <div ng-if="filtersColdstorageObj.pageSizeFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <input type="text" ng-model="coldstoragePagination.itemsPerPage" ng-change="pageSizeChangedColdstorage()"
                           auto-focus="filtersColdstorageObj.pageSizeFilter"
                           placeholder="Enter page size" class="transaction-page-size-input">
                </div>
            </div>
        </div>
        <div id="filterOrderBy">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersColdstorageObj.orderByFilter">
                    <span>Order by</span>
                </label>
            </div>
            <div ng-if="filtersColdstorageObj.orderByFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer" ng-model="applyFiltersColdstorageObj.orderByFilter.selectedOrderByOption"
                            ng-options="orderBy for orderBy in orderByOptionsColdstorage">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>