<h1 class="currencies-title">Admin info</h1>
<div ng-hide="loadingAccountInfo" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <span class="user-details-panel-title">Administrator info</span>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <button ng-click="viewAllEmails()" class="btn btn-primary dashboard-btn pull-right">View emails</button>
                        <label>Primary email</label>
                        <p class="text-muted" ng-bind="administrator.email"></p>
                    </div>
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" ng-change="accountInfoChanged('first_name')" ng-model="administrator.first_name" class="form-control" placeholder="e.g. Satoshi">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" ng-change="accountInfoChanged('last_name')" ng-model="administrator.last_name" class="form-control" placeholder="e.g. Nakomoto">
                    </div>
                    <div class="form-group">
                        <label>Nationality</label>
                        <country-select class="form-control pointer" ng-change="accountInfoChanged('nationality')" data-ng-model="administrator.nationality"></country-select>
                    </div>
                    <div class="form-group">
                        <label>Identity/passport number</label>
                        <input type="text" ng-change="accountInfoChanged('id_number')" ng-model="administrator.id_number" class="form-control" placeholder="e.g. 891218666987">
                    </div>
                    <div class="form-group">
                        <button ng-click="updateAdministratorAccount()" class="btn btn-primary dashboard-btn pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <span class="user-details-panel-title">Contact details</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Mobile number</label>
                    <p class="text-muted" ng-bind="administrator.mobile_number || 'N/A'"></p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <span class="user-details-panel-title">Change password</span>
                <a ng-click="changePassword()" class="user-details-panel-link pull-right pointer">Next</a>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingAccountInfo">
    <loading-image></loading-image>
</div>
