<div class="panel">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <div>
                <button ng-click="showWarmstorageFilters()" ng-class="{'transactions-filter-btn': (filtersWarmstorageCount > 0), 'transactions-btn': (filtersWarmstorageCount == 0)}"
                        class="btn btn-default">Filters
                    <span ng-show="filtersWarmstorageCount > 0">|</span> <span ng-show="filtersWarmstorageCount > 0" class="filter-count">{{filtersWarmstorageCount}}</span>
                </button>
                <div ng-show="showingWarmstorageFilters">
                    <stellar-warmstorage-transactions-filters></stellar-warmstorage-transactions-filters>
                </div>
            </div>
            <button ng-click="refreshWarmstoragePage('applyFilter')" ng-disabled="loadingWarmstorage"
                    class="btn btn-default transactions-btn panel-header-button">Refresh</button>
        </div>
    </div>
    <div class="panel-body">
        <div ng-hide="transactionsWarmstorage.length == 0" class="divider">
            <table class="table custom-table">
                <tr>
                    <th>Type</th>
                    <th>Subtype</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Status</th>
                    <th class="align-right">Date</th>
                </tr>
                <tr ng-repeat="transaction in transactionsWarmstorage | orderBy: orderByFunctionWarmstorage" data-toggle="modal"
                    ng-click="openWarmstorageModal('app/pages/services/stellarService/stellarServiceAccounts/stellarWarmstorage/warmstorageTransactionModal/warmstorageTransactionModal.html', 'md',transaction)"
                    class="editable-row center pointer user-details-table-hover">
                    <td><div title="{{transaction.tx_type}}" class="transactions-list-element" ng-bind="transaction.tx_type | capitalizeWord"></div></td>
                    <td><div title="{{transaction.subtype}}" class="transactions-list-element" ng-bind="transaction.subtype || 'None'"></div></td>
                    <td><div title="{{transaction.currency.code}}" class="transactions-list-element" ng-bind="transaction.currency.code"></div></td>
                    <td><div title="{{transaction.amount  | currencyModifiersFilter: transaction.currency.divisibility}}" class="transactions-list-element" ng-bind="transaction.amount  | currencyModifiersFilter: transaction.currency.divisibility"></div></td>
                    <td><div title="{{transaction.fee | currencyModifiersFilter: transaction.currency.divisibility}}"
                             class="transactions-list-element" ng-bind="transaction.fee | currencyModifiersFilter: transaction.currency.divisibility"></div></td>
                    <td><div title="{{transaction.status | capitalizeWord}}" class="transactions-list-element" ng-bind="transaction.status | capitalizeWord"></div></td>
                    <td class="align-right"><div title="{{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}">
                        {{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}</div></td>
                </tr>
            </table>
            <div>
                <p uib-pagination boundary-links="true" items-per-page="warmstoragePagination.itemsPerPage"  total-items="transactionsWarmstorageData.count" ng-model="warmstoragePagination.pageNo"
                   max-size="warmstoragePagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getLatestWarmstorageTransactions()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
        <div ng-show="transactionsWarmstorage.length == 0">
            <i ng-hide="transactionsWarmstorageStateMessage == ''" ng-bind="transactionsWarmstorageStateMessage"></i>
            <loading-image ng-show="transactionsWarmstorageStateMessage == ''"></loading-image>
        </div>
    </div>
</div>


