<div ng-hide="loadingUserBankAccount" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Bank accounts</span>
        <a ng-click="openAddUserBankAccountModal('app/pages/users/user/userDetails/userBankAccounts/addUserBankAccountModal/addUserBankAccountModal.html','md')" class="user-details-panel-link pull-right pointer">Add bank account</a>
    </div>
    <div class="panel-body">
        <div  ng-repeat="bank in userBanks | orderBy: 'id'">
            <div class="row user-address">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a ng-click="showCollapsedBankDetails(bank)" class="pointer">
                        <i ng-hide="bank.id == uncollapsedBank.id" class="fa fa-chevron-right user-bank-icons"></i><i ng-show="bank.id == uncollapsedBank.id" class="fa fa-chevron-down user-bank-icons"></i> {{bank.name}}</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a ng-click="openUserBankAccountModal('app/pages/users/user/userDetails/userBankAccounts/userBankAccountModal/userBankAccountModal.html','md',bank)"
                       class="pull-right pointer">Delete</a>
                    <a ng-click="openEditUserBankAccountModal('app/pages/users/user/userDetails/userBankAccounts/editUserBankAccountModal/editUserBankAccountModal.html','md',bank)" class="pull-right pointer user-bank-edit margin-right-30">Edit</a>
                    <a ng-class="{'invisible-element': bank.status != 'pending'}" ng-click="verifyBankAccountConfirm(bank)"
                       class="pull-right pointer margin-right-30">Verify</a>
                    <span ng-class="{'status-pending': bank.status == 'pending','status-verified': bank.status == 'verified',
                    'status-incomplete-declined': bank.status == 'incomplete' || bank.status == 'declined'}"
                          class="user-address-status pull-right margin-right-30">{{bank.status | uppercase}}</span>
                </div>
            </div>
            <div ng-show="bank.id == uncollapsedBank.id" uib-collapse="isBankDetailsCollapsed" class="row divider">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table user-details-table">
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account name/holder</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.name || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account number</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.number || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account type</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.type || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Bank name</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.bank_name || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Bank code</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.bank_code || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Branch code</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.branch_code || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Swift</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.swift || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">IBAN</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.iban || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">BIC</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{uncollapsedBank.bic || 'Not provided'}}</th>
                            <th width="50%"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="userBanks.length == 0 && !loadingUserBankAccount">
            <i>No banks are available</i>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingUserBankAccount">
    <loading-image></loading-image>
</div>