<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 company-setup-col-8">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Groups</span>
        </div>
        <div class="panel-body">
            <div class=" row divider-25">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="group-setup-ul">
                        <li>Create groups to categorize and configure business rules for your users.</li>
                        <li>You can configure tiers, tier limits, tier requirements, fees, and admin permissions per group.</li>
                        <li>By default only admins can assign users to a group - make a group <i><b>Public</b></i> if you would
                            like the group to be available as a choice in the registration API endpoint.</li>
                        <li>Make a group <i><b>Default</b></i> if you want new users to be automatically added upon user creation.</li>
                        <li><i><b>admin</b></i> group is automatically added. The company owner is placed in this group.</li>
                        <li><i><b>service</b></i> group is automatically added - it is required to run 3rd party services on Rehive.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 custom-form">
                    <div class="form-group">
                        <label>Group name <span class="required-icon">*</span></label>
                        <input type="text" class="form-control" ng-model="user.name"
                               placeholder="Group name e.g. merchant" required
                               ng-change="user.name? user.name = user.name.toLowerCase():null;">
                    </div>
                    <div class="form-group">
                        <label>Group label <span class="required-icon"></span></label>
                        <input type="text" class="form-control" ng-model="user.label"
                               placeholder="Group label e.g. Merchant">
                    </div>
                    <div class="form-group">
                        <label>Public</label>
                        <br>
                        <span data-tip="Allows users to allocate themselves to the group">
                            <input class="custom-rehive-checkbox"
                                   ng-change="user.public ? null: user.default=false"
                                   ng-model="user.public" type="checkbox">
                        </span>

                    </div>
                    <div class="form-group">
                        <label>Default</label>
                        <br>
                        <span data-tip="Users will be allocated to the  default group automatically on registration">
                            <input class="custom-rehive-checkbox" ng-change="user.default? user.public=true:null"
                                   ng-model="user.default" type="checkbox">
                        </span>
                    </div>
                    <div class="form-group">
                        <button ng-click="addUserGroupCompanySetup(user)" ng-disabled="!user.name"
                                ng-hide="editingUser"
                                class="btn btn-primary pull-right dashboard-btn">Add
                        </button>
                        <button ng-click="updateUserGroupCompanySetup(user)" ng-disabled="!user.name"
                                ng-show="editingUser"
                                class="btn btn-primary pull-right dashboard-btn">Save
                        </button>
                    </div>

                </div>
            </div>
            <hr class="no-margin-horizontal divider-25">
            <div class="form-group">
                <button ng-click="goToNextView()" ng-disabled="setupUsers==1"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn">Skip
                </button>
                <button ng-click="skipAllView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn margin-left-10">Skip all
                </button>
                <button ng-click="goToNextView()" ng-disabled="setupUsers==0"
                        class="btn btn-primary pull-right dashboard-btn">Next
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 company-setup-col-2">
    <div ng-hide="loadingUsersGroups" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Added groups</span>
        </div>
        <div class="panel-body">
            <div class="divider-20" ng-repeat="group in addedGroups" ng-class="{'no-margin-bottom': $last}">
                <div ng-class="{'divider': group.public && group.default}">
                    <span ng-class="{'pointer': group.name!='admin' && group.name!='service'}" ng-click="group.name!='admin' && group.name!='service' ? editUser(group):null">{{group.label}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span ng-class="{'pointer': group.name!='admin' && group.name!='service'}" ng-click="group.name!='admin' && group.name!='service' ? editUser(group):null">({{group.name}})</span>
                    <span class="pull-right pointer" style="font-size: 16px;line-height: 16px;font-weight: 500;"
                          ng-hide="group.name=='admin' || group.name=='service'"
                          ng-click="deleteGroupConfirm(group.name)">x</span>
                </div>
                <div ng-class="{'invisible-with-no-space': !group.public && !group.default}">
                    <span ng-show="group.public">Public</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span ng-show="group.default">Default</span>
                </div>
            </div>
        </div>
    </div>
    <div ba-panel ng-show="loadingUsersGroups">
        <loading-image></loading-image>
    </div>
</div>