<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 company-setup-col-8">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Groups</span>
        </div>
        <div class="panel-body">
            <div class=" row divider-25">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="group-setup-ul">
                        <li>Create groups to categorize and configure business rules for your users.</li>
                        <li>You can configure tiers, tier limits, tier requirements, fees, and admin permissions per group later on.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 custom-form">
                    <div class="form-group">
                        <label>Group name <span class="required-icon">*</span></label>
                        <input type="text" class="form-control" ng-model="user.name"
                               placeholder="Group name e.g. merchant" required
                               ng-change="groupNameChanged(user)">
                    </div>
                    <div class="form-group">
                        <label>Group label <span class="required-icon"></span></label>
                        <input type="text" class="form-control" ng-model="user.label"
                               placeholder="Group label e.g. Merchant">
                    </div>
                    <div class="form-group">
                        <label>Group description <span class="required-icon"></span></label>
                        <input type="text" class="form-control" ng-model="user.description"
                               placeholder="Group description e.g. a merchant group">
                    </div>
                    <div class="form-group setup-groups-tooltip-div">
                        <label>Public &nbsp;<i uib-tooltip-html="'Make a group <strong><i>Public</i></strong>
                        if you would like the group to be available as a choice in the registration API endpoint.'"
                                         class="ion-information-circled setup-groups-tooltip"></i></label>
                        <br>
                        <span data-tip="Allows users to allocate themselves to the group">
                            <input class="custom-rehive-checkbox"
                                   ng-change="user.public ? null: user.default=false"
                                   ng-model="user.public" type="checkbox">
                        </span>

                    </div>
                    <div class="form-group setup-groups-tooltip-div">
                        <label>Default &nbsp;<i uib-tooltip-html="'Make a group <strong><i>Default</i></strong> if you want
                        new users to be automatically added to it when they register. Only one group can be set as the
                        <strong><i>Default</i></strong>.'" class="ion-information-circled setup-groups-tooltip"></i></label>
                        <br>
                        <span data-tip="Users will be allocated to the  default group automatically on registration">
                            <input class="custom-rehive-checkbox" ng-change="user.default? user.public=true:null"
                                   ng-model="user.default" type="checkbox">
                        </span>
                    </div>
                    <div class="form-group">
                        <button ng-click="addUserGroupCompanySetup(user)" ng-disabled="!user.name"
                                ng-hide="editingUser"
                                class="btn btn-primary pull-right dashboard-btn">Add
                        </button>
                        <button ng-click="updateUserGroupCompanySetup(user)" ng-disabled="!user.name"
                                ng-show="editingUser"
                                class="btn btn-primary pull-right dashboard-btn">Save
                        </button>
                    </div>

                </div>
            </div>
            <hr class="no-margin-horizontal divider-25">
            <div class="form-group">
                <button ng-click="goToNextView()" ng-disabled="setupUsers==1"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn">Skip
                </button>
                <button ng-click="skipAllView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn margin-left-10">Skip all
                </button>
                <button ng-click="goToNextView()" ng-disabled="setupUsers==0"
                        class="btn btn-primary pull-right dashboard-btn">Next
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 company-setup-col-2">
    <div ng-hide="loadingUsersGroups" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Added groups</span>
        </div>
        <div class="panel-body">
            <div ng-show="addedGroups.length > 0">
                <div class="divider-20" ng-repeat="group in addedGroups | orderBy: 'name'" ng-class="{'no-margin-bottom': $last}">
                    <div ng-class="{'divider': group.public || group.default}">
                        <span>{{group.name}}</span>
                        <span class="pull-right groups-delete-x-icon pointer"
                              ng-hide="group.name=='admin' || group.name=='service'"
                              ng-click="deleteGroupConfirm(group)">x</span>
                        <span style="font-size: 10px;line-height: 20px;font-weight: 500; padding: 0 5px 5px 5px;"
                              ng-class="{'pointer': group.name!='admin' && group.name!='service'}"
                              ng-click="group.name!='admin' && group.name!='service' ? editUser(group):null"
                              class="pull-right margin-right-10" ng-click="deleteCurrencyConfirm(currency.code)"
                              ng-hide="group.name=='admin' || group.name=='service'">
                        <i class="fa fa-pencil"></i>
                    </span>
                    </div>
                    <div ng-class="{'invisible-with-no-space': !group.public && !group.default}">
                        <span class="group-properties" ng-show="group.public"><i class="fa fa-check"></i>&nbsp;&nbsp; Public</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="group-properties" ng-show="group.default"><i class="fa fa-check"></i>&nbsp;&nbsp; Default</span>
                    </div>
                </div>
            </div>
            <div ng-show="addedGroups.length == 0">
                <i>No groups have been added yet.</i>
            </div>
        </div>
    </div>
    <div ba-panel ng-show="loadingUsersGroups">
        <loading-image></loading-image>
    </div>
    <div class="panel">
        <div class="panel-heading panel-heading-rehive-groups">
            <span class="user-details-panel-title">Rehive system groups &nbsp;
                <span class="system-groups-tooltip-span">
                    <span class="ion-information-circled setup-groups-tooltip">
                        <span class="system-groups-tooltip">
                            <strong><i>admin</i></strong> group is automatically added and the company
                            owner placed inside. <strong><i>service</i></strong> group is required to add utility services on Rehive.
                        </span>
                    </span>
                </span>
            </span>
        </div>
        <div class="panel-body">
            <div class="divider-20" ng-repeat="group in rehiveSystemGroups | orderBy: 'name'" ng-class="{'no-margin-bottom': $last}">
                <div>
                    <span>{{group.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>