<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Conversion details</h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">Conversion id:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.id"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">Quote id:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.quote.id"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">User:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.quote.user"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">Recipient:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.quote.recipient"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">Debit tx:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.debit_tx"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">Credit tx:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.credit_tx"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">From currency:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.quote.from_currency.code"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">To currency:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span ng-bind="conversion.quote.to_currency.code"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">From total amount:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>{{conversion.quote.from_currency.symbol}} {{conversion.quote.from_total_amount  | currencyModifiersFilter: conversion.quote.from_currency.divisibility}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">From amount:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>{{conversion.quote.from_currency.symbol}} {{conversion.quote.from_amount  | currencyModifiersFilter: conversion.quote.from_currency.divisibility}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">From fee:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>{{conversion.quote.from_currency.symbol}} {{conversion.quote.from_fee  | currencyModifiersFilter: conversion.quote.from_currency.divisibility}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">To amount:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>{{conversion.quote.to_currency.symbol}} {{conversion.quote.to_amount  | currencyModifiersFilter: conversion.quote.to_currency.divisibility}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                    <p class="text-subtle">Rate:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span>{{conversion.quote.to_currency.symbol}} {{conversion.quote.rate  | currencyModifiersFilter: conversion.quote.to_currency.divisibility}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding">
                    <p class="text-subtle">Metadata:</p>
                </div>
                <div class="metadata col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                    <div ng-show="formatted.metadata">
                        <pre class="no-margin">{{formatted.metadata}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dashboard-btn pull-right" ng-click="$dismiss()">Close</button>
    </div>
</div>
