<div ng-show="hotwalletObjLength == 0 && !loadingHotwalletTransactions" class="panel">
    <div class="panel-body">
        <i>No active hotwallet created. To enable this feature please create a hotwallet.</i>
        <a ng-click="openAddHotwalletModal('app/pages/services/stellarService/stellarServiceAccounts/stellarHotwallet/addStellarHotwalletModal/addStellarHotwalletModal.html','md')" class="pull-right pointer">Create</a>
    </div>
</div>

<div ng-show="hotwalletObjLength > 0 && !loadingHotwalletTransactions" class="panel" ng-repeat="currency in hotWalletCurrencies">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="dashboard-currencies-code">
                    {{currency.currency.code}}
                </div>
            </div>
            <div class="currencies-page-row">
                <div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div>
                            <span><strong>{{hotwalletObj.rehive_account_reference}}</strong></span>
                            <br>
                            <span class="currencies-details-heading">Account reference</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div>
                            <span><strong>{{currency.currency.symbol}} {{currency.balance | currencyModifiersFilter: currency.currency.divisibility}}</strong></span>
                            <br>
                            <span class="currencies-details-heading">Total</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div>
                            <span><strong>{{hotwalletObj.low_balance_percentage + '%'}}</strong></span>
                            <br>
                            <span class="currencies-details-heading">Low balance percentage</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <button class="btn btn-primary dashboard-btn pull-right" style="margin-top: 0px!important;"
                                ng-click="openFundHotwalletModal('app/pages/services/stellarService/stellarServiceAccounts/stellarHotwallet/fundStellarHotwalletModal/fundStellarHotwalletModal.html','md')">
                            Fund
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<stellar-hotwallet-transactions-table ng-hide="loadingHotwalletTransactions"></stellar-hotwallet-transactions-table>
<div ba-panel ng-show="loadingHotwalletTransactions">
    <loading-image></loading-image>
</div>