<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 company-setup-col-8">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Account configurations</span>
        </div>
        <div class="panel-body">
            <div class=" row divider-25">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="group-setup-ul">
                        <li>Set up templates for account configurations per user group.
                            These are applied to users in that group when they resister.</li>
                        <li>You can add users to groups you create at any time.</li>
                        <li>Select which currencies the account can transact in.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 custom-form">
                    <div class="form-group">
                        <label>1 - Choose a group <span class="required-icon">*</span></label>
                        <select ng-disabled="editingAccount" class="form-control" ng-model="account.groupName"
                                ng-options="group.name for group in groups track by group.name">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>2 - Configure <span class="required-icon">*</span></label>
                        <input type="text" class="form-control" ng-model="account.name"
                               placeholder="Account name, e.g. default, saving, loan, etc."
                               ng-change="accountConfigNameChanged(account)">
                        <div class="checkbox divider-20">
                            <input type="text" class="form-control" ng-model="account.label"
                                   placeholder="Account label, e.g. Default, Saving, Loan, etc.">
                        </div>
                    </div>
                    <div class="form-group setup-accounts-tooltip-div">
                        <label>Primary &nbsp;
                            <i uib-tooltip-html="'
                            <ul>
                                <li>All money transferred to users will go to their <strong><i>Primary</i></strong> account.</li>
                                <li>There can only be one <strong><i>Primary</i></strong> account per group.</li>
                                <li>You can\'t make transfers to a user if they don\'t have a <strong><i>Primary</i></strong> account.</li>
                            </ul>'" class="ion-information-circled setup-groups-tooltip"></i></label>
                        <br>
                        <span data-tip="Set as the main account, only one account can be the primary account per group">
                            <input class="custom-rehive-checkbox" ng-model="account.primary" type="checkbox">
                        </span>
                    </div>
                    <div class="form-group setup-groups-tooltip-div">
                        <label>Default &nbsp;<i uib-tooltip-html="'Making an account <strong><i>Default</i></strong> means
                        all users in a selected group will automatically have this account and its configurations when they register.'"
                                                class="ion-information-circled setup-groups-tooltip"></i></label>
                        <br>
                        <span data-tip="A default account will be created automatically upon registration">
                            <input class="custom-rehive-checkbox" ng-model="account.default" type="checkbox">
                        </span>

                    </div>
                    <div class="form-group">
                        <label>3 - Select currencies</label>
                        <select multiple class="form-control divider" ng-model="account.currencies"
                                ng-options="currency.code for currency in currencies | orderBy: 'code'">
                        </select>
                        <p>Currencies selected:
                            <span ng-repeat="currency in account.currencies | orderBy: 'code'">
                                {{$last ? ' ' + currency.code : currency.code + ',' }}
                            </span>
                        </p>
                        <p ng-show="alreadySelectedCurrencies.length > 0">Currencies already selected:
                            <span ng-repeat="currency in alreadySelectedCurrencies | orderBy: 'code'">
                                {{$last ? ' ' + currency.code : currency.code + ',' }}
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <button ng-hide="editingAccount" ng-click="addAccount(account)"
                                class="btn btn-primary pull-right dashboard-btn"
                                ng-disabled="!account.groupName.name || !account.name">Add
                        </button>
                        <button ng-show="editingAccount" ng-click="editAccountCompanySetup(account)"
                                class="btn btn-primary pull-right dashboard-btn"
                                ng-disabled="!account.groupName.name || !account.name">Save
                        </button>
                    </div>

                </div>
            </div>
            <hr class="no-margin-horizontal divider-25">
            <div class="form-group">
                <button ng-click="goToNextView()" ng-disabled="setupAccounts==1"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn">Skip
                </button>
                <button ng-click="skipAllView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn margin-left-10">Skip all
                </button>
                <button ng-click="goToNextView()" ng-disabled="setupAccounts==0"
                        class="btn btn-primary pull-right dashboard-btn">Next
                </button>
                <button ng-click="goToPrevView()"
                        class="btn btn-default pull-right dashboard-btn margin-right-10">Back
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 company-setup-col-2">
    <div ng-hide="loadingCompanySetupAccounts" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Added accounts</span>
        </div>
        <div class="panel-body">
            <div class="divider-20" ng-class="{'no-margin-bottom': $last}" ng-repeat="group in groups | orderBy: 'name'">
                <div class="pointer" ng-click="showAccountConfigs($index)">
                    <span class="text-subtle">{{group.name}} ({{group.accConfigCount}})</span>
                    <span ng-show="showAccountConfigsOfGroup != $index"  class="company-setup-plus-icon pull-right">+</span>
                    <span ng-show="showAccountConfigsOfGroup == $index" class="company-setup-minus-icon pull-right">-</span>
                </div>
                <div ng-show="showAccountConfigsOfGroup == $index">
                    <div class="added-options-overview row" ng-repeat="account in accounts | orderBy: '-account.group.name'"
                         ng-hide="accounts.length==0"
                         ng-class="{'no-margin-bottom': $last}">
                        <div ng-show="group.name ==  account.group.name" class="account-config-company-setup">
                            <div>
                                <div class="row no-padding">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 account-name no-right-padding">
                                     <span ng-class="{'long-text': (account.label.length > 16),
                                      'very-long-text': (account.label.length > 25)}" ng-show="account.name">{{account.name}}</span>
                                    </div>
                                    <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding">
                                        <span class="pull-right groups-delete-x-icon pointer" ng-click="deleteAccountConfirm(account)">x</span>
                                        <span style="font-size: 10px;line-height: 20px;font-weight: 500; padding: 0 5px 5px 5px;"
                                              ng-click="editingAccountCompanySetup(account)"
                                              class="pull-right margin-right-10 pointer">
                                    <i class="fa fa-pencil"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-right-padding">
                                    <div ng-class="{'invisible-with-no-space': !account.primary && !account.default}">
                                        <span class="group-properties" ng-show="account.primary"><i class="fa fa-check"></i>&nbsp;&nbsp; Primary</span>
                                        <span ng-show="account.primary">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span class="group-properties" ng-show="account.default"><i class="fa fa-check"></i>&nbsp;&nbsp; Default</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <span ng-show="groups.length==0">Please add a <a href="/#/company/setup/groups">group</a> first</span>
        </div>
    </div>
    <div ba-panel ng-show="loadingCompanySetupAccounts">
        <loading-image></loading-image>
    </div>
</div>