<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Accounts</span>
        </div>
        <div class="panel-body">
            <div class=" row divider-25">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p>Accounts can be added to user groups and assigned to a set of currencies for that account. Define
                        primary accounts for a specific user group and setup default accounts for user groups and
                        associated currencies. Default accounts are automatically added to a user group.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label>1 - Choose a group</label>
                        <select class="form-control" ng-model="account.groupName"
                                ng-options="group.name for group in groups track by group.name">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>2 - Configure</label>
                        <input type="text" class="form-control" ng-model="account.name"
                               placeholder="Account name, eg. default, savings, loans etc">
                        <div class="checkbox divider-20">
                            <input type="text" class="form-control" ng-model="account.label"
                                   placeholder="Enter label">
                        </div>
                    </div>
                    <div class="form-group"
                         data-tip="Set as the main account, only one account can be the primary account per group">
                        <label>Primary</label>
                        <br>
                        <input class="custom-rehive-checkbox" ng-model="account.primary" type="checkbox">
                    </div>
                    <div class="form-group"
                         data-tip="A default account will be created automatically upon registration">
                        <label>Default</label>
                        <br>
                        <input class="custom-rehive-checkbox" ng-model="account.default" type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>3 - Select currencies</label>
                        <select multiple class="form-control divider" ng-model="account.currencies"
                                ng-options="currency.code for currency in currencies track by currency.code">
                        </select>
                        <p>Currencies selected:
                            <span ng-repeat="currency in account.currencies">
                                {{currency.code}}
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <button ng-click="addAccount(account)"
                                class="btn btn-primary pull-right dashboard-btn"
                                ng-disabled="!account.groupName || !account.name || !account.label">Add
                        </button>
                    </div>

                </div>
            </div>
            <hr class="no-margin-horizontal divider-25">
            <div class="form-group">
                <button ng-click="goToNextView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn">Skip
                </button>
                <button ng-click="skipAllView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn margin-left-10">Skip all
                </button>
                <button ng-click="goToNextView()"
                        class="btn btn-primary setup-next-btn pull-right dashboard-btn">Next
                </button>
                <button ng-click="goToPrevView()"
                        class="btn btn-default pull-right dashboard-btn margin-right-10">Back
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Added accounts</span>
        </div>
        <div class="panel-body">
            <div class="divider-20" ng-repeat="account in accounts" ng-hide="accounts.length==0"
                 ng-class="{'no-margin-bottom': $last}">
                <span>{{account.name}}</span>
                <span class="pull-right pointer" ng-click="deleteAccount(account)">&#10006;</span>
            </div>
            <span ng-show="accounts.length==0">No accounts added yet.</span>
        </div>
    </div>
</div>