<div class="panel" >
    <div class="panel-heading">
        <div class="table-filter-heading">
            <button ng-click="showAccountsFilters()" ng-class="{'transactions-filter-btn': (accountsFiltersCount > 0), 'transactions-btn': (accountsFiltersCount == 0)}"
                    class="btn btn-default">Filters
                <span ng-show="accountsFiltersCount > 0">|</span> <span ng-show="accountsFiltersCount > 0" class="filter-count">{{accountsFiltersCount}}</span>
            </button>
            <div ng-show="showingAccountsFilters">
                <user-accounts-filter></user-accounts-filter>
            </div>
            <div>
                <button class="btn btn-success pull-right panel-header-button currencies-page-buttons-add"
                        ng-click="openAddAccountModal('app/pages/users/user/userAccountsOnly/addAccountModal/addAccountModal.html','md')">Add account</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-hide="loadingUserAccounts || accounts.length < 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="account in accounts | orderBy: '-primary'">
        <div ng-hide="loadingUserAccounts" class="panel">
            <div class="panel-heading">
                <div class="user-account-panel-heading">
                    <div class="user-account-panel-title">
                        <span class="currencies-details-heading">Account name</span>
                        <br>
                        <span class="currencies-details-value">{{account.name}}</span>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="user-account-panel-title">
                        <span class="currencies-details-heading">Reference</span>
                        <br>
                        <span class="currencies-details-value">{{account.reference}}</span>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="user-account-panel-title">
                        <span ng-show="account.primary" class="user-primary-account user-account-status">PRIMARY</span>
                    </div>
                    <a ng-click="openEditAccountModal('app/pages/users/user/userAccountsOnly/editAccountModal/editAccountModal.html','md',account,account.currencies)"
                       class="user-account-edit-link pull-right pointer">Edit</a>
                </div>
            </div>
            <div class="panel-body">
                <table ng-show="account.currencies.length > 0" class="table">
                    <tr class="user-switches-table-header">
                        <th>Currency</th>
                        <th>Available balance</th>
                        <th>Balance</th>
                        <th></th>
                    </tr>
                    <tr  ng-repeat="acc in account.currencies">
                        <td width="15%" ng-bind="acc.currency.code"></td>
                        <td width="20%" title="{{acc.available_balance  | currencyModifiersFilter: acc.currency.divisibility}}">
                            {{acc.currency.symbol}} {{acc.available_balance  | currencyModifiersFilter: acc.currency.divisibility}}
                        </td>
                        <td width="30%" title="{{acc.balance  | currencyModifiersFilter: acc.currency.divisibility}}">
                            {{acc.currency.symbol}} {{acc.balance  | currencyModifiersFilter: acc.currency.divisibility}}
                        </td>
                        <td class="rehive-table-row-last-child account-options-row" width="55%">
                            <div class="pull-right" ng-click="showCurrenciesOptions(acc.currency.code,account.reference); $event.stopPropagation()" click-outside="closeOptionsBox()">
                                <span class="fa fa-ellipsis-h pull-right pointer account-options"></span>
                                <ul ng-show="(acc.currency.code == optionsCode) && (account.reference == optionsReference)" class="account-options-box">
                                    <li ng-click="showCurrenciesOptions(acc.currency.code,account.reference)"><i class="dropdown-arr"></i></li>
                                    <li ng-click="goToSettings(acc.currency.code,account.reference)">Settings</li>
                                    <li ng-click="goToView('transactions.credit',acc.currency,account.user.email,account.reference)">Credit</li>
                                    <li ng-click="goToView('transactions.debit',acc.currency,account.user.email,account.reference)">Debit</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <div ng-if="account.currencies.length == 0" ng-hide="loadingUserAccounts">
                    <i style="margin-top: 10px">No currencies associated with this account yet.</i>
                </div>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingUserAccounts">
    <loading-image></loading-image>
</div>

