<div ng-hide="loadingUserAddress || addingUserAddress || editingUserAddress" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Address</span>
        <a ng-click="toggleAddUserAddressView()" class="user-details-panel-link pull-right pointer">Add address</a>
    </div>
    <div class="panel-body">
        <div  ng-repeat="address in userAddresses">
            <div class="row user-address">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{address.line_1 ? address.line_1  + ',': ''}}
                    {{address.line_2 ? address.line_2  + ',': ''}}
                    {{address.city ? address.city  + ',': ''}}
                    {{address.state_province ? address.state_province  + ',': ''}}
                    {{address.country ? address.country  + ',': ''}}
                    {{address.postal_code ? address.postal_code: ''}}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span ng-class="{'status-pending': address.status == 'pending','status-verified': address.status == 'verified',
                    'status-incomplete-declined': address.status == 'incomplete' || address.status == 'declined'}"
                          class="user-address-status">{{address.status | uppercase}}</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a ng-click="openUserAddressModal('app/pages/users/userDetails/userAddress/userAddressModal/userAddressModal.html','md',address)"
                       class="pull-right pointer">Delete</a>
                    <a ng-click="toggleEditUserAddressView(address)" class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                    <a ng-show="address.status == 'pending'" ng-click="verifyUserAddressConfirm(address.id,'verified')" class="pull-right pointer user-address-edit margin-right-30">Verify</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingUserAddress">
    <loading-image></loading-image>
</div>
<div ng-show="addingUserAddress">
    <add-user-address-view></add-user-address-view>
</div>
<div ng-show="editingUserAddress">
    <edit-user-address-view></edit-user-address-view>
</div>