<div ng-hide="loadingGroupSettings" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Settings</span>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="groupSettingsObj.allow_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleGroupSettings(groupSettingsObj.allow_transactions,'allow_transactions')"></i>
                    </div>
                    <div ng-hide="groupSettingsObj.allow_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleGroupSettings(groupSettingsObj.allow_transactions,'allow_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow debit transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="groupSettingsObj.allow_debit_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleGroupSettings(groupSettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                    </div>
                    <div ng-hide="groupSettingsObj.allow_debit_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleGroupSettings(groupSettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow credit transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="groupSettingsObj.allow_credit_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleGroupSettings(groupSettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                    </div>
                    <div ng-hide="groupSettingsObj.allow_credit_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleGroupSettings(groupSettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div ba-panel ng-show="loadingGroupSettings">
    <loading-image></loading-image>
</div>