<content-top></content-top>
<div class="panel" >
    <div class="panel-heading">
        <div class="table-filter-heading">
            <div>
                <button ng-click="showFilters()" class="currencies-page-button-filter btn btn-default">Filters</button>
                <div ng-show="showingFilters">
                    <services-filter></services-filter>
                </div>
            </div>
            <div>
                <button class="btn btn-primary pull-right panel-header-button currencies-page-button-filter"
                        ng-click="openAddServicesModal('app/pages/services/addServiceModal/addServiceModal.html','md')">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="services-panels">
    <div ng-hide="loadingServices" ng-show="servicesList.length > 0" class="panel" ng-repeat="service in servicesList">
        <div class="panel-body">
            <div>
                <table class="table">
                    <tr class="editable-row">
                        <td class="rehive-table-row-first-child" width="6%">
                            <div class="hexagon-logo">
                                <div class="services-hexagon-container">
                                    <div class="services-hexagon"></div>
                                </div>
                            </div>
                        </td>
                        <td  width="15%" ng-bind="service.name"></td>
                        <td width="50%" ng-bind="service.description"></td>
                        <td class="rehive-table-row-last-child">
                            <a ng-mousedown="goToService($event,service)"
                               class="pull-right pointer" oncontextmenu="return false">Manage</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingServices">
    <loading-image></loading-image>
</div>
