<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete group</h4>
    </div>
    <div class="modal-body">
        <p class="divider"><span class="text-subtle">Group name:</span> {{group.name}}</p>
        <p class="divider"><span class="text-subtle">Group label:</span> {{group.label || 'None'}}</p>
        <p><span class="text-subtle">Group description:</span> {{group.description || 'None'}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>
        <button type="button" class="btn btn-danger dashboard-btn pull-right" ng-disabled="deletingGroups" ng-click="deleteGroup()">Delete</button>
    </div>
</div>
