<div ng-hide="editingBankAccounts || loadingBankAccounts">
    <div ng-show="bankAccounts.length > 0" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Bank accounts</span>
        </div>
        <div class="panel-body">
            <table class="table setting-bank-accounts-table">
                <tr>
                    <th class="rehive-table-row-first-child">Bank name</th>
                    <th>Account number</th>
                    <td></td>
                </tr>
                <tr ng-repeat="bankAccount in bankAccounts">
                    <td class="table-row-center transactions-list-element rehive-table-row-first-child">{{bankAccount.bank_name}}</td>
                    <td class="table-row-center transactions-list-element">{{bankAccount.number}}</td>
                    <th class="rehive-table-row-last-child">
                        <a ng-click="openBankAccountModal('app/pages/settings/bankAccounts/bankAccountModal/bankAccountModal.html','md',bankAccount)"
                           class="pull-right pointer ">Delete</a>
                        <a ng-click="toggleEditBankAccountsView(bankAccount)"
                           class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Add bank account</span>
        </div>
        <div class="panel-body">
            <form name="bankAccountForm" class="custom-form">
                <div class="form-group">
                    <label>Account name/holder <span class="required-icon">*</span></label>
                    <input type="text" ng-model="newBankData.name" class="form-control"  placeholder="e.g. Currency Corp" required>
                </div>
                <div class="form-group">
                    <label>Account number <span class="required-icon">*</span></label>
                    <input type="text" ng-model="newBankData.number" class="form-control"  placeholder="e.g. 5246357653" required>
                </div>
                <div class="form-group">
                    <label>Account type</label>
                    <input type="text" ng-model="newBankData.type" class="form-control"  placeholder="e.g. Cheque/Current/Savings">
                </div>
                <div class="form-group">
                    <label>Bank name <span class="required-icon">*</span></label>
                    <input type="text" ng-model="newBankData.bank_name" class="form-control"  placeholder="e.g. Saharah Bank Ltd" required>
                </div>
                <div class="form-group">
                    <label>Bank code</label>
                    <input type="text" ng-model="newBankData.bank_code" class="form-control"  placeholder="e.g. 342543">
                </div>
                <div class="form-group">
                    <label>Branch code</label>
                    <input type="text" ng-model="newBankData.branch_code" class="form-control"  placeholder="e.g. 456798">
                </div>
                <!--<div class="form-group">-->
                <!--<label>Bank/Branch Address</label>-->
                <!--<input type="text" ng-model="s" class="form-control divider"  placeholder="Address line 1">-->
                <!--<input type="text" ng-model="d" class="form-control divider"  placeholder="Address line 2">-->
                <!--<input type="text" ng-model="f" class="form-control divider"  placeholder="City">-->
                <!--<country-select class="form-control pointer divider" data-ng-model="q"></country-select>-->
                <!--<input type="text" ng-model="r" class="form-control divider"  placeholder="Code/Zipcode">-->
                <!--</div>-->
                <div class="form-group">
                    <label>Swift</label>
                    <input type="text" ng-model="newBankData.swift" class="form-control"  placeholder="e.g. FDDODUMM">
                </div>
                <div class="form-group">
                    <label>Iban</label>
                    <input type="text" ng-model="newBankData.iban" class="form-control"  placeholder="e.g. DE41700333001189190812">
                </div>
                <div class="form-group">
                    <label>Bic</label>
                    <input type="text" ng-model="newBankData.bic" class="form-control"  placeholder="e.g. FDDODUMMXXX">
                </div>
                <div class="form-group">
                    <button ng-disabled="!bankAccountForm.$valid" ng-click="addBankAccount(newBankData)" class="btn btn-primary dashboard-btn pull-right">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-show="editingBankAccounts">
    <edit-bank-account></edit-bank-account>
</div>
<div ba-panel ng-show="loadingBankAccounts">
    <loading-image></loading-image>
</div>