<div ng-hide="loadingBankAccounts">
    <div ng-show="bankAccounts.length > 0" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Bank accounts</span>
            <a ng-click="openAddBankAccountModal('app/pages/settings/bankAccounts/addBankAccountModal/addBankAccountModal.html','md')" class="user-details-panel-link pull-right pointer">Add bank account</a>
        </div>
        <div class="panel-body">
            <table class="table setting-bank-accounts-table">
                <tr>
                    <th class="rehive-table-row-first-child">Bank name</th>
                    <th>Account name/holder</th>
                    <th>Account number</th>
                    <th>Currencies</th>
                    <td></td>
                </tr>
                <tr ng-repeat="bankAccount in bankAccounts">
                    <td class="table-row-center transactions-list-element rehive-table-row-first-child">{{bankAccount.bank_name}}</td>
                    <td class="table-row-center transactions-list-element">{{bankAccount.name}}</td>
                    <td class="table-row-center transactions-list-element">{{bankAccount.number}}</td>
                    <td class="table-row-center transactions-list-element">

                    </td>
                    <th class="rehive-table-row-last-child">
                        <a ng-click="openBankAccountModal('app/pages/settings/bankAccounts/bankAccountModal/bankAccountModal.html','md',bankAccount)"
                           class="pull-right pointer ">Delete</a>
                        <a ng-click="openEditBankAccountModal('app/pages/settings/bankAccounts/editBankAccountModal/editBankAccountModal.html','md',bankAccount)"
                           class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                    </th>
                </tr>
            </table>
            <div ng-show="bankAccounts.length > 0">
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="bankAccountsData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getBankAccounts()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingBankAccounts">
    <loading-image></loading-image>
</div>