<div>
    <div ng-hide="loadingAdminEmails || addingEmail" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Admin emails</span>
        </div>
        <div class="panel-body">
            <div class="divider admin-emails">
                <table class="table admin-emails-table custom-table">
                    <tr class="divider">
                        <th>Primary</th>
                        <th>Email</th>
                        <th>Verified</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="email in adminEmailsList">
                        <td><label  class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" ng-change="updateEmail(email)" ng-model="email.primary" ng-checked="email.primary">
                            <span></span>
                        </label>
                        </td>
                        <td title="{{email.email}}" ng-bind="email.email | limitTo: '24'"></td>
                        <td ng-bind="email.verified ? 'True': 'False'"></td>
                        <td class="rehive-table-row-last-child">
                            <a ng-click="deleteEmail(email)"
                               class="pull-right pointer ">Delete
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <button ng-click="toggleAddEmailView()" class="btn btn-primary dashboard-btn pull-right">Add</button>
                <button ng-click="goToAccountInfo()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div ba-panel ng-show="loadingAdminEmails">
        <loading-image></loading-image>
    </div>
</div>
<div ng-show="addingEmail">
    <add-email></add-email>
</div>
