<div ng-hide="loadingTierSettings && (tierLevelsForSettings.length > 0)" class="tier-limits">
    <uib-tabset active="activeTabIndex">
        <uib-tab ng-repeat="tierLevel in tierLevelsForSettings" select="selectTier(tierLevel)" heading="Tier {{tierLevel}}">
            <div ng-hide="loadingTierSettings" class="panel">
                <div class="panel-heading">
                    <span class="user-details-panel-title">Tier settings</span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                                Allow transactions
                            </td>
                            <td class="rehive-table-row-last-child">
                                <div ng-show="tierSettingsObj.allow_transactions">
                                    <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleTierSettings(tierSettingsObj.allow_transactions,'allow_transactions')"></i>
                                </div>
                                <div ng-hide="tierSettingsObj.allow_transactions">
                                    <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleTierSettings(tierSettingsObj.allow_transactions,'allow_transactions')"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                                Allow debit transactions
                            </td>
                            <td class="rehive-table-row-last-child">
                                <div ng-show="tierSettingsObj.allow_debit_transactions">
                                    <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleTierSettings(tierSettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                                </div>
                                <div ng-hide="tierSettingsObj.allow_debit_transactions">
                                    <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleTierSettings(tierSettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                                Allow credit transactions
                            </td>
                            <td class="rehive-table-row-last-child">
                                <div ng-show="tierSettingsObj.allow_credit_transactions">
                                    <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleTierSettings(tierSettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                                </div>
                                <div ng-hide="tierSettingsObj.allow_credit_transactions">
                                    <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleTierSettings(tierSettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ba-panel ng-show="loadingTierSettings">
                <loading-image></loading-image>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div ba-panel ng-show="!loadingTierSettings && tierLevelsForSettings.length == 0">
    <i>No tiers are available for this group.</i>
</div>
<div ba-panel ng-show="loadingTierSettings">
    <loading-image></loading-image>
</div>