<div class="auth-main">
    <div class="auth-block">
        <div class="text-left divider verification-text">
            <h2>
                Verify email
            </h2>
            <div style='border-bottom:1px solid #ccc;margin-left:-20px;margin-right: -20px;'></div>
            <p>Before proceeding, please verify your account. Please check your inbox for an email
                from rehive.</p>
        </div>
        <div class="verification-text divider">
            <p style="margin-top: 0px;">Haven't received an email? <a ng-click="resendEmail()"
                                                                      class="verification-link">Click
                here to resend email.</a></p>
        </div>
        <div class="verification-text divider" style="padding-bottom: 2px;">
            <p style="margin-top: 0px;">Still haven’t receive an email?
                <a href="https://rehive.com/contact-us/" target="_blank" class="verification-link">Click here to contact us.</a></p>
        </div>
        <div class="row form-group verification-btn-box">
            <div class="col-sm-12">
                <button ng-disabled="verifyingEmail" ng-click="verifyUser()"
                        class="btn btn-primary btn-auth verification-button">Continue
                </button>
            </div>
        </div>
    </div>
</div>