<div ng-hide="loadingDefaultValues" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{showCustomCurrency ? 'Add custom currency': 'Add currency'}}</h4>
    </div>
    <div class="modal-body">
        <div id="addNormalCurrency">
            <div class="form-group custom-form">
                <p class="divider-20">Please select the currencies you want your company to transact in:</p>
                <label>Currencies <span class="required-icon">*</span></label>
                <div class="reward-multi-select divider">
                    <select chosen
                            multiple
                            data-placeholder-text-multiple="'Choose one or more currencies'"
                            width="100"
                            ng-model="currenciesToAdd"
                            ng-options="currency.code + ' - ' + currency.description for currency in initialCurrencies | orderBy: 'code'"
                            required>
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="addCompanyCurrency(currenciesToAdd)" ng-disabled="currenciesToAdd.length == 0"
                class="btn btn-primary pull-right dashboard-btn">Add
        </button>
    </div>
</div>
<div ba-panel ng-show="loadingDefaultValues">
    <loading-image></loading-image>
</div>