<div ng-hide="loadingPermissions">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Permissions</span>
            <a ng-click="savePermissionsProcess()" class="user-details-panel-link pull-right pointer">Save</a>
            <a ng-click="goBackToPermissionGroups()" class="user-details-panel-link pull-right pointer margin-right-30">Back</a>
        </div>
        <div class="panel-body">
            <div class="permissions-table" ng-repeat="typeOption in typeOptions">
                <table class="table">
                    <tr>
                        <th>{{typeOption.type}}</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-repeat="level in typeOption.levels">
                                    <label  class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" ng-change="trackPermissions(typeOption,level)" ng-model="level.enabled"
                                               ng-checked="level.enabled">
                                        <span class="account-settings-span">{{level.name}}</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingPermissions">
    <loading-image></loading-image>
</div>