<currency-conversion-service-navigation></currency-conversion-service-navigation>

<div ng-hide="loadingRates" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Rates list</span>
        <a ng-click="goToAddRatesView('app/pages/services/currencyConversionService/currencyConversionRates/addCurrencyConversionRatesModal/addCurrencyConversionRatesModal.html','md')" class="user-details-panel-link pull-right pointer">Add</a>
    </div>
    <div class="panel-body">
        <div ng-show="ratesList.length > 0" class="divider">
            <table class="table custom-table">
                <tr>
                    <th class="rehive-table-row-first-child">From currency</th>
                    <th>To currency</th>
                    <th>From percentage fee</th>
                    <th>From value fee</th>
                    <th>Fixed rate</th>
                    <th></th>
                </tr>
                <tr ng-repeat="rate in ratesList" class="editable-row">
                    <td class="transactions-list-element rehive-table-row-first-child" title="{{rate.from_currency.code}}" ng-bind="rate.from_currency.code"></td>
                    <td class="transactions-list-element" title="{{rate.to_currency.code}}" ng-bind="rate.to_currency.code"></td>
                    <td class="transactions-list-element" title="{{rate.from_percentage_fee}}" ng-bind="rate.from_percentage_fee ? rate.from_percentage_fee + '%' : 'None'"></td>
                    <td><div title="{{rate.from_value_fee  | currencyModifiersFilter: rate.from_currency.divisibility}}" class="transactions-list-element">
                        {{rate.from_currency.symbol}} {{rate.from_value_fee  | currencyModifiersFilter: rate.from_currency.divisibility}}
                    </div></td>
                    <td><div title="{{rate.fixed_rate  | currencyModifiersFilter: rate.to_currency.divisibility}}" class="transactions-list-element">
                        {{rate.to_currency.symbol}} {{rate.fixed_rate  | currencyModifiersFilter: rate.to_currency.divisibility}}
                    </div></td>
                    <td class="rehive-table-row-last-child">
                        <a ng-click="openDeleteRatesModal('app/pages/services/currencyConversionService/currencyConversionRates/deleteCurrencyConversionRatesModal/deleteCurrencyConversionRatesModal.html','md',rate)"
                           class="pull-right pointer ">Delete</a>
                    </td>
                </tr>
            </table>
            <div>
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="ratesListData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getRatesList()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
        <div ng-hide="ratesList.length > 0">
            <i>No rates are available</i>
        </div>
    </div>
</div>
<div ng-show="loadingRates" class="service-header" ba-panel>
    <loading-image></loading-image>
</div>
