<div ng-hide="loadingCurrencies" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{showCustomCurrency ? 'Add custom currency': 'Add currency'}}</h4>
    </div>
    <div class="modal-body">

        <div id="addNormalCurrency" ng-hide="showCustomCurrency || showCurrencyConfirmPanel">
            <div class="divider">
                <p>&nbsp;
                    <a ng-click="toggleCustomCurrencyView()" class="pointer pull-right">Add custom currency</a>
                </p>
            </div>
            <div class="form-group custom-form">
                <label>Currencies <span class="required-icon">*</span></label>
                <div class="reward-multi-select divider">
                    <select chosen
                            multiple
                            data-placeholder-text-multiple="'Choose one or more currencies'"
                            width="100"
                            ng-model="currenciesToAdd"
                            ng-options="currency.code + ' - ' + currency.description for currency in initialCurrencies | orderBy: 'code'"
                            required>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <p>Currencies selected:
                <span ng-repeat="currency in currenciesToAdd | orderBy: 'code'">
                    <strong>{{$last ? ' ' + currency.code : currency.code + ',' }}</strong>
                </span>
            </p>
        </div>

        <div id="addCustomCurrency" ng-show="showCustomCurrency && !showCurrencyConfirmPanel">
            <form name="customCurrencyForm" class="custom-form" novalidate>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Code <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.code" class="form-control"
                               ng-change="newCurrencyParams.code? newCurrencyParams.code = newCurrencyParams.code.toUpperCase():null;"
                               placeholder="e.g. USD" auto-focus="!newCurrencyParams.code" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Description <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.description" class="form-control" placeholder="e.g. United States dollar" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Symbol <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.symbol" class="form-control" placeholder="e.g. $" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Unit <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.unit" class="form-control" placeholder="e.g. dollar" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Divisibility <span class="required-icon">*</span></label>
                        <input type="number" ng-model="newCurrencyParams.divisibility" class="form-control" placeholder="e.g. 2" required>
                    </div>
                </div>
            </form>
        </div>

        <div id="addedCurrencyPanel" ng-show="showCurrencyConfirmPanel">
            <p class="divider-20" ng-show="currenciesThatWillBeAdded.length == 1">
                You are adding currency <strong>{{currenciesThatWillBeAdded[0].code}}</strong> to your company.
            </p>
            <p class="divider-20" ng-show="currenciesThatWillBeAdded.length > 1">
                You are adding currencies
                <span ng-repeat="currency in currenciesThatWillBeAdded | orderBy: 'code'">
                    <strong>{{$last ? ' and ' + currency.code :(currenciesThatWillBeAdded.length - 2 == $index) ? currency.code : currency.code + ',' }}</strong>
                </span> to your company.
            </p>

            <div ng-show="currenciesThatWillBeAdded.length == 1 && currenciesThatWillBeAddedType == 'custom'">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Code: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatWillBeAdded[0].code"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Description: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatWillBeAdded[0].description"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Symbol: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatWillBeAdded[0].symbol"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Unit: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatWillBeAdded[0].unit"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                        <p class="text-subtle">Divisibility: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatWillBeAdded[0].divisibility"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button ng-hide="showCustomCurrency || showCurrencyConfirmPanel" ng-click="goToconfirmSelection('normal',currenciesToAdd)" ng-disabled="currenciesToAdd.length == 0"
                class="btn btn-primary pull-right dashboard-btn">Add
        </button>
        <button ng-show="showCustomCurrency && !showCurrencyConfirmPanel" ng-disabled="!customCurrencyForm.$valid" ng-click="goToconfirmSelection('custom',newCurrencyParams)"
                class="btn btn-primary pull-right dashboard-btn">Add
        </button>
        <button ng-show="showCustomCurrency && !showCurrencyConfirmPanel" class="btn btn-default pull-right dashboard-btn margin-right-10"
                ng-click="toggleCustomCurrencyView()">Back
        </button>
        <button ng-show="showCurrencyConfirmPanel" ng-click="addCurrencyDependingOnType()"
                class="btn btn-primary pull-right dashboard-btn">Confirm
        </button>
        <button ng-show="showCurrencyConfirmPanel" class="btn btn-default pull-right dashboard-btn margin-right-10"
                ng-click="goBackToCurrencySelectionView()">Back
        </button>
    </div>
</div>
<div ba-panel ng-show="loadingCurrencies">
    <loading-image></loading-image>
</div>