<div ng-hide="loadingCurrencies" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add currency</h4>
    </div>
    <div class="modal-body">

        <div id="addNormalCurrency" ng-hide="showCustomCurrency || showCurrencyAddedPanel">
            <div class="divider">
                <p>&nbsp;
                    <a ng-click="toggleCustomCurrencyView()" class="pointer pull-right">Add custom currency</a>
                </p>
            </div>

            <div class="form-group custom-form">
                <label>Currencies <span class="required-icon">*</span>
                    <small class="text-muted">(Hold CTRL to select multiple currencies)</small>
                </label>
                <br>
                <select class="form-control pointer divider currencies-setup-dropdown" ng-model="currenciesToAdd" multiple
                        ng-options="currency.code + ' - ' + currency.description for currency in initialCurrencies | orderBy: 'code'"
                        required>
                </select>
            </div>
            <p>Currencies selected:
                <span ng-repeat="currency in currenciesToAdd | orderBy: 'code'">
                    <strong>{{$last ? ' ' + currency.code : currency.code + ',' }}</strong>
                </span>
            </p>
        </div>

        <div id="addCustomCurrency" ng-show="showCustomCurrency && !showCurrencyAddedPanel">
            <form name="customCurrencyForm" class="custom-form" novalidate>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Code <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.code" class="form-control" placeholder="e.g. USD" auto-focus="!newCurrencyParams.code" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Description <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.description" class="form-control" placeholder="e.g. United States dollar" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Symbol <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.symbol" class="form-control" placeholder="e.g. $" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Unit <span class="required-icon">*</span></label>
                        <input type="text" ng-model="newCurrencyParams.unit" class="form-control" placeholder="e.g. dollar" required>
                    </div>
                </div>
                <div class="row form-group divider-20">
                    <div class="col-sm-12 no-padding">
                        <label>Divisibility <span class="required-icon">*</span></label>
                        <input type="number" ng-model="newCurrencyParams.divisibility" class="form-control" placeholder="e.g. 2" required>
                    </div>
                </div>
            </form>
        </div>

        <div id="addedCurrencyPanel" ng-show="showCurrencyAddedPanel">
            <p class="divider-20" ng-show="currenciesThatHaveBeenAdded.length == 1">
                You have successfully added currency <strong>{{currenciesThatHaveBeenAdded[0].code}}</strong> to your dashboard.
            </p>
            <p class="divider-20" ng-show="currenciesThatHaveBeenAdded.length > 1">
                You have successfully added currencies
                <span ng-repeat="currency in currenciesThatHaveBeenAdded | orderBy: 'code'">
                    <strong>{{$last ? ' and ' + currency.code :(currenciesThatHaveBeenAdded.length - 2 == $index) ? currency.code : currency.code + ',' }}</strong>
                </span> to your dashboard.
            </p>

            <div ng-show="currenciesThatHaveBeenAdded.length == 1">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Code: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatHaveBeenAdded[0].code"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Description: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatHaveBeenAdded[0].description"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Symbol: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatHaveBeenAdded[0].symbol"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                        <p class="text-subtle">Unit: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatHaveBeenAdded[0].unit"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                        <p class="text-subtle">Divisibility: </p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p ng-bind="currenciesThatHaveBeenAdded[0].divisibility"></p>
                    </div>
                </div>
            </div>

            <div ng-show="currenciesThatHaveBeenAdded.length > 1" ng-repeat="currency in currenciesThatHaveBeenAdded | orderBy: 'code'">
                <div class="multiple-currencies-added">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                            <p class="text-subtle">Code: </p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <p ng-bind="currency.code"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                            <p class="text-subtle">Description: </p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <p ng-bind="currency.description"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                            <p class="text-subtle">Symbol: </p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <p ng-bind="currency.symbol"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 divider no-padding">
                            <p class="text-subtle">Unit: </p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <p ng-bind="currency.unit"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                            <p class="text-subtle">Divisibility: </p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <p ng-bind="currency.divisibility"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button ng-hide="showCustomCurrency || showCurrencyAddedPanel" ng-click="addCompanyCurrency(currenciesToAdd)" ng-disabled="currenciesToAdd.length == 0"
                class="btn btn-primary pull-right dashboard-btn">Add
        </button>
        <button ng-show="showCustomCurrency && !showCurrencyAddedPanel" ng-disabled="!customCurrencyForm.$valid" ng-click="addCustomCompanyCurrency(newCurrencyParams)"
                class="btn btn-primary pull-right dashboard-btn">Add
        </button>
        <button ng-show="showCustomCurrency && !showCurrencyAddedPanel" class="btn btn-primary pull-right dashboard-btn margin-right-10"
                ng-click="toggleCustomCurrencyView()">Back
        </button>
        <button ng-show="showCurrencyAddedPanel" ng-click="closeModal()"
                class="btn btn-primary pull-right dashboard-btn">Confirm
        </button>
    </div>
</div>
<div ba-panel ng-show="loadingCurrencies">
    <loading-image></loading-image>
</div>