<div ng-hide="loadingHotwalletTransactions" class="panel">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <div>
                <button ng-click="showHotwalletFilters()" ng-class="{'transactions-filter-btn': (filtersHotwalletCount > 0), 'transactions-btn': (filtersHotwalletCount == 0)}"
                        class="btn btn-default">Filters
                    <span ng-show="filtersHotwalletCount > 0">|</span> <span ng-show="filtersHotwalletCount > 0" class="filter-count">{{filtersHotwalletCount}}</span>
                </button>
                <div ng-show="showingHotwalletFilters">
                    <hotwallet-transactions-filters></hotwallet-transactions-filters>
                </div>
            </div>
            <button ng-click="refreshHotwalletPage()" ng-disabled="loadingHotwalletTransactions"
                    class="btn btn-default dynamic-columns panel-header-button">Refresh</button>
        </div>
    </div>
    <div class="panel-body">
        <div ng-show="filtersHotwalletCount > 0" class="divider">
            <p class="filter-text">Your results are currently being filtered</p>
        </div>
        <div ng-hide="transactionsHotwallet.length == 0" class="divider">
            <table class="table custom-table">
                <tr>
                    <th>Type</th>
                    <th>Subtype</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Status</th>
                    <th class="align-right">Date</th>
                </tr>
                <tr ng-repeat="transaction in transactionsHotwallet | orderBy: orderByFunctionHotwallet" data-toggle="modal"
                    ng-click="openHotwalletModal('app/pages/services/ethereumService/ethereumServiceAccounts/ethereumHotwallet/hotwalletTransactionsModal/hotwalletTransactionsModal.html', 'md',transaction)"
                    class="editable-row center pointer user-details-table-hover">
                    <td><div title="{{transaction.tx_type}}" class="transactions-list-element" ng-bind="transaction.tx_type | capitalizeWord"></div></td>
                    <td><div title="{{transaction.subtype}}" class="transactions-list-element" ng-bind="transaction.subtype || 'None'"></div></td>
                    <td><div title="{{transaction.currency.code}}" class="transactions-list-element" ng-bind="transaction.currency.code"></div></td>
                    <td><div title="{{transaction.amount  | currencyModifiersFilter: transaction.currency.divisibility}}" class="transactions-list-element" ng-bind="transaction.amount  | currencyModifiersFilter: transaction.currency.divisibility"></div></td>
                    <td><div title="{{transaction.fee | currencyModifiersFilter: transaction.currency.divisibility}}"
                             class="transactions-list-element" ng-bind="transaction.fee | currencyModifiersFilter: transaction.currency.divisibility"></div></td>
                    <td><div title="{{transaction.status | capitalizeWord}}" class="transactions-list-element" ng-bind="transaction.status | capitalizeWord"></div></td>
                    <td class="align-right"><div title="{{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}">
                        {{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}</div></td>
                </tr>
            </table>
            <div>
                <p uib-pagination boundary-links="true" items-per-page="hotwalletPagination.itemsPerPage"  total-items="transactionsHotwalletData.count" ng-model="hotwalletPagination.pageNo"
                   max-size="hotwalletPagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getLatestHotwalletTransactions()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
        <div ng-show="transactionsHotwallet.length == 0">
            <i ng-hide="transactionsHotwalletStateMessage == ''" ng-bind="transactionsHotwalletStateMessage"></i>
            <loading-image ng-show="transactionsHotwalletStateMessage == ''"></loading-image>
        </div>
    </div>
</div>


