<div class="user-details-view" ng-hide="loadingPermissions">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel" ng-repeat="(key,value) in totalPermissionsObj">
                <div>
                    <div class="group-permissions-table">
                        <table class="table">
                            <tr>
                                <th width="50%">
                                    {{totalPermissionsObj[key].permissionsName}}
                                    <input type="checkbox" class="custom-rehive-checkbox" ng-model="totalPermissionsObj[key].enableAll"
                                           ng-disabled="user.groups[0].name == 'admin' || user.groups[0].name == 'service'"
                                           ng-class="{'permissions-select-all-disabled': (user.groups[0].name == 'admin' || user.groups[0].name == 'service')}"
                                           ng-checked="user.groups[0].name == 'admin'"
                                           ng-click="toggleAllPermissions(key,totalPermissionsObj[key].enableAll)">
                                </th>
                                <th width="10%" class="text-center">View</th>
                                <th width="10%" class="text-center">Add</th>
                                <th width="10%" class="text-center">Change</th>
                                <th width="10%" class="text-center">Delete</th>
                                <th width="10%" class="text-center">All</th>
                            </tr>
                            <tr ng-repeat="permission in totalPermissionsObj[key].permissions">
                                <td>
                                    <p class="no-margin" ng-bind="permission.type"></p>
                                </td>
                                <td class="text-center group-permission-td" ng-repeat="level in permission.levels">
                                    <label class="checkbox-inline custom-checkbox nowrap"
                                            ng-class="{'checkbox-disabled': (user.groups[0].name == 'admin'  || user.groups[0].name == 'service')}">
                                        <input type="checkbox" ng-change="trackPermissions(permission,level,key)" ng-model="level.enabled"
                                               ng-disabled="user.groups[0].name == 'admin' || user.groups[0].name == 'service'"
                                               ng-checked="level.enabled || user.groups[0].name == 'admin'">
                                        <span class="account-settings-span"></span>
                                    </label>
                                    <div ng-show="user.groups[0].name == 'admin' || user.groups[0].name == 'service'" class="group-permission-tooltip">
                                        Rehive system group user permissions cannot be edited.
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="separateCheckedLevels()" class="pull-right btn dashboard-btn btn-primary">Save</button>
</div>
<div ba-panel ng-show="loadingPermissions">
    <loading-image></loading-image>
</div>