<div ng-hide="loadingCompanySettings" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Company settings</span>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_transactions,'allow_transactions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_transactions,'allow_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow debit transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_debit_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_debit_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow credit transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_credit_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_credit_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Require verification&nbsp;&nbsp;<span><i uib-tooltip-html="'Enabling this will require users to have at least 1 verified mobile number or 1 verified
                     email address before they can transact.'" class="ion-information-circled setup-groups-tooltip"></i></span>
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.require_verification">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.require_verification,'require_verification')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.require_verification">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.require_verification,'require_verification')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow registrations
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_registrations">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_registrations,'allow_registrations')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_registrations">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_registrations,'allow_registrations')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow overdrafts
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_overdrafts">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_overdrafts,'allow_overdrafts')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_overdrafts">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_overdrafts,'allow_overdrafts')"></i>
                    </div>
                </td>
            </tr>
            <!--<tr>-->
            <!--<td class="table-row-center transactions-list-element rehive-table-row-first-child">-->
            <!--Auto complete transactions-->
            <!--</td>-->
            <!--<td class="rehive-table-row-last-child">-->
            <!--<div ng-show="companySettingsObj.auto_complete_transactions">-->
            <!--<i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.auto_complete_transactions,'auto_complete_transactions')"></i>-->
            <!--</div>-->
            <!--<div ng-hide="companySettingsObj.auto_complete_transactions">-->
            <!--<i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.auto_complete_transactions,'auto_complete_transactions')"></i>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow session durations
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_session_durations">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_session_durations,'allow_session_durations')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_session_durations">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_session_durations,'allow_session_durations')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center divider transactions-list-element rehive-table-row-first-child">
                    Require terms and conditions
                </td>
                <td class="rehive-table-row-last-child divider">
                    <div ng-show="companySettingsObj.require_terms_and_conditions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.require_terms_and_conditions,'require_terms_and_conditions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.require_terms_and_conditions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"
                           ng-click="toggleCompanySettings(companySettingsObj.require_terms_and_conditions,'require_terms_and_conditions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center divider transactions-list-element rehive-table-row-first-child">
                    Require privacy policy
                </td>
                <td class="rehive-table-row-last-child divider">
                    <div ng-show="companySettingsObj.require_privacy_policy">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin" ng-click="toggleCompanySettings(companySettingsObj.require_privacy_policy,'require_privacy_policy')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.require_privacy_policy">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"
                           ng-click="toggleCompanySettings(companySettingsObj.require_privacy_policy,'require_privacy_policy')"></i>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="notification in notifications">
                <td class="table-row-center divider transactions-list-element rehive-table-row-first-child">
                    {{notification.description}}&nbsp;&nbsp;
                    <span ng-show="notification.description == 'Send password set/reset notifications'" class="large">
                        <i id="sendResetNotification" class="ion-information-circled setup-groups-tooltip"
                           uib-tooltip-html="'
                            Sends password set and reset notifications to users.<br><br>
                            To use a custom page for password set and reset, add your custom page URLs on the Company info page.<br><br>
                            To send these notifications from your company\'s email address, enter a company email address on the Company info page.<br><br>
                            To override these emails entirely with your own custom emails, activate the Notifications Service.<br><br>'"
                           class="ion-information-circled setup-groups-tooltip">
                        </i>
                    </span>

                    <span ng-show="notification.description == 'Send email/mobile verification notifications'" class="large">
                        <i uib-tooltip-html="'
                            Sends email and mobile verification notifications to users.<br><br>
                            To use a custom page for email verification, add your custom page URLs on the Company info page.<br><br>
                            To send these notifications from your company\'s email address, enter a company email address on the Company info page.<br><br>
                            To override these emails entirely with your own custom emails, activate the Notifications Service.<br><br>'"
                           class="ion-information-circled setup-groups-tooltip">
                        </i>
                    </span>
                </td>
                <td class="rehive-table-row-last-child divider">
                    <div ng-show="notification.enabled">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"
                           ng-click="toggleNotificationEnabled(notification)"></i>
                    </div>
                    <div ng-hide="notification.enabled">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"
                           ng-click="toggleNotificationEnabled(notification)"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Default transaction status
                </td>
                <td class="rehive-table-row-last-child">
                    <select class="form-control pointer pull-right company-setting-dropdown"  ng-model="companySettingsObj.default_transaction_status"
                            ng-change="toggleCompanySettings(companySettingsObj.default_transaction_status,'default_transaction_status')"
                            ng-options="status for status in statusOptions">
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Company date format
                </td>
                <td class="rehive-table-row-last-child">
                    <select class="form-control pointer pull-right company-setting-date-dropdown"  ng-model="companyDateFormatString"
                            ng-change="companyDateFormatChanged(companyDateFormatString)"
                            ng-options="dateFormat for dateFormat in companyDateFormat">
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
<div ng-show="loadingCompanySettings" ba-panel>
    <loading-image></loading-image>
</div>