<div ng-hide="loadingCompanySettings" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Company settings</span>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_transactions,'allow_transactions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_transactions,'allow_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow debit transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_debit_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_debit_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_debit_transactions,'allow_debit_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow credit transactions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_credit_transactions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_credit_transactions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_credit_transactions,'allow_credit_transactions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Require verification
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.require_verification">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.require_verification,'require_verification')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.require_verification">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.require_verification,'require_verification')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow registrations
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_registrations">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_registrations,'allow_registrations')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_registrations">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_registrations,'allow_registrations')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow overdrafts
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_overdrafts">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_overdrafts,'allow_overdrafts')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_overdrafts">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_overdrafts,'allow_overdrafts')"></i>
                    </div>
                </td>
            </tr>
            <!--<tr>-->
            <!--<td class="table-row-center transactions-list-element rehive-table-row-first-child">-->
            <!--Auto complete transactions-->
            <!--</td>-->
            <!--<td class="rehive-table-row-last-child">-->
            <!--<div ng-show="companySettingsObj.auto_complete_transactions">-->
            <!--<i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.auto_complete_transactions,'auto_complete_transactions')"></i>-->
            <!--</div>-->
            <!--<div ng-hide="companySettingsObj.auto_complete_transactions">-->
            <!--<i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.auto_complete_transactions,'auto_complete_transactions')"></i>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Allow session durations
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.allow_session_durations">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_session_durations,'allow_session_durations')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.allow_session_durations">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.allow_session_durations,'allow_session_durations')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Require terms and conditions
                </td>
                <td class="rehive-table-row-last-child">
                    <div ng-show="companySettingsObj.require_terms_and_conditions">
                        <i class="fa fa-toggle-on user-switch-active pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.require_terms_and_conditions,'require_terms_and_conditions')"></i>
                    </div>
                    <div ng-hide="companySettingsObj.require_terms_and_conditions">
                        <i class="fa fa-toggle-on fa-rotate-180 user-switch-inactive pull-right no-margin"  ng-click="toggleCompanySettings(companySettingsObj.require_terms_and_conditions,'require_terms_and_conditions')"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-row-center transactions-list-element rehive-table-row-first-child">
                    Default transaction status
                </td>
                <td class="rehive-table-row-last-child">
                    <select class="form-control pointer pull-right company-setting-dropdown"  ng-model="companySettingsObj.default_transaction_status"
                            ng-change="toggleCompanySettings(companySettingsObj.default_transaction_status,'default_transaction_status')"
                            ng-options="status for status in statusOptions">
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
<div ng-show="loadingCompanySettings" ba-panel>
    <loading-image></loading-image>
</div>