<div ng-hide="addingCampaign" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Create campaign</span>
    </div>
    <div class="panel-body">
        <form name="campaignForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Campaign name <span class="required-icon">*</span></label>
                <input type="text" ng-model="newCampaignParams.name"
                       class="form-control" placeholder="Enter campaign name" required>
            </div>
            <div class="form-group">
                <label>Campaign description</label>
                <textarea rows="4" type="text" ng-model="newCampaignParams.description" class="form-control"  placeholder='Enter campaign description'></textarea>
            </div>
            <div class="form-group">
                <label>Subject <span class="required-icon">*</span></label>
                <input type="text" ng-model="notificationParams.subject" class="form-control"  placeholder="Enter subject" required>
            </div>
            <div class="form-group">
                <label>Html message</label>
                <textarea rows="4" type="text" ng-model="notificationParams.html_message" class="form-control"  placeholder='Enter html message'></textarea>
            </div>
            <div class="form-group">
                <label>Text message</label>
                <textarea rows="4" type="text" ng-model="notificationParams.text_message" class="form-control"  placeholder='Enter text message'></textarea>
            </div>
            <div class="form-group">
                <label>Sms message</label>
                <textarea rows="4" type="text" ng-model="notificationParams.sms_message" class="form-control"  placeholder='Enter sms message'></textarea>
            </div>
            <div class="form-group">
                <label>Enabled</label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="notificationParams.enabled" type="checkbox">
            </div>
            <div class="form-group">
                <label>Event</label>
                <br>
                <select class="form-control pointer" ng-model="notificationParams.event"  ng-options="event for event in eventOptions">
                </select>
            </div>
            <div class="form-group">
                <label>To email</label>
                <input type="text" ng-model="notificationParams.to_email" class="form-control"  placeholder="Enter to_email">
            </div>
            <div class="form-group">
                <label>To mobile</label>
                <input type="text" ng-model="notificationParams.to_mobile" class="form-control"  placeholder="Enter to_mobile">
            </div>
            <div class="form-group">
                <label>Expression</label>
                <input type="text" ng-model="notificationParams.expression" class="form-control"  placeholder="Enter expression">
            </div>
            <div class="form-group">
                <label>Preference enabled</label>
                <br>
                <label  class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="notificationParams.preference_enabled" ng-checked="notificationParams.preference_enabled">
                    <span></span>
                </label>
            </div>
            <div class="form-group">
                <button ng-disabled="!notificationForm.$valid" ng-click="addNotification(notificationParams)" class="btn btn-primary dashboard-btn pull-right">Add</button>
                <button ng-click="goToListView()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="addingCampaign" class="service-header" ba-panel>
    <loading-image></loading-image>
</div>