<div ng-hide="addingCampaign" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Create campaign</span>
    </div>
    <div class="panel-body">
        <form name="campaignForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Campaign name <span class="required-icon">*</span></label>
                <input type="text" ng-model="newCampaignParams.name"
                       class="form-control" placeholder="Enter campaign name" required>
            </div>
            <div class="form-group">
                <label>Campaign description</label>
                <textarea rows="4" type="text" ng-model="newCampaignParams.description" class="form-control"  placeholder='Enter campaign description'></textarea>
            </div>
            <div class="form-group">
                <label>Currency</label>
                <div class="reward-multi-select">
                    <select multiple
                            chosen
                            data-placeholder-text-multiple="'Choose one or more currencies'"
                            ng-model="newCampaignParams.currencies"
                            ng-options="currency.code + ' - ' + currency.description for currency in currencyOptions | orderBy: 'code'">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Start date</label>
                <div class="rewards-date">
                    <input type="text" class="form-control rewards-date-input custom-datepicker"
                           uib-datepicker-popup="{{dateObj.format}}" popup-placement="bottom-left"
                           ng-model="applyFiltersObj.dateFilter.dateFrom"
                           show-button-bar="false" datepicker-options="{showWeeks: false}"
                           placeholder="mm/dd/yyyy" is-open="popup1.opened" close-text="Close" />
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
            <div class="form-group">
                <label>End date</label>
                <div class="rewards-date">
                    <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                           uib-datepicker-popup="{{dateObj.format}}" popup-placement="bottom-left"
                           ng-model="applyFiltersObj.dateFilter.dateFrom"
                           show-button-bar="false" datepicker-options="{showWeeks: false}"
                           placeholder="mm/dd/yyyy" is-open="popup2.opened" close-text="Close" />
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
            <div class="form-group">
                <label>Reward type</label>
                <div class="reward-type-radio-groups">
                    <input class="margin-right-10 pointer" type="radio" ng-model="subtype.tx_type" value="basic">
                    <span class="reward-radio-type1">Basic</span>
                    <input class="horizontal-divider-40 margin-right-10 pointer" type="radio" ng-model="subtype.tx_type"
                           value="manual"> <span class="reward-radio-type2">Manual</span>
                    <input class="horizontal-divider-50 margin-right-10 pointer" type="radio" ng-model="subtype.tx_type"
                           value="automatic"> <span class="reward-radio-type3">Automatic</span>
                </div>
            </div>
            <div class="form-group">
                <label>Reward total</label>
                <br>
                <input class="form-control" ng-model="newCampaignParams.reward_total" type="number">
            </div>
            <div class="form-group">
                <label>Reward percentage</label>
                <br>
                <input class="form-control" ng-model="reward_percentage.reward_total" type="number">
            </div>
            <div class="form-group">
                <label>Campaign status</label>
                <div class="reward-type-radio-groups">
                    <input class="margin-right-10 pointer" type="radio" ng-model="subtype.tx_type" value="basic">
                    <span class="reward-radio-type1">Active</span>
                    <input class="horizontal-divider-40 margin-right-10 pointer" type="radio" ng-model="subtype.tx_type"
                           value="manual"> <span class="reward-radio-type2">Disabled</span>
                    <input class="horizontal-divider-50 margin-right-10 pointer" type="radio" ng-model="subtype.tx_type"
                           value="automatic"> <span class="reward-radio-type3">Expired</span>
                </div>
            </div>
            <div class="form-group">
                <label>User volume limit</label>
                <br>
                <input class="form-control" ng-model="newCampaignParams.reward_total" type="number">
            </div>
            <div class="form-group">
                <label>User limit</label>
                <br>
                <input class="form-control" ng-model="newCampaignParams.reward_total" type="number">
            </div>
            <div class="form-group">
                <label>User transaction limit</label>
                <br>
                <input class="form-control" ng-model="newCampaignParams.reward_total" type="number">
            </div>
            <div class="form-group">
                <label>Users</label>
                <div class="reward-multi-select">
                    <tags-input ng-model="newCampaignParams.users" placeholder="Enter one or more user email">
                        <auto-complete class="reward-tag-users-input" source="getUsersEmailTypeahead($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <label>Groups</label>
                <div class="reward-multi-select">
                    <tags-input ng-model="newCampaignParams.groups" placeholder="Enter one or more group name">
                        <auto-complete class="reward-tag-users-input" source="getGroupsTypeahead($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.destinationIdFilter">
                    <span>Visible</span>
                </label>
            </div>
            <div class="form-group">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.destinationIdFilter">
                    <span>Tags</span>
                </label>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <div class="reward-multi-select">
                    <tags-input ng-model="newCampaignParams.tags" placeholder="Enter one or more tags">
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <button ng-disabled="!notificationForm.$valid" ng-click="addNotification(notificationParams)" class="btn btn-primary dashboard-btn pull-right">Add</button>
                <button ng-click="goToListView()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="addingCampaign" class="service-header" ba-panel>
    <loading-image></loading-image>
</div>