<div ng-hide="addingCampaign" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Create campaign</span>
    </div>
    <div class="panel-body">
        <form name="campaignForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Campaign name <span class="required-icon">*</span></label>
                <input type="text" ng-model="newCampaignParams.name"
                       class="form-control" placeholder="Enter campaign name" required>
            </div>
            <div class="form-group">
                <label>Campaign description  <span class="required-icon">*</span></label>
                <textarea rows="4" type="text" ng-model="newCampaignParams.description"
                          class="form-control"  placeholder='Enter campaign description' required></textarea>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Currency <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'Reward currency that will be credited to the user account.'"
                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="reward-multi-select">
                    <select chosen
                            data-placeholder-text-single="'Choose a currency'"
                            width="100"
                            ng-model="newCampaignParams.currency"
                            ng-options="currency.code + ' - ' + currency.description for currency in currencyOptions | orderBy: 'code'">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Start date <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'The starting date of the campaign.'"
                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="rewards-date">
                    <input type="text" class="form-control rewards-date-input custom-datepicker"
                           uib-datepicker-popup="{{dateObj.format}}" popup-placement="bottom-left"
                           ng-model="newCampaignParams.startDate"
                           show-button-bar="false" datepicker-options="{showWeeks: false}"
                           placeholder="{{companyDateFormatString | lowercase}}" is-open="popup1.opened" close-text="Close" required/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>End date <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'The ending date of the campaign.'"
                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="rewards-date">
                    <input type="text" class="form-control transaction-date-filter-input custom-datepicker"
                           uib-datepicker-popup="{{dateObj.format}}" popup-placement="bottom-left"
                           ng-model="newCampaignParams.endDate"
                           show-button-bar="false" datepicker-options="{showWeeks: false}"
                           placeholder="{{companyDateFormatString | lowercase}}" is-open="popup2.opened" close-text="Close" required/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default calender-button" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Reward total <span class="required-icon">*</span>
                    &nbsp;<i uib-tooltip-html="'The total amount of funds available in the campaign that can be issued to users.'"
                                             class="ion-information-circled setup-groups-tooltip"></i></label>
                <br>
                <input class="form-control" ng-model="newCampaignParams.rewardTotal" type="text" required>
            </div>
            <div class="form-group setup-groups-tooltip-div">
                <label>Amount type <span class="required-icon">*</span>
                    &nbsp;<i ng-show="newCampaignParams.amountType == 'Fixed'"
                             uib-tooltip-html="'When amount type is `Fixed` rewards are issued based on this reward amount.'"
                             class="ion-information-circled setup-groups-tooltip"></i>
                    <i ng-show="newCampaignParams.amountType == 'Percentage'"
                       uib-tooltip-html="'When amount type is `Percentage` the rewards are issued based on this percentage and of an amount specified when a reward is created/requested.'"
                       class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="form-inline">
                    <select class="form-control pointer short-dropdown"ng-model="newCampaignParams.amountType" ng-options="amountTypeOption for amountTypeOption in amountTypeOptions">
                    </select>

                    <input class="form-control short-input-text margin-left-12"
                           ng-show="(newCampaignParams.amountType == 'Fixed') || (newCampaignParams.amountType == 'Both')"
                           placeholder="Please enter a reward amount"
                           ng-model="newCampaignParams.rewardAmount" type="text">

                    <input ng-show="(newCampaignParams.amountType == 'Percentage') || (newCampaignParams.amountType == 'Both')"
                           class="form-control short-input-text margin-left-12"
                           placeholder="Please enter a reward percentage"
                           ng-model="newCampaignParams.rewardPercentage" type="text">
                </div>
            </div>
            <!--<div class="form-group setup-groups-tooltip-div">-->
                <!--<label>Reward amount <span class="required-icon">*</span>-->
                    <!--&nbsp;<i uib-tooltip-html="'The amount of funds each user will receive for a reward in this campaign.'"-->
                             <!--class="ion-information-circled setup-groups-tooltip"></i></label>-->
                <!--<br>-->
            <!--</div>-->
            <div class="form-group setup-groups-tooltip-div">
                <label>Account
                    <!--&nbsp;<i uib-tooltip-html="'Reward currency that will be credited to the user account.'"-->
                             <!--class="ion-information-circled setup-groups-tooltip"></i>-->
                </label>
                <div class="row">
                    <div class="reward-multi-select col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input class="form-control" ng-model="campaignUserEmailForAccount"
                               type="text" required placeholder="Enter email of user to list accounts"
                               uib-typeahead="email for email in getUsersEmailTypeahead($viewValue)"
                               ng-change="emailChanging()"
                               typeahead-on-select="onSelect($item, $model, $label)" ng-model-options='{ debounce: 800 }' >

                    </div>
                    <div ng-show="showAccountList && campaignUserEmailForAccount != ''" class="reward-multi-select col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <select chosen
                                data-placeholder-text-single="'Choose an account'"
                                width="100"
                                allow-single-deselect="true"
                                ng-model="newCampaignParams.account"
                                ng-options="account.name + ' - ' + account.reference for account in campaignUserAccounts | orderBy: 'name'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="divider-20 setup-groups-tooltip-div">
                <label>Campaign status &nbsp;<i uib-tooltip-html="'The status of a campaign. This will automatically change to expired after the end date or when the reward total balance has been depleted.'"
                                                class="ion-information-circled setup-groups-tooltip"></i></label>
                <div class="divider-20">
                    <div class="custom-radio-groups-btn">
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="newCampaignParams.status" value="active">
                            <span class="custom-radio-btn">Active</span>
                        </label>
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="newCampaignParams.status" value="disabled">
                            <span class="custom-radio-btn">Disabled</span>
                        </label>
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="newCampaignParams.status" value="expired">
                            <span class="custom-radio-btn">Expired</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a ng-click="showAdvancedOptions = true" class="pointer">Advanced options</a>
            </div>
            <div ng-show="showAdvancedOptions">
                <div class="form-group setup-groups-tooltip-div">
                    <label>Max per user
                        &nbsp;<i uib-tooltip-html="'The maximum times a user can receive a reward in this campaign.'"
                                                 class="ion-information-circled setup-groups-tooltip"></i></label>
                    <br>
                    <input class="form-control" ng-model="newCampaignParams.max_per_user" type="number">
                </div>
                <div class="form-group">
                    <label>Event</label>
                    <br>
                    <select class="form-control pointer" ng-model="newCampaignParams.event"
                            ng-options="event for event in eventOptions">
                    </select>
                </div>
                <div class="form-group divider-20 setup-groups-tooltip-div">
                    <label>Visible &nbsp;<i uib-tooltip-html="'This will make the campaign visible to users.'"
                                            class="ion-information-circled setup-groups-tooltip"></i></label>
                    <br>
                    <input class="custom-rehive-checkbox" ng-model="newCampaignParams.visible" type="checkbox">
                </div>
                <div class="form-group divider-20 setup-groups-tooltip-div">
                    <label>Request &nbsp;<i uib-tooltip-html="'This will make the campaign available for users to request a reward from.'"
                                            class="ion-information-circled setup-groups-tooltip"></i></label>
                    <br>
                    <input class="custom-rehive-checkbox" ng-model="newCampaignParams.request" type="checkbox">
                </div>
                <div class="form-group">
                    <label>Users</label>
                    <div class="reward-multi-select">
                        <tags-input ng-model="newCampaignParams.users" placeholder="Enter one or more user IDs.">
                            <auto-complete class="reward-tag-users-input" source="getUsersEmailTypeahead($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label>Groups</label>
                    <div class="reward-multi-select">
                        <tags-input ng-model="newCampaignParams.groups" placeholder="Enter one or more group name">
                            <auto-complete class="reward-tag-users-input" source="getGroupsTypeahead($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button ng-disabled="(!campaignForm.$valid || !newCampaignParams.currency.code)" ng-click="addCampaign(newCampaignParams)" class="btn btn-primary dashboard-btn pull-right">Add</button>
                <button ng-click="goToCampaignListView()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="addingCampaign" class="service-header" ba-panel>
    <loading-image></loading-image>
</div>


<!--<div class="form-group">-->
    <!--<label>Reward type</label>-->
    <!--<div class="reward-type-radio-groups">-->
        <!--<input class="margin-right-10 pointer" type="radio" ng-model="newCampaignParams.rewardType" value="basic">-->
        <!--<span class="reward-radio-type1">Basic</span>-->
        <!--<input class="horizontal-divider-40 margin-right-10 pointer" type="radio" ng-model="newCampaignParams.rewardType"-->
               <!--value="manual"> <span class="reward-radio-type2">Manual</span>-->
        <!--<input class="horizontal-divider-50 margin-right-10 pointer" type="radio" ng-model="newCampaignParams.rewardType"-->
               <!--value="automatic"> <span class="reward-radio-type3">Automatic</span>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
    <!--<label>Reward amount <span class="required-icon">*</span></label>-->
    <!--<br>-->
    <!--<input class="form-control" ng-model="newCampaignParams.rewardAmount" type="number" required>-->
<!--</div>-->
<!--<div class="form-group setup-groups-tooltip-div">-->
    <!--<label>Reward percentage &nbsp;<i uib-tooltip-html="'Add a percentage value if you want reward tokens to be issued based on the percentage of the award amount instead of by the reward amount.'"-->
                                      <!--class="ion-information-circled setup-groups-tooltip"></i></label>-->
    <!--<br>-->
    <!--<input class="form-control" ng-model="newCampaignParams.rewardPercentage" type="number">-->
<!--</div>-->

<!--<div class="form-group setup-groups-tooltip-div">-->
    <!--<label>Reward total &nbsp;<i uib-tooltip-html="'Total number of tokens available during the campaign.'"-->
                                 <!--class="ion-information-circled setup-groups-tooltip"></i></label>-->
    <!--<br>-->
    <!--<input class="form-control" ng-model="newCampaignParams.rewardTotal" type="number">-->
<!--</div>-->

<!--<div class="form-group">-->
    <!--<label>Groups</label>-->
    <!--<div class="reward-multi-select">-->
        <!--<tags-input ng-model="newCampaignParams.groups" placeholder="Enter one or more group name">-->
            <!--<auto-complete class="reward-tag-users-input" source="getGroupsTypeahead($query)"></auto-complete>-->
        <!--</tags-input>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
    <!--<label>Tags</label>-->
    <!--<div class="reward-multi-select">-->
        <!--<tags-input ng-model="newCampaignParams.tags" placeholder="Enter tags separated by a comma">-->
        <!--</tags-input>-->
    <!--</div>-->
<!--</div>-->
