<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 company-setup-col-8">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">User groups</span>
        </div>
        <div class="panel-body">
            <div class=" row divider-25">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p>Create user groups to categorise users to meet your requirements. </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label>Group name <span class="required-icon"></span></label>
                        <input type="text" class="form-control" ng-model="user.name"
                               placeholder="E.g. merchants" required
                               ng-change="user.name? user.name = user.name.toLowerCase():null;">
                    </div>
                    <div class="form-group">
                        <label>Group label <span class="required-icon"></span></label>
                        <input type="text" class="form-control" ng-model="user.label"
                               placeholder="Merchants">
                    </div>
                    <div class="form-group">
                        <label>Public</label>
                        <br>
                        <div data-tip="Allows users to allocate themselves to the group">
                            <input class="custom-rehive-checkbox" ng-model="user.public" type="checkbox">
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Default</label>
                        <br>
                        <div data-tip="Users will be allocated to the  default group automatically on registration">
                            <input class="custom-rehive-checkbox" ng-change="user.default? user.public=true:null"
                                   ng-model="user.default" type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <button ng-click="addUser(user)" ng-disabled="!user.name"
                                class="btn btn-primary pull-right dashboard-btn">Add
                        </button>
                    </div>

                </div>
            </div>
            <hr class="no-margin-horizontal divider-25">
            <div class="form-group">
                <button ng-click="goToNextView()" ng-disabled="setupUsers==1"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn">Skip
                </button>
                <button ng-click="skipAllView()"
                        class="btn btn-primary setup-skip-btn pull-left dashboard-btn margin-left-10">Skip all
                </button>
                <button ng-click="goToNextView()" ng-disabled="setupUsers==0"
                        class="btn btn-primary setup-next-btn pull-right dashboard-btn">Next
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 company-setup-col-2">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Added user groups</span>
        </div>
        <div class="panel-body">
            <div class="divider-20" ng-repeat="group in addedGroups" ng-class="{'no-margin-bottom': $last}">
                <span>{{group.name}}</span>
                <span class="pull-right pointer" ng-hide="group.name=='admin' || group.name=='service'"
                      ng-click="deleteGroup(group.name)">&#10006;</span>
            </div>
        </div>
    </div>
</div>