<div class="panel">
    <div class="panel-body">
        <div class="get-started-panel">
            <div class="flex-columns dashboard-currencies-code">ICON</div>
            <div class="flex-columns">
                <label>Introduction</label>
                <p>Rehive offers end-to-end solutions for fintech business needs. The mobile and web wallets are frontend applications through which end-users interact with the Rehive Platform.
                    The Dashboard is the middle layer through which admins interact with the Rehive Platform to manage configurations, accounting and operations for the business.</p><br>
                <p>See how your end-users experience your business and interact with your company via the web wallet by following the steps below.</p>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <div class="get-started-panel">
            <div class="flex-columns dashboard-currencies-code">ICON</div>
            <div class="flex-columns">
                <label>Register as a user</label>
                <div>In creating your company on Rehive you created an admin user. In this step you're going to register on your company as if you were an end-user wanting to
                    use your service. Click Open wallet and register.
                    <span class="get-started-text"> Don't use the same email address as your admin account - <i>your current admin email is <strong>{{adminEmail}}</strong></i></span>
                </div>
            </div>
        </div>
        <div class="get-started-panel">
            <div class="flex-columns"></div>
            <div class="flex-columns"></div>
            <div class="flex-columns">
                <button class="btn btn-primary" style="background-color: #5336FF;" ng-click="openWebWallet()">Open wallet</button>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <div class="get-started-panel">
            <div class="flex-columns dashboard-currencies-code">ICON</div>
            <div class="flex-columns">
                <label>Wallet home screen</label>
                <p>Congratulations on registering as a user! If you used our Rewards and Loyalty Wallet template you will see 20 DEMO tokens on your home screen.
                    These were credited to your user as part of a<span class="get-started-text"><strong> demo rewards campaign</strong></span> setup with the template.</p><br>
                <p>From here you can explore the wallet's features - try sending some of your DEMO tokens to a friend's email;
                    they'll receive an invite to Rehive and a notification of your transaction. Click Learn more to find out more about our application features.
                </p>
            </div>
        </div>
        <div class="get-started-panel">
            <div class="flex-columns"></div>
            <div class="flex-columns"></div>
            <div class="flex-columns">
                <button class="btn btn-primary" style="background-color: #5336FF;" ng-click="">Learn more</button>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <div class="get-started-panel">
            <div class="flex-columns dashboard-currencies-code">ICON</div>
            <div class="flex-columns">
                <label>Business case</label>
                <div>To learn more about how Rehive's solutions can be used in your business case contact one of our business consultants.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary" style="background-color: #5336FF;" ng-click="">Contact</button>
            </div>
        </div>
    </div>
</div>
<div>
    <button ng-click="goBackToGetStarted()" class="btn btn-default dashboard-btn" style="background-color: #ffffff">Back</button>
</div>