<div ng-hide="loadingGroups">
    <div ng-show="groups.length > 0" class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Groups</span>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr class="divider">
                    <th class="rehive-table-row-first-child">Name</th>
                    <th>Label</th>
                    <th>Default</th>
                    <th></th>
                </tr>
                <tr ng-repeat="group in groups">
                    <td class="transactions-list-element rehive-table-row-first-child" ng-bind="group.name"></td>
                    <td class="transactions-list-element" ng-bind="group.label || 'None'"></td>
                    <td class="transactions-list-element">
                        <input class="custom-rehive-checkbox" ng-model="group.default" type="checkbox" disabled>
                    </td>
                    <td class="rehive-table-row-last-child">
                        <a ng-hide="group.name == 'admin' || group.name == 'service'"
                           ng-click="openGroupManagementModal('app/pages/settings/groupsManagement/groupsManagementModal/groupsManagementModal.html','md',group)"
                           class="pull-right pointer">Delete</a>
                        <a ng-hide="group.name == 'admin' || group.name == 'service'" ng-click="goToGroup(group.name)"
                           class="pull-right pointer user-address-edit margin-right-30">Edit</a>
                    </td>
                </tr>
            </table>
            <div ng-show="groups.length > 0">
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="groupsData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getGroups()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Create group</span>
        </div>
        <div class="panel-body">
            <form name="groupForm" class="custom-form">
                <div class="form-group">
                    <label>Name <span class="required-icon">*</span></label>
                    <input type="text" ng-model="groupsParams.name" class="form-control"  placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" ng-model="groupsParams.label" class="form-control"  placeholder="Label">
                </div>
                <div class="form-group">
                    <label>Default</label>
                    <br>
                    <input class="custom-rehive-checkbox" ng-model="groupsParams.default" type="checkbox">
                </div>
                <div class="form-group">
                    <label>Public</label>
                    <br>
                    <input class="custom-rehive-checkbox" ng-model="groupsParams.public" type="checkbox">
                </div>
                <div class="form-group">
                    <button ng-click="addGroup(groupsParams)" ng-disabled="!groupForm.$valid" class="btn btn-primary dashboard-btn pull-right">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingGroups">
    <loading-image></loading-image>
</div>
