<div ng-hide="loadingRequestLogs" class="panel">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <div>
                <button ng-click="showRequestLogsFilters()" ng-class="{'transactions-filter-btn': (filtersCount > 0), 'transactions-btn': (filtersCount == 0)}"
                        class="btn btn-default">Filters
                    <span ng-show="filtersCount > 0">|</span> <span ng-show="filtersCount > 0" class="filter-count">{{filtersCount}}</span>
                </button>
                <div ng-show="showingFilters">
                    <request-logs-filters></request-logs-filters>
                </div>
            </div>
            <button ng-click="getRequestLogs('applyFilter')" class="btn btn-default transactions-btn panel-header-button">Refresh</button>
        </div>
    </div>
    <div class="panel-body">
        <div ng-show="requestLogs.length > 0" class="divider">
            <div class="draggable-table">
                <table class="table custom-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Key</th>
                        <th>Scheme</th>
                        <th>Path</th>
                        <th>Method</th>
                        <th>Content type</th>
                        <th>Status code</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="requestLog in requestLogs | orderBy:'-created'" data-toggle="modal"
                        class="editable-row center pointer user-details-table-hover" ng-click="goToRequestLog(requestLog)">
                        <td title="{{requestLog.id}}" class="transactions-list-element" ng-bind="requestLog.id"></td>
                        <td title="{{requestLog.user.email}}" class="transactions-list-element" ng-bind="requestLog.user.email"></td>
                        <td title="{{requestLog.key}}" class="transactions-list-element" ng-bind="requestLog.key"></td>
                        <td title="{{requestLog.scheme}}" class="transactions-list-element" ng-bind="requestLog.scheme"></td>
                        <td title="{{requestLog.path}}" class="transactions-list-element" ng-bind="requestLog.path"></td>
                        <td title="{{requestLog.method}}" class="transactions-list-element" ng-bind="requestLog.method"></td>
                        <td title="{{requestLog.content_type}}" class="transactions-list-element" ng-bind="requestLog.content_type"></td>
                        <td title="{{requestLog.status_code}}" class="transactions-list-element" ng-bind="requestLog.status_code"></td>
                        <td title="{{requestLog.created | date:'mediumDate'}} {{requestLog.created | date:'shortTime'}}"
                            class="transactions-list-element">
                            {{requestLog.created | date:'mediumDate'}} {{requestLog.created | date:'shortTime'}}
                        </td>
                        <td title="{{requestLog.updated | date:'mediumDate'}} {{requestLog.updated | date:'shortTime'}}"
                            class="transactions-list-element">
                            {{requestLog.updated | date:'mediumDate'}} {{requestLog.updated | date:'shortTime'}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="requestLogsData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getRequestLogs()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
        <div ng-show="requestLogs.length == 0">
            <i>No request logs found.</i>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingRequestLogs">
    <loading-image></loading-image>
</div>