<div ng-hide="loadingRequestLogs" ba-panel ba-panel-title="Request Logs">
    <div ng-show="requestLogs.length > 0" class="divider">
        <table class="table user-details-table table-striped table-hover">
            <tr>
                <th><strong>Id</strong></th>
                <th><strong>Key</strong></th>
                <th><strong>Url</strong></th>
                <th><strong>Method</strong></th>
                <th><strong>Status code</strong></th>
            </tr>
            <tr ng-repeat="requestLog in requestLogs | orderBy:'-created'" data-toggle="modal"
                class="editable-row center pointer" ng-click="goToRequestLog(requestLog)">
                <td><div title="{{requestLog.id}}" ng-bind="requestLog.id"></div></td>
                <td><div title="{{requestLog.key}}" class="transactions-list-element" ng-bind="requestLog.key"></div></td>
                <td><div title="{{requestLog.path}}" class="transactions-list-element" ng-bind="requestLog.path"></div></td>
                <td><div title="{{requestLog.method}}" class="transactions-list-element" ng-bind="requestLog.method"></div></td>
                <td><div title="{{requestLog.status_code}}" class="transactions-list-element" ng-bind="requestLog.status_code"></div></td>
            </tr>
        </table>
        <div>
            <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="requestLogsData.count" ng-model="pagination.pageNo"
               max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getRequestLogs()"
               previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingRequestLogs">
    <loading-image></loading-image>
</div>