<div ng-hide="loadingRequestLogs" class="panel">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <div>
                <button ng-click="showRequestLogsFilters()" ng-class="{'transactions-filter-btn': (filtersCount > 0), 'transactions-btn': (filtersCount == 0)}"
                        class="btn btn-default">Filters
                    <span ng-show="filtersCount > 0">|</span> <span ng-show="filtersCount > 0" class="filter-count">{{filtersCount}}</span>
                </button>
                <span  click-outside="closeColumnFiltersBox()">
                    <button ng-click="showColumnFilters()" class="btn dynamic-columns btn-default">Columns</button>
                    <div ng-show="showingColumnFilters">
                        <request-columns-filter></request-columns-filter>
                    </div>
                </span>
                <div ng-show="showingFilters">
                    <request-logs-filters></request-logs-filters>
                </div>
            </div>
            <button ng-click="getRequestLogs('applyFilter')" ng-disabled="loadingRequestLogs"
                    class="btn btn-default transactions-btn panel-header-button">Refresh</button>
        </div>
    </div>
    <div class="panel-body">
        <div ng-show="requestLogs.length > 0" class="divider">
            <div class="draggable-table">
                <!--draggable on-drag-end="tableColDrag($start, $target)"-->
                <table class="table custom-table table-striped">
                    <thead>
                    <tr>
                        <th ng-repeat="header in requestHeaderColumns" ng-if="header.visible"  ng-bind="header.colName"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="requestLog in requestLogs | orderBy:'-created'" data-toggle="modal"
                        class="editable-row center pointer user-details-table-hover" ng-click="goToRequestLog(requestLog)">
                        <td class="transactions-list-element" ng-repeat="header in requestHeaderColumns"
                            ng-if="header.visible" ng-bind="requestLog[header.fieldName]"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="requestLogsData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getRequestLogs()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
        <div ng-show="requestLogs.length == 0">
            <i>No request logs found.</i>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingRequestLogs">
    <loading-image></loading-image>
</div>