<content-top></content-top>
<div ng-hide="loadingServices" class="panel">
    <div class="panel-body">
        <form name="addServiceForm" class="custom-form">
            <div class="form-group">
                <label>Service type <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="selectedService.selected" ng-options="service.name for service in serviceListOptions" required>
                </select>
            </div>
            <div class="form-group">
                <button ng-disabled="!addServiceForm.$valid" ng-click="addServicePrompt(selectedService)" class="btn btn-primary dashboard-btn pull-right">Add</button>
                <button ng-click="goToServices()" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>
<div ba-panel ng-show="loadingServices">
    <loading-image></loading-image>
</div>