<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="user-details-panel-title">Pending credits</span>
            </div>
            <div class="panel-body">
                <table class="table user-details-table divider-20">
                    <tr>
                        <th>24h volume</th>
                        <th class="align-right">{{currencyObj.symbol}} {{currencyOverviewData.sum_24h_credits_pending | currencyModifiersFilter: currencyObj.divisibility}}</th>
                    </tr>
                    <tr>
                        <th>Total volume</th>
                        <th class="align-right">{{currencyObj.symbol}} {{currencyOverviewData.sum_credits_pending | currencyModifiersFilter: currencyObj.divisibility}}</th>
                    </tr>
                    <tr>
                        <th>Number of transactions</th>
                        <th class="align-right">{{currencyOverviewData.count_credits_pending}}</th>
                    </tr>
                </table>
                <button ng-click="goToPath('/transactions/credit/pending')" class="btn dashboard-btn btn-primary pull-right">Manage</button>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="user-details-panel-title">Pending debits</span>
            </div>
            <div class="panel-body">
                <table class="table user-details-table divider-20">
                    <tr>
                        <th>24h volume</th>
                        <th class="align-right">{{currencyObj.symbol}} {{currencyOverviewData.sum_24h_debits_pending | currencyModifiersFilter: currencyObj.divisibility}}</th>
                    </tr>
                    <tr>
                        <th>Total volume</th>
                        <th class="align-right">{{currencyObj.symbol}} {{currencyOverviewData.sum_debits_pending | currencyModifiersFilter: currencyObj.divisibility}}</th>
                    </tr>
                    <tr>
                        <th>Number of transactions</th>
                        <th class="align-right">{{currencyOverviewData.count_debits_pending}}</th>
                    </tr>
                </table>
                <button ng-click="goToPath('/transactions/debit/pending')" class="btn dashboard-btn btn-primary pull-right">Manage</button>
            </div>
        </div>
    </div>
</div>
